---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by/username/jack?expansions=pinned_tweet_id&user.fields=created_at%2Cdescription%2Cpublic_metrics%2Cverified
    method: GET
  response:
    body: '{"data":{"pinned_tweet_id":"1247616214769086465","username":"jack","verified":true,"id":"12","created_at":"2006-03-21T20:50:14.000Z","public_metrics":{"followers_count":6127687,"following_count":4513,"tweet_count":28198,"listed_count":31852},"description":"#bitcoin","name":"jack⚡️"},"includes":{"tweets":[{"id":"1247616214769086465","text":"I’m moving $1B of my Square equity (~28% of my wealth) to #startsmall LLC to fund global COVID-19 relief. After we disarm this pandemic, the focus will shift to girl’s health and education, and UBI. It will operate transparently, all flows tracked here: https://t.co/hVkUczDQmz"}]}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2dc7c4afebb8f20d061595a2a62c461a619b64d75a2752345dd7d9eeb3a2c64e
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1641764538"
      X-Response-Time:
      - "42"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets?expansions=entities.mentions.username&ids=1297524288245895168&tweet.fields=author_id%2Ccreated_at%2Centities
    method: GET
  response:
    body: '{"data":[{"text":"Today on @inlieuoffunshow, it''s Mystery Guest Sunday. I bring a mystery guest recommended by audience members yesterday. Who will it be?\n5:00 pm Eastern time.\nOn Crowdcast: https://t.co/N3pCyxcpZW \nOn YouTube: https://t.co/pUKPEg4UKz\nOn Facebook, or right here on Twitter.","id":"1297524288245895168","author_id":"186667011","entities":{"annotations":[{"start":201,"end":207,"probability":0.4142,"type":"Organization","normalized_text":"YouTube"},{"start":237,"end":244,"probability":0.5224,"type":"Organization","normalized_text":"Facebook"},{"start":264,"end":270,"probability":0.5724,"type":"Product","normalized_text":"Twitter"}],"urls":[{"start":173,"end":196,"url":"https://t.co/N3pCyxcpZW","expanded_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44","display_url":"crowdcast.io/e/in-lieu-of-f…","status":200,"unwound_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44"},{"start":210,"end":233,"url":"https://t.co/pUKPEg4UKz","expanded_url":"https://youtu.be/ua64SYY08rE","display_url":"youtu.be/ua64SYY08rE","status":200,"unwound_url":"https://www.youtube.com/watch?v=ua64SYY08rE&feature=youtu.be"}],"mentions":[{"start":9,"end":25,"username":"inlieuoffunshow","id":"1242605009205956608"}]},"created_at":"2020-08-23T13:21:11.000Z"}],"includes":{"users":[{"id":"1242605009205956608","name":"In Lieu of Fun Show","username":"inlieuoffunshow"}]}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2dc7c4afebb8f20d061595a2a62c461a619b64d75a2752345dd7d9eeb3a2c64e
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1641764538"
      X-Response-Time:
      - "55"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users?ids=12
    method: GET
  response:
    body: '{"data":[{"id":"12","name":"jack⚡️","username":"jack"}]}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2dc7c4afebb8f20d061595a2a62c461a619b64d75a2752345dd7d9eeb3a2c64e
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1641764538"
      X-Response-Time:
      - "26"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by?user.fields=pinned_tweet_id%2Cprofile_image_url%2Cpublic_metrics&usernames=kanyewest%2Cjack%2CPopehat
    method: GET
  response:
    body: '{"data":[{"username":"kanyewest","name":"ye","public_metrics":{"followers_count":30623405,"following_count":210,"tweet_count":1911,"listed_count":43405},"id":"169686021","profile_image_url":"https://pbs.twimg.com/profile_images/1276461929934942210/cqNhNk6v_normal.jpg","pinned_tweet_id":"1283507551586459648"},{"username":"jack","name":"jack⚡️","public_metrics":{"followers_count":6127687,"following_count":4513,"tweet_count":28198,"listed_count":31852},"id":"12","profile_image_url":"https://pbs.twimg.com/profile_images/1115644092329758721/AFjOr-K8_normal.jpg","pinned_tweet_id":"1247616214769086465"},{"username":"Popehat","name":"CeaseAndDeceaseHat","public_metrics":{"followers_count":283754,"following_count":1225,"tweet_count":220042,"listed_count":4055},"id":"18839937","profile_image_url":"https://pbs.twimg.com/profile_images/884879301190967296/oTCsTck5_normal.jpg","pinned_tweet_id":"1317118094133751808"}]}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2dc7c4afebb8f20d061595a2a62c461a619b64d75a2752345dd7d9eeb3a2c64e
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1641764538"
      X-Response-Time:
      - "34"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/12/followers?max_results=5&user.fields=verified
    method: GET
  response:
    body: '{"data":[{"name":"Nima D.","id":"25244095","verified":false,"username":"Kneemuh_Dee"},{"name":"Bianka Seres","id":"1296992974480371712","verified":false,"username":"seres_bianka"},{"name":"Dzmond Jolly","id":"1480287851464085508","verified":false,"username":"DzmondJolly"},{"name":"Ivoafsilva","id":"1480288557675724801","verified":false,"username":"ivoafsilva"},{"name":"trdfrgsn","id":"1480288294835568640","verified":false,"username":"brdfrgsn"}],"meta":{"result_count":5,"next_token":"9E8F1T5U1FI1EZZZ"}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2dc7c4afebb8f20d061595a2a62c461a619b64d75a2752345dd7d9eeb3a2c64e
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "13"
      X-Rate-Limit-Reset:
      - "1641764506"
      X-Response-Time:
      - "77"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1318922483496591360?list.fields=created_at%2Cdescription%2Cfollower_count%2Cmember_count
    method: GET
  response:
    body: '{"data":{"created_at":"2020-10-21T14:29:59.000Z","member_count":174,"id":"1318922483496591360","name":"In Lieu of Fun Guestlist","follower_count":74,"description":"Official Twitter guest list of the In Lieu of Fun Show."}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2dc7c4afebb8f20d061595a2a62c461a619b64d75a2752345dd7d9eeb3a2c64e
      X-Rate-Limit-Limit:
      - "75"
      X-Rate-Limit-Remaining:
      - "74"
      X-Rate-Limit-Reset:
      - "1641764538"
      X-Response-Time:
      - "35"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/1242605009205956608/owned_lists?list.fields=created_at%2Cdescription%2Cfollower_count%2Cmember_count
    method: GET
  response:
    body: '{"data":[{"name":"In Lieu of Fun Guestlist","created_at":"2020-10-21T14:29:59.000Z","description":"Official Twitter guest list of the In Lieu of Fun Show.","member_count":174,"id":"1318922483496591360","follower_count":74}],"meta":{"result_count":1}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2dc7c4afebb8f20d061595a2a62c461a619b64d75a2752345dd7d9eeb3a2c64e
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "14"
      X-Rate-Limit-Reset:
      - "1641764538"
      X-Response-Time:
      - "58"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/16431281/list_memberships?expansions=owner_id&list.fields=owner_id&user.fields=location
    method: GET
  response:
    body: '{"data":[{"id":"1345889115179536384","name":"Software","owner_id":"1056887880394641410"},{"id":"102663289","name":"software engineering","owner_id":"15123426"},{"id":"1103846010294394881","name":"Code","owner_id":"7303742"},{"id":"984169246044323840","name":"Machine Learning","owner_id":"91347803"},{"id":"1034516174535634955","name":"ml4pl","owner_id":"162422316"},{"id":"222201888","name":"Golang","owner_id":"15734187"},{"id":"110594012","name":"Machine Learning folks","owner_id":"14338766"},{"id":"197429","name":"Friends","owner_id":"15450122"},{"id":"2309040","name":"Dartmouth","owner_id":"13447902"}],"includes":{"users":[{"location":"Patagonia, Argentina","username":"OmarBessa","id":"1056887880394641410","name":"Pabli!"},{"username":"thierrymarianne","id":"15123426","name":"Thierry Marianne \uD83D\uDCD2"},{"username":"Damien_Neil","id":"7303742","name":"Damien Neil"},{"username":"ankurbohra","id":"91347803","name":"Ankur Bohra"},{"username":"Jan_Hula","id":"162422316","name":"Jan Hůla"},{"location":"Le Mans, Pays de la Loire","username":"christopheviaud","id":"15734187","name":"Christophe VIAUD"},{"location":"Toronto","username":"phil_renaud","id":"14338766","name":"Phil Renaud"},{"location":"Western NY, USA","username":"sushigrade","id":"15450122","name":"The Kandalorian"},{"location":"Tower of the Elephant''s Tusk","username":"copumpkin","id":"13447902","name":"Dan P"}]},"meta":{"result_count":9}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2dc7c4afebb8f20d061595a2a62c461a619b64d75a2752345dd7d9eeb3a2c64e
      X-Rate-Limit-Limit:
      - "75"
      X-Rate-Limit-Remaining:
      - "74"
      X-Rate-Limit-Reset:
      - "1641764538"
      X-Response-Time:
      - "119"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/186667011/followed_lists
    method: GET
  response:
    body: '{"data":[{"id":"1277227777087795201","name":"ilof-guests"},{"id":"1085257129060118528","name":"Israeli Politics"},{"id":"1212931737459810309","name":"Iran/Iraq & USFP"},{"id":"213535616","name":"Editors & Contributors"}],"meta":{"result_count":4}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2dc7c4afebb8f20d061595a2a62c461a619b64d75a2752345dd7d9eeb3a2c64e
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "14"
      X-Rate-Limit-Reset:
      - "1641764538"
      X-Response-Time:
      - "59"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1103846010294394881/members?max_results=5&user.fields=location
    method: GET
  response:
    body: '{"data":[{"name":"thepudds","username":"thepudds1","id":"1026228327886073856"},{"name":"Golang Weekly","location":"Sign up for the newsletter ⤵️","username":"golangweekly","id":"1112334438"},{"name":"Rob Pike","location":"Sydney, New South Wales","username":"rob_pike","id":"197263266"},{"name":"Cindy Sridharan","location":"San Francisco, CA","username":"copyconstruct","id":"161667651"},{"name":"francesc","location":"Sant Francesc, CA","username":"francesc","id":"122053508"}],"meta":{"result_count":5,"next_token":"4611686018549441412"}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2dc7c4afebb8f20d061595a2a62c461a619b64d75a2752345dd7d9eeb3a2c64e
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "899"
      X-Rate-Limit-Reset:
      - "1641764538"
      X-Response-Time:
      - "88"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1103846010294394881/members?max_results=5&pagination_token=4611686018549441412&user.fields=location
    method: GET
  response:
    body: '{"data":[{"username":"davidcrawshaw","id":"73774650","location":"Berkeley, CA","name":"David Crawshaw"},{"username":"_rsc","id":"22455722","name":"Russ Cox"},{"username":"_zombiezen_","id":"17980870","location":"Santa Barbara, CA","name":"Ross Light"},{"username":"apenwarr","id":"17744848","location":"Canada. Sometimes.","name":"apenwarr"},{"username":"emshort","id":"17288264","location":"Oxford, UK","name":"Emily Short"}],"meta":{"result_count":5,"next_token":"4611686018444676168","previous_token":"-4611686018501162554"}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2dc7c4afebb8f20d061595a2a62c461a619b64d75a2752345dd7d9eeb3a2c64e
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "898"
      X-Rate-Limit-Reset:
      - "1641764538"
      X-Response-Time:
      - "65"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/110594012/followers?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"1038199626522800128","name":"Deephaven Data Labs","username":"deephaven"},{"id":"340857592","name":"* * * * ** * * * * * * **** * * * * * * ** * * * *","username":"THEPHANTOM_____"},{"id":"14856395","name":"Robert Raesemann","username":"RobRaesemann"},{"id":"706763","name":"uɐɥʞʎl∀","username":"alykhan"},{"id":"93341008","name":"Hari","username":"sreeharips"}],"meta":{"result_count":5,"next_token":"1669124202417976865"}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2dc7c4afebb8f20d061595a2a62c461a619b64d75a2752345dd7d9eeb3a2c64e
      X-Rate-Limit-Limit:
      - "180"
      X-Rate-Limit-Remaining:
      - "179"
      X-Rate-Limit-Reset:
      - "1641764539"
      X-Response-Time:
      - "59"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1318922483496591360/tweets?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"1480290026307084294","text":"RT @SilentDawnLB: https://t.co/L6XmHy4IT1"},{"id":"1480290023371124744","text":"RT @XSovietNews: It kind of looks like the crises are with dictators desperately trying to control their people in Russia, Belarus[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Acreachadair+has%3Amentions
    method: GET
  response:
    body: '{"data":[{"id":"1480218818391601157","text":"@Klonick Not gonna lie, I love this."},{"id":"1479631037634265089","text":"@Klonick Three days later they broke down the doors. The crashing and screaming were found to be a recording; they had drunk all the champagne and absconded together leaving no forwarding address."},{"id":"1479347219564171264","text":"@galaxybloom_ We have met the enemy, and they are us."}],"meta":{"newest_id":"1480218818391601157","oldest_id":"1479347219564171264","result_count":3}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2dc7c4afebb8f20d061595a2a62c461a619b64d75a2752345dd7d9eeb3a2c64e
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "449"
      X-Rate-Limit-Reset:
      - "1641764539"
      X-Response-Time:
      - "63"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1480207376741502982","text":"Yes https://t.co/dkkxSM5NHS"},{"id":"1480201184665346053","text":"@scottjshapiro It’s not being inclusive"},{"id":"1480178575361941505","text":"It also makes you nauseous https://t.co/HfZ8jvuIul[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fpe45406rha3n2ff6079hd9y2s2pa5&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1480170584248041475","text":"https://t.co/QFNgIuTiJk"},{"id":"1480170580041158660","text":"A very special #BeastOfTheDay today to round out our Jan. 6 week of beasts [...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fpe194xk4uf02ucmycuw0ju4j3wuwt&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1479866570079883267","text":"It''s pretty amazing. THanks to all. https://t.co/GGUsWZLpnh"},{"id":"1479862248000602112","text":"#BeastOfTheDay followup https://t.co/i[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?max_results=10&query=from%3Abenjaminwittes+%22Today+on+%40inlieuoffunshow%22&tweet.fields=author_id%2Centities
    method: GET
  response:
    body: '{"data":[{"id":"1479530320055656456","entities":{"mentions":[{"start":9,"end":25,"username":"inlieuoffunshow","id":"1242605009205956608"},{"start":34,"end":45,"username":[...]
- request:
    body: '{"add":[{"value":"cat has:images lang:en","tag":"test english kittens whargarbl"}]}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules
    method: POST
  response:
    body: '{"data":[{"value":"cat has:images lang:en","tag":"test english kittens whargarbl","id":"1480290112265023489"}],"meta":{"sent":"2022-01-09T21:27:19.909Z","summary":{"created":1,"not_created":0,"valid":1,"invalid":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2dc7c4afebb8f20d061595a2a62c461a619b64d75a2752345dd7d9eeb3a2c64e
      X-Rate-Limit-Limit:
      - "50"
      X-Rate-Limit-Remaining:
      - "49"
      X-Rate-Limit-Reset:
      - "1641764539"
      X-Response-Time:
      - "83"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/stream/rules?ids=1480290112265023489
    method: GET
  response:
    body: '{"data":[{"id":"1480290112265023489","value":"cat has:images lang:en","tag":"test english kittens whargarbl"}],"meta":{"sent":"2022-01-09T21:27:19.998Z"}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2dc7c4afebb8f20d061595a2a62c461a619b64d75a2752345dd7d9eeb3a2c64e
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "449"
      X-Rate-Limit-Reset:
      - "1641764539"
      X-Response-Time:
      - "43"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"delete":{"ids":["1480290112265023489"]}}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules?dry_run=true
    method: POST
  response:
    body: '{"meta":{"sent":"2022-01-09T21:27:20.381Z","summary":{"deleted":1,"not_deleted":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2dc7c4afebb8f20d061595a2a62c461a619b64d75a2752345dd7d9eeb3a2c64e
      X-Rate-Limit-Limit:
      - "50"
      X-Rate-Limit-Remaining:
      - "48"
      X-Rate-Limit-Reset:
      - "1641764539"
      X-Response-Time:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/1.1/statuses/show.json?id=1297524288245895168&tweet_mode=extended
    method: GET
  response:
    body: '{"created_at":"Sun Aug 23 13:21:11 +0000 2020","id":1297524288245895168,"id_str":"1297524288245895168","full_text":"Today on @inlieuoffunshow, it''s Mystery Guest Sunday. I bring a mystery guest recommended by audience members yesterday. Who will it be?\n5:00 pm Eastern time.\nOn Crowdcast: https:\/\/t.co\/N3pCyxcpZW \nOn YouTube: https:\/\/t.co\/pUKPEg4UKz\nOn Facebook, or right here on Twitter.","truncated":false,"display_text_range":[0,272],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"inlieuoffunshow","name":"In Lieu of Fun Show","id":1242605009205956608,"id_str":"1242605009205956608","indices":[9,25]}],"urls":[{"url":"https:\/\/t.co\/N3pCyxcpZW","expanded_url":"https:\/\/www.crowdcast.io\/e\/in-lieu-of-fun-episode-44","display_url":"crowdcast.io\/e\/in-lieu-of-f\u2026","indices":[173,196]},{"url":"https:\/\/t.co\/pUKPEg4UKz","expanded_url":"https:\/\/youtu.be\/ua64SYY08rE","display_url":"youtu.be\/ua64SYY08rE","indices":[210,233]}]},"source":"\u003ca href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":186667011,"id_str":"186667011","name":"Benjamin Wittes","screen_name":"benjaminwittes","location":"Washington DC","description":"Senior Fellow at the @BrookingsInst. Editor in Chief of @lawfareblog. Cohost of @inlieuoffunshow. I will block you for any reason or none at all.","url":"https:\/\/t.co\/eNn7IXx0Av","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/eNn7IXx0Av","expanded_url":"http:\/\/www.lawfareblog.com","display_url":"lawfareblog.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":411466,"friends_count":2295,"listed_count":4967,"created_at":"Sat Sep 04 02:04:41 +0000 2010","favourites_count":6403,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":40907,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1478503080585043969\/tAKVz38__normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1478503080585043969\/tAKVz38__normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/186667011\/1630960375","profile_link_color":"981CEB","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":2,"favorite_count":11,"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 09 Jan 2022 21:27:20 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2dc7c4afebb8f20d061595a2a62c461a619b64d75a2752345dd7d9eeb3a2c64e
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "899"
      X-Rate-Limit-Reset:
      - "1641764540"
      X-Response-Time:
      - "24"
      X-Transaction:
      - 3d84f46870eda5c1
      X-Twitter-Response-Tags:
      - BouncerCompliant
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/sample/stream?tweet.fields=author_id%2Centities
    method: GET
  response:
    body: "{\"data\":{\"author_id\":\"2762336887\",\"entities\":{\"hashtags\":[{\"start\":13,\"end\":20,\"tag\":\"BeatLA\"},{\"start\":21,\"end\":26,\"tag\":\"FTTB\"}]},\"id\":\"1480290086176661511\",\"text\":\"IT’S TIME!!! #BeatLA #FTTB\"}}\r\n{\"data\":{\"author_id\":\"1473248163553333257\",\"entities\":{\"hashtags\":[{\"start\":72,\"end\":76,\"tag\":\"BSC\"},{\"start\":231,\"end\":243,\"tag\":\"LibriumTech\"},{\"start\":244,\"end\":251,\"tag\":\"Crypto\"},{\"start\":252,\"end\":260,\"tag\":\"Altcoin\"},{\"start\":261,\"end\":265,\"tag\":\"DEX\"},{\"start\":266,\"end\":271,\"tag\":\"DeFi\"},{\"start\":272,\"end\":279,\"tag\":\"BSCGem\"}],\"mentions\":[{\"start\":0,\"end\":16,\"username\":\"CryptoMobsterYT\",\"id\":\"93608509\"}],\"urls\":[{\"start\":206,\"end\":229,\"url\":\"https://t.co/PVyXA5pcXk\",\"expanded_url\":\"https://t.me/LibriumTechOfficial\",\"display_url\":\"t.me/LibriumTechOff…\",\"images\":[{\"url\":\"https://pbs.twimg.com/news_img/1480270611251269632/S4mBJ9kZ?format=jpg&name=orig\",\"width\":320,\"height\":320},{\"url\":\"https://pbs.twimg.com/news_img/1480270611251269632/S4mBJ9kZ?format=jpg&name=150x150\",\"width\":150,\"height\":150}],\"status\":200,\"title\":\"Librium Tech Official\",\"description\":\"A Dynamic Project With Innovative Tokenomics And Ever-Increasing Rewards. This is the Revolution\",\"unwound_url\":\"https://t.me/LibriumTechOfficial\"}]},\"id\":\"1480290086180638720\",\"text\":\"@CryptoMobsterYT \U0001F6A8\U0001F6A8 LibriumTech \U0001F6A8\U0001F6A8 \\n\\nThe most innovative project to hit #BSC \\n\\n\U0001F4A5Dynamic utilities \\n\U0001F4A5Staking\\n\U0001F4A5Eth bridge \\n\U0001F4A5LP rewards\\n\U0001F4A5Ever increasing mining backe[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/stream?tweet.fields=author_id
    method: GET
  response:
[...]
