---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by/username/jack?expansions=pinned_tweet_id&user.fields=created_at%2Cdescription%2Cpublic_metrics%2Cverified
    method: GET
  response:
    body: '{"data":{"description":"romantic moron, 1/8th hippie #bitcoin","pinned_tweet_id":"1247616214769086465","username":"jack","created_at":"2006-03-21T20:50:14.000Z","public_metrics":{"followers_count":6253848,"following_count":4568,"tweet_count":28382,"listed_count":32525},"verified":true,"name":"jack⚡️","id":"12"},"includes":{"tweets":[{"id":"1247616214769086465","text":"I’m
      moving $1B of my Square equity (~28% of my wealth) to #startsmall LLC to fund
      global COVID-19 relief. After we disarm this pandemic, the focus will shift
      to girl’s health and education, and UBI. It will operate transparently, all
      flows tracked here: https://t.co/hVkUczDQmz"}]}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 5e3fdd997b3fd1b5a9b5573485009561e0c5abe4291897615df2848874826d6a
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "296"
      X-Rate-Limit-Reset:
      - "1650085586"
      X-Response-Time:
      - "45"
    status: 200 OK
    code: 200
    duration: 298.941667ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets?expansions=entities.mentions.username&ids=1297524288245895168&tweet.fields=author_id%2Ccreated_at%2Centities
    method: GET
  response:
    body: '{"data":[{"author_id":"186667011","entities":{"urls":[{"start":173,"end":196,"url":"https://t.co/N3pCyxcpZW","expanded_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44","display_url":"crowdcast.io/e/in-lieu-of-f…","status":200,"unwound_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44"},{"start":210,"end":233,"url":"https://t.co/pUKPEg4UKz","expanded_url":"https://youtu.be/ua64SYY08rE","display_url":"youtu.be/ua64SYY08rE","status":200,"unwound_url":"https://www.youtube.com/watch?v=ua64SYY08rE&feature=youtu.be"}],"annotations":[{"start":201,"end":207,"probability":0.4142,"type":"Organization","normalized_text":"YouTube"},{"start":237,"end":244,"probability":0.5224,"type":"Organization","normalized_text":"Facebook"},{"start":264,"end":270,"probability":0.5724,"type":"Product","normalized_text":"Twitter"}],"mentions":[{"start":9,"end":25,"username":"inlieuoffunshow","id":"1242605009205956608"}]},"created_at":"2020-08-23T13:21:11.000Z","text":"Today
      on @inlieuoffunshow, it''s Mystery Guest Sunday. I bring a mystery guest recommended
      by audience members yesterday. Who will it be?\n5:00 pm Eastern time.\nOn Crowdcast:
      https://t.co/N3pCyxcpZW \nOn YouTube: https://t.co/pUKPEg4UKz\nOn Facebook,
      or right here on Twitter.","id":"1297524288245895168"}],"includes":{"users":[{"id":"1242605009205956608","name":"In
      Lieu of Fun Show","username":"inlieuoffunshow"}]}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 5e3fdd997b3fd1b5a9b5573485009561e0c5abe4291897615df2848874826d6a
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "296"
      X-Rate-Limit-Reset:
      - "1650085587"
      X-Response-Time:
      - "62"
    status: 200 OK
    code: 200
    duration: 138.287291ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/1515177881831321600/quote_tweets?max_results=15&tweet.fields=author_id%2Ccreated_at
    method: GET
  response:
    body: '{"data":[{"id":"1515189075082424324","author_id":"802703184","text":"RT
      @pmarca: https://t.co/zfu4vVUsaa","created_at":"2022-04-16T04:43:21.000Z"},{"id":"1515185814778568706","author_id":"12382541176650711[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/12/liked_tweets?expansions=author_id&max_results=10&tweet.fields=author_id
    method: GET
  response:
    body: '{"data":[{"author_id":"1081022379910881280","id":"1436039744752963592","text":"\uD83D\uDE02
      No comment. https://t.co/Q2thUGQ4Ke"},{"author_id":"6069072","id":"1435981254503981058","text":"two
      years at the bird[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/1039602865831010305/liking_users
    method: GET
  response:
    body: '{"data":[{"id":"14059525","name":"Oleg","username":"snowshade"},{"id":"1290812003683098624","name":"Mbele
      Davey","username":"mbeledavey"},{"id":"17575058","name":"Gonçalo","username":"goncalossilva"},{"id":"13655672","name":"Paulo
      Köch","username":"p[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users?ids=12
    method: GET
  response:
    body: '{"data":[{"id":"12","name":"jack⚡️","username":"jack"}]}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 5e3fdd997b3fd1b5a9b5573485009561e0c5abe4291897615df2848874826d6a
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "296"
      X-Rate-Limit-Reset:
      - "1650085589"
      X-Response-Time:
      - "27"
    status: 200 OK
    code: 200
    duration: 103.292291ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by?user.fields=pinned_tweet_id%2Cprofile_image_url%2Cpublic_metrics&usernames=kanyewest%2Cjack%2CPopehat
    method: GET
  response:
    body: '{"data":[{"username":"kanyewest","pinned_tweet_id":"1283507551586459648","name":"ye","id":"169686021","public_metrics":{"followers_count":30796135,"following_count":209,"tweet_count":1910,"listed_count":43446},"profile_image_url":"https://pbs.twimg.com/profile_images/1276461929934942210/cqNhNk6v_normal.jpg"},{"username":"jack","pinned_tweet_id":"1247616214769086465","name":"jack⚡️","id":"12","public_metrics":{"followers_count":6253848,"following_count":4568,"tweet_count":28382,"listed_count":32525},"profile_image_url":"https://pbs.twimg.com/profile_images/1115644092329758721/AFjOr-K8_normal.jpg"},{"username":"Popehat","pinned_tweet_id":"1508499393812393984","name":"USankMyBattleshipHat","id":"18839937","public_metrics":{"followers_count":295271,"following_count":1241,"tweet_count":226751,"listed_count":4189},"profile_image_url":"https://pbs.twimg.com/profile_images/884879301190967296/oTCsTck5_normal.jpg"}]}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 5e3fdd997b3fd1b5a9b5573485009561e0c5abe4291897615df2848874826d6a
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "296"
      X-Rate-Limit-Reset:
      - "1650085589"
      X-Response-Time:
      - "34"
    status: 200 OK
    code: 200
    duration: 110.463042ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/12/followers?max_results=5&user.fields=verified
    method: GET
  response:
    body: '{"data":[{"id":"343894156","username":"bentbiker61","verified":false,"name":"Ralf
      Kuhn"},{"id":"1485285904755445761","username":"jalelahsophia","verified":false,"name":"Jalelah
      Sophia Ahmed"},{"id":"1353302185","username":"big519er","verified":false,"name":"Leroy"},{"id":"1491526044746137604","username":"Alex_JDiniz","verified":false,"name":"Álex
      Diniz"},{"id":"59374099","username":"bbfriedman","verified":false,"name":"Ben
      Friedman"}],"meta":{"result_count":5,"next_token":"CKOMT8KU1C1HGZZZ"}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 5e3fdd997b3fd1b5a9b5573485009561e0c5abe4291897615df2848874826d6a
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "11"
      X-Rate-Limit-Reset:
      - "1650085589"
      X-Response-Time:
      - "59"
    status: 200 OK
    code: 200
    duration: 133.421875ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/16431281/following?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"203722847","name":"William Banfield","username":"BillyBamf"},{"id":"760579","name":"tychoish
      (sam)","username":"tychoish"},{"id":"829712328375414785","name":"Shahms King","username":"shahmsking"},{"id":"1351114532408668163","name":"Shit
      User Story","username":"ShitUserStory"},{"id":"1232783237623119872","name":"NASA''s
      Perseverance Mars Rover","username":"NASAPersevere"}],"meta":{"result_count":5,"next_token":"588UVIGUF5THEZZZ"}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 5e3fdd997b3fd1b5a9b5573485009561e0c5abe4291897615df2848874826d6a
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "11"
      X-Rate-Limit-Reset:
      - "1650085589"
      X-Response-Time:
      - "46"
    status: 200 OK
    code: 200
    duration: 119.809375ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1318922483496591360?list.fields=created_at%2Cdescription%2Cfollower_count%2Cmember_count
    method: GET
  response:
    body: '{"data":{"name":"In Lieu of Fun Guestlist","description":"Official Twitter
      guest list of the In Lieu of Fun Show.","id":"1318922483496591360","member_count":174,"follower_count":75,"created_at":"2020-10-21T14:29:59.000Z"}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 5e3fdd997b3fd1b5a9b5573485009561e0c5abe4291897615df2848874826d6a
      X-Rate-Limit-Limit:
      - "75"
      X-Rate-Limit-Remaining:
      - "71"
      X-Rate-Limit-Reset:
      - "1650085590"
      X-Response-Time:
      - "36"
    status: 200 OK
    code: 200
    duration: 111.063333ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/1242605009205956608/owned_lists?list.fields=created_at%2Cdescription%2Cfollower_count%2Cmember_count
    method: GET
  response:
    body: '{"data":[{"description":"Official Twitter guest list of the In Lieu of
      Fun Show.","member_count":174,"follower_count":75,"created_at":"2020-10-21T14:29:59.000Z","name":"In
      Lieu of Fun Guestlist","id":"1318922483496591360"}],"meta":{"result_count":1}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 5e3fdd997b3fd1b5a9b5573485009561e0c5abe4291897615df2848874826d6a
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "11"
      X-Rate-Limit-Reset:
      - "1650085590"
      X-Response-Time:
      - "60"
    status: 200 OK
    code: 200
    duration: 134.766ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/16431281/list_memberships?expansions=owner_id&list.fields=owner_id&user.fields=location
    method: GET
  response:
    body: '{"data":[{"id":"1345889115179536384","name":"Software","owner_id":"1056887880394641410"},{"id":"102663289","name":"software
      engineering","owner_id":"15123426"},{"id":"1103846010294394881","name":"Code","owner_id":"7303742"},{"id":"984169246044323840","name":"Machine
      Learning","owner_id":"91347803"},{"id":"1034516174535634955","name":"ml4pl","owner_id":"162422316"},{"id":"222201888","name":"Golang","owner_id":"15734187"},{"id":"110594012","name":"Machine
      Learning folks","owner_id":"14338766"},{"id":"197429","name":"Friends","owner_id":"15450122"},{"id":"2309040","name":"Dartmouth","owner_id":"13447902"}],"includes":{"users":[{"username":"OmarBessa","name":"Pabli!
      \uD83C\uDDFA\uD83C\uDDE6","id":"1056887880394641410","location":"Patagonia,
      Argentina"},{"username":"thierrymarianne","name":"Thierry Marianne \uD83D\uDCD2","id":"15123426"},{"username":"Damien_Neil","name":"Damien
      Neil","id":"7303742"},{"username":"ankurbohra","name":"Ankur Bohra","id":"91347803"},{"username":"Jan_Hula","name":"Jan
      Hůla","id":"162422316"},{"username":"christopheviaud","name":"Christophe VIAUD","id":"15734187","location":"Le
      Mans, Pays de la Loire"},{"username":"phil_renaud","name":"Phil Renaud","id":"14338766","location":"Toronto"},{"username":"sushigrade","name":"The
      Kandalorian","id":"15450122","location":"Western NY, USA"},{"username":"copumpkin","name":"Dan
      P","id":"13447902","location":"Tower of the Elephant''s Tusk"}]},"meta":{"result_count":9}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 5e3fdd997b3fd1b5a9b5573485009561e0c5abe4291897615df2848874826d6a
      X-Rate-Limit-Limit:
      - "75"
      X-Rate-Limit-Remaining:
      - "71"
      X-Rate-Limit-Reset:
      - "1650085590"
      X-Response-Time:
      - "135"
    status: 200 OK
    code: 200
    duration: 209.286208ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/186667011/followed_lists
    method: GET
  response:
    body: '{"data":[{"id":"1498457571216134144","name":"Ukraine: latest news"},{"id":"1277227777087795201","name":"ilof-guests"},{"id":"213535616","name":"Editors
      & Contributors"}],"meta":{"result_count":3}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 5e3fdd997b3fd1b5a9b5573485009561e0c5abe4291897615df2848874826d6a
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "11"
      X-Rate-Limit-Reset:
      - "1650085591"
      X-Response-Time:
      - "56"
    status: 200 OK
    code: 200
    duration: 130.790209ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1103846010294394881/members?max_results=5&user.fields=location
    method: GET
  response:
    body: '{"data":[{"id":"1026228327886073856","username":"thepudds1","name":"thepudds"},{"id":"1112334438","location":"Sign
      up for the newsletter ⤵️","username":"golangweekly","name":"Golang Weekly"},{"id":"197263266","location":"Sydney,
      New South Wales","username":"rob_pike","name":"Rob Pike"},{"id":"161667651","location":"San
      Francisco, CA","username":"copyconstruct","name":"Cindy Sridharan"},{"id":"122053508","location":"Sant
      Francesc, CA","username":"francesc","name":"francesc"}],"meta":{"result_count":5,"next_token":"4611686018549441412"}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 5e3fdd997b3fd1b5a9b5573485009561e0c5abe4291897615df2848874826d6a
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "890"
      X-Rate-Limit-Reset:
      - "1650085591"
      X-Response-Time:
      - "59"
    status: 200 OK
    code: 200
    duration: 136.743916ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1103846010294394881/members?max_results=5&pagination_token=4611686018549441412&user.fields=location
    method: GET
  response:
    body: '{"data":[{"username":"davidcrawshaw","name":"David Crawshaw","id":"73774650","location":"Berkeley,
      CA"},{"username":"_rsc","name":"Russ Cox","id":"22455722"},{"username":"_zombiezen_","name":"Ross
      Light","id":"17980870","location":"Santa Barbara, CA"},{"username":"apenwarr","name":"apenwarr","id":"17744848","location":"Canada.
      Sometimes."},{"username":"emshort","name":"Emily Short","id":"17288264","location":"Oxford,
      UK"}],"meta":{"result_count":5,"next_token":"4611686018444676168","previous_token":"-4611686018501162554"}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 5e3fdd997b3fd1b5a9b5573485009561e0c5abe4291897615df2848874826d6a
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "889"
      X-Rate-Limit-Reset:
      - "1650085591"
      X-Response-Time:
      - "70"
    status: 200 OK
    code: 200
    duration: 145.52925ms
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/110594012/followers?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"1038199626522800128","name":"Deephaven Data Labs","username":"deephaven"},{"id":"340857592","name":"*
      * * * ** **************************** ** * * * *","username":"THEPHANTOM_____"},{"id":"13584132","name":"Ravi
      Visvesvaraya Sharada Prasad, Telecom InfoTech","username":"rvp"},{"id":"14856395","name":"Robert
      Raesemann","username":"RobRaesemann"},{"id":"706763","name":"uɐɥʞʎl∀","username":"alykhan"}],"meta":{"result_count":5,"next_token":"1673934451707431864"}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 5e3fdd997b3fd1b5a9b5573485009561e0c5abe4291897615df2848874826d6a
      X-Rate-Limit-Limit:
      - "180"
      X-Rate-Limit-Remaining:
      - "176"
      X-Rate-Limit-Reset:
      - "1650085592"
      X-Response-Time:
      - "78"
    status: 200 OK
    code: 200
    duration: 152.910375ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1318922483496591360/tweets?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"1515187259749781512","text":"Ichiro showing good stuff
      tonight but remember this was only seven year ago... https://t.co/VzkGwDYCTi
      https://t.co/QhJ3gM2V01"},{"id":"1515179144082083842","text":"RT @TimBeiko:
      @laurashin If[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Acreachadair+has%3Amentions
    method: GET
  response:
    body: '{"data":[{"id":"1514997878682316800","text":"@tychoish Have you done your
      dynamic program yet?"}],"meta":{"newest_id":"1514997878682316800","oldest_id":"1514997878682316800","result_count":1}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 5e3fdd997b3fd1b5a9b5573485009561e0c5abe4291897615df2848874826d6a
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "434"
      X-Rate-Limit-Reset:
      - "1650085592"
      X-Response-Time:
      - "52"
    status: 200 OK
    code: 200
    duration: 126.371084ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1515157906961977347","text":"I don’t deeply care who owns
      Twitter."},{"id":"1515151741708288001","text":"Live near a Russian diplomatic
      facility?\nYou know what to do, people. https://t.co/jTJ3iB90s6"},{"id":"15[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fpytn4aczulfdks55e0z98jadj0s59&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1515053932543885319","text":"This is excellent \nI confess
      though, the music I think of whenever I see this video is Henry Mancini’s The
      Pink Panther! htt[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fpytn4abhrxjaxz1kie2upjpzh5c3h&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1514975937619759115","text":"Word https://t.co/uKyjjOQriy"},{"id":"1514958217356394496","text":"Hint:
      It was a lousy model for Finland, and it''s not a good mod[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?max_results=10&query=wordle+has%3Aimages&tweet.fields=author_id%2Centities
    method: GET
  response:
    body: '{"data":[{"entities":{"urls":[{"start":103,"end":126,"url":"https://t.co/7U2DoNkU9c","expanded_url":"https://twitter.com/ByTimBooth/status/1515166753952710657/photo/1","display_url":"pic.twitter.com/7U2DoNk[...]
- request:
    body: '{"add":[{"value":"cat has:images lang:en","tag":"test english kittens whargarbl"}]}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules
    method: POST
  response:
    body: '{"data":[{"value":"cat has:images lang:en","tag":"test english kittens
      whargarbl","id":"1515192403346395145"}],"meta":{"sent":"2022-04-16T04:56:34.573Z","summary":{"created":1,"not_created":0,"valid":1,"invalid":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 5e3fdd997b3fd1b5a9b5573485009561e0c5abe4291897615df2848874826d6a
      X-Rate-Limit-Limit:
      - "50"
      X-Rate-Limit-Remaining:
      - "30"
      X-Rate-Limit-Reset:
      - "1650085594"
      X-Response-Time:
      - "116"
    status: 201 Created
    code: 201
    duration: 194.706458ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/stream/rules?ids=1515192403346395145
    method: GET
  response:
    body: '{"data":[{"id":"1515192403346395145","value":"cat has:images lang:en","tag":"test
      english kittens whargarbl"}],"meta":{"sent":"2022-04-16T04:56:34.918Z"}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 5e3fdd997b3fd1b5a9b5573485009561e0c5abe4291897615df2848874826d6a
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "432"
      X-Rate-Limit-Reset:
      - "1650085595"
      X-Response-Time:
      - "48"
    status: 200 OK
    code: 200
    duration: 122.333458ms
[...]
- request:
    body: '{"delete":{"ids":["1515192403346395145"]}}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules?dry_run=true
    method: POST
  response:
    body: '{"meta":{"sent":"2022-04-16T04:56:35.691Z","summary":{"deleted":1,"not_deleted":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 5e3fdd997b3fd1b5a9b5573485009561e0c5abe4291897615df2848874826d6a
      X-Rate-Limit-Limit:
      - "50"
      X-Rate-Limit-Remaining:
      - "29"
      X-Rate-Limit-Reset:
      - "1650085594"
      X-Response-Time:
      - "84"
    status: 200 OK
    code: 200
    duration: 160.091708ms
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/1.1/statuses/show.json?id=1297524288245895168&tweet_mode=extended
    method: GET
  response:
    body: '{"created_at":"Sun Aug 23 13:21:11 +0000 2020","id":1297524288245895168,"id_str":"1297524288245895168","full_text":"Today
      on @inlieuoffunshow, it''s Mystery Guest Sunday. I bring a mystery guest recommended
      by audience members yesterday. Who will it be?\n5:00 pm Eastern time.\nOn Crowdcast:
      https:\/\/t.co\/N3pCyxcpZW \nOn YouTube: https:\/\/t.co\/pUKPEg4UKz\nOn Facebook,
      or right here on Twitter.","truncated":false,"display_text_range":[0,272],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"inlieuoffunshow","name":"In
      Lieu of Fun Show","id":1242605009205956608,"id_str":"1242605009205956608","indices":[9,25]}],"urls":[{"url":"https:\/\/t.co\/N3pCyxcpZW","expanded_url":"https:\/\/www.crowdcast.io\/e\/in-lieu-of-fun-episode-44","display_url":"crowdcast.io\/e\/in-lieu-of-f\u2026","indices":[173,196]},{"url":"https:\/\/t.co\/pUKPEg4UKz","expanded_url":"https:\/\/youtu.be\/ua64SYY08rE","display_url":"youtu.be\/ua64SYY08rE","indices":[210,233]}]},"source":"\u003ca
      href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":186667011,"id_str":"186667011","name":"Benjamin
      Wittes","screen_name":"benjaminwittes","location":"Washington DC","description":"Senior
      Fellow at the @BrookingsInst. Editor in Chief of @lawfareblog. Cohost of @inlieuoffunshow.
      \"Not even a lawyer.\" I will block you for any reason or none.","url":"https:\/\/t.co\/eNn7IXx0Av","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/eNn7IXx0Av","expanded_url":"http:\/\/www.lawfareblog.com","display_url":"lawfareblog.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":420355,"friends_count":2455,"listed_count":5063,"created_at":"Sat
      Sep 04 02:04:41 +0000 2010","favourites_count":6975,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":43693,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1495873720774279178\/YTtqSDAU_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1495873720774279178\/YTtqSDAU_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/186667011\/1630960375","profile_link_color":"981CEB","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":11,"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"}'
    headers:
[...]
