---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by/username/jack?expansions=pinned_tweet_id&user.fields=created_at%2Cdescription%2Cpublic_metrics%2Cverified
    method: GET
  response:
    body: '{"data":{"id":"12","created_at":"2006-03-21T20:50:14.000Z","username":"jack","pinned_tweet_id":"1247616214769086465","name":"jack⚡️","public_metrics":{"followers_count":6168288,"following_count":4528,"tweet_count":28246,"listed_count":32030},"verified":true,"description":"#bitcoin"},"includes":{"tweets":[{"id":"1247616214769086465","text":"I’m
      moving $1B of my Square equity (~28% of my wealth) to #startsmall LLC to fund
      global COVID-19 relief. After we disarm this pandemic, the focus will shift
      to girl’s health and education, and UBI. It will operate transparently, all
      flows tracked here: https://t.co/hVkUczDQmz"}]}}'
    headers:
      Api-Version:
      - "2.35"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 0cd56c25b1ea573549b6b2987816d00709adc3bafa149936962fe1bdb3b1e19e
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1643171293"
      X-Response-Time:
      - "44"
    status: 200 OK
    code: 200
    duration: 264.255662ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets?expansions=entities.mentions.username&ids=1297524288245895168&tweet.fields=author_id%2Ccreated_at%2Centities
    method: GET
  response:
    body: '{"data":[{"author_id":"186667011","id":"1297524288245895168","entities":{"urls":[{"start":173,"end":196,"url":"https://t.co/N3pCyxcpZW","expanded_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44","display_url":"crowdcast.io/e/in-lieu-of-f…","status":200,"unwound_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44"},{"start":210,"end":233,"url":"https://t.co/pUKPEg4UKz","expanded_url":"https://youtu.be/ua64SYY08rE","display_url":"youtu.be/ua64SYY08rE","status":200,"unwound_url":"https://www.youtube.com/watch?v=ua64SYY08rE&feature=youtu.be"}],"annotations":[{"start":201,"end":207,"probability":0.4142,"type":"Organization","normalized_text":"YouTube"},{"start":237,"end":244,"probability":0.5224,"type":"Organization","normalized_text":"Facebook"},{"start":264,"end":270,"probability":0.5724,"type":"Product","normalized_text":"Twitter"}],"mentions":[{"start":9,"end":25,"username":"inlieuoffunshow","id":"1242605009205956608"}]},"created_at":"2020-08-23T13:21:11.000Z","text":"Today
      on @inlieuoffunshow, it''s Mystery Guest Sunday. I bring a mystery guest recommended
      by audience members yesterday. Who will it be?\n5:00 pm Eastern time.\nOn Crowdcast:
      https://t.co/N3pCyxcpZW \nOn YouTube: https://t.co/pUKPEg4UKz\nOn Facebook,
      or right here on Twitter."}],"includes":{"users":[{"id":"1242605009205956608","name":"In
      Lieu of Fun Show","username":"inlieuoffunshow"}]}}'
    headers:
      Api-Version:
      - "2.35"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 0cd56c25b1ea573549b6b2987816d00709adc3bafa149936962fe1bdb3b1e19e
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1643171293"
      X-Response-Time:
      - "78"
    status: 200 OK
    code: 200
    duration: 108.640544ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/12/liked_tweets?expansions=author_id&max_results=10&tweet.fields=author_id
    method: GET
  response:
    body: '{"data":[{"author_id":"19721574","id":"1486139620316172292","text":"If
      you ask the government for permission to launch a viable alternative currency
      outside of their control, they aren’t going to say yes.\n\nH[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/1039602865831010305/liking_users
    method: GET
  response:
    body: '{"data":[{"id":"14059525","name":"Oleg","username":"snowshade"},{"id":"1290812003683098624","name":"Mbele
      Davey","username":"mbeledavey"},{"id":"17575058","name":"Gonçalo","username":"goncalossilva"},{"id":"13655672","name":"Paulo
      Köch","username":"p[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users?ids=12
    method: GET
  response:
    body: '{"data":[{"id":"12","name":"jack⚡️","username":"jack"}]}'
    headers:
      Api-Version:
      - "2.35"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 0cd56c25b1ea573549b6b2987816d00709adc3bafa149936962fe1bdb3b1e19e
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1643171294"
      X-Response-Time:
      - "33"
    status: 200 OK
    code: 200
    duration: 56.922853ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by?user.fields=pinned_tweet_id%2Cprofile_image_url%2Cpublic_metrics&usernames=kanyewest%2Cjack%2CPopehat
    method: GET
  response:
    body: '{"data":[{"name":"ye","public_metrics":{"followers_count":30607723,"following_count":209,"tweet_count":1911,"listed_count":43408},"profile_image_url":"https://pbs.twimg.com/profile_images/1276461929934942210/cqNhNk6v_normal.jpg","id":"169686021","username":"kanyewest","pinned_tweet_id":"1283507551586459648"},{"name":"jack⚡️","public_metrics":{"followers_count":6168288,"following_count":4528,"tweet_count":28246,"listed_count":32030},"profile_image_url":"https://pbs.twimg.com/profile_images/1115644092329758721/AFjOr-K8_normal.jpg","id":"12","username":"jack","pinned_tweet_id":"1247616214769086465"},{"name":"TechnicallyAHat","public_metrics":{"followers_count":284667,"following_count":1226,"tweet_count":220778,"listed_count":4062},"profile_image_url":"https://pbs.twimg.com/profile_images/884879301190967296/oTCsTck5_normal.jpg","id":"18839937","username":"Popehat","pinned_tweet_id":"1317118094133751808"}]}'
    headers:
      Api-Version:
      - "2.35"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 0cd56c25b1ea573549b6b2987816d00709adc3bafa149936962fe1bdb3b1e19e
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1643171294"
      X-Response-Time:
      - "38"
    status: 200 OK
    code: 200
    duration: 62.306447ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/12/followers?max_results=5&user.fields=verified
    method: GET
  response:
    body: '{"data":[{"username":"drey_hu","name":"HuDrey","id":"1486177407388499971","verified":false},{"username":"hellodeepak9801","name":"Deepak
      Kumar","id":"1482667452601614337","verified":false},{"username":"George594365591","name":"AMG","id":"1369257791857307650","verified":false},{"username":"_humminbrd","name":"Working
      on it.","id":"113271073","verified":false},{"username":"AriesArain11311","name":"رافعہ
      فردوس","id":"1287278514174144513","verified":false}],"meta":{"result_count":5,"next_token":"75M4C72397KHEZZZ"}}'
    headers:
      Api-Version:
      - "2.35"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 0cd56c25b1ea573549b6b2987816d00709adc3bafa149936962fe1bdb3b1e19e
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "14"
      X-Rate-Limit-Reset:
      - "1643171295"
      X-Response-Time:
      - "55"
    status: 200 OK
    code: 200
    duration: 78.931605ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/16431281/following?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"203722847","name":"William Banfield","username":"BillyBamf"},{"id":"760579","name":"tychoish
      (sam)","username":"tychoish"},{"id":"829712328375414785","name":"Shahms King","username":"shahmsking"},{"id":"1351114532408668163","name":"Shit
      User Story","username":"ShitUserStory"},{"id":"1232783237623119872","name":"NASA''s
      Perseverance Mars Rover","username":"NASAPersevere"}],"meta":{"result_count":5,"next_token":"588UVIGUF5THEZZZ"}}'
    headers:
      Api-Version:
      - "2.35"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 0cd56c25b1ea573549b6b2987816d00709adc3bafa149936962fe1bdb3b1e19e
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "14"
      X-Rate-Limit-Reset:
      - "1643171295"
      X-Response-Time:
      - "51"
    status: 200 OK
    code: 200
    duration: 74.49136ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1318922483496591360?list.fields=created_at%2Cdescription%2Cfollower_count%2Cmember_count
    method: GET
  response:
    body: '{"data":{"created_at":"2020-10-21T14:29:59.000Z","member_count":174,"name":"In
      Lieu of Fun Guestlist","id":"1318922483496591360","description":"Official Twitter
      guest list of the In Lieu of Fun Show.","follower_count":74}}'
    headers:
      Api-Version:
      - "2.35"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 0cd56c25b1ea573549b6b2987816d00709adc3bafa149936962fe1bdb3b1e19e
      X-Rate-Limit-Limit:
      - "75"
      X-Rate-Limit-Remaining:
      - "74"
      X-Rate-Limit-Reset:
      - "1643171295"
      X-Response-Time:
      - "34"
    status: 200 OK
    code: 200
    duration: 57.654311ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/1242605009205956608/owned_lists?list.fields=created_at%2Cdescription%2Cfollower_count%2Cmember_count
    method: GET
  response:
    body: '{"data":[{"follower_count":74,"id":"1318922483496591360","created_at":"2020-10-21T14:29:59.000Z","member_count":174,"name":"In
      Lieu of Fun Guestlist","description":"Official Twitter guest list of the In
      Lieu of Fun Show."}],"meta":{"result_count":1}}'
    headers:
      Api-Version:
      - "2.35"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 0cd56c25b1ea573549b6b2987816d00709adc3bafa149936962fe1bdb3b1e19e
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "14"
      X-Rate-Limit-Reset:
      - "1643171295"
      X-Response-Time:
      - "58"
    status: 200 OK
    code: 200
    duration: 81.830764ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/16431281/list_memberships?expansions=owner_id&list.fields=owner_id&user.fields=location
    method: GET
  response:
    body: '{"data":[{"id":"1345889115179536384","name":"Software","owner_id":"1056887880394641410"},{"id":"102663289","name":"software
      engineering","owner_id":"15123426"},{"id":"1103846010294394881","name":"Code","owner_id":"7303742"},{"id":"984169246044323840","name":"Machine
      Learning","owner_id":"91347803"},{"id":"1034516174535634955","name":"ml4pl","owner_id":"162422316"},{"id":"222201888","name":"Golang","owner_id":"15734187"},{"id":"110594012","name":"Machine
      Learning folks","owner_id":"14338766"},{"id":"197429","name":"Friends","owner_id":"15450122"},{"id":"2309040","name":"Dartmouth","owner_id":"13447902"}],"includes":{"users":[{"id":"1056887880394641410","username":"OmarBessa","location":"Patagonia,
      Argentina","name":"Pabli!"},{"id":"15123426","username":"thierrymarianne","name":"Thierry
      Marianne \uD83D\uDCD2"},{"id":"7303742","username":"Damien_Neil","name":"Damien
      Neil"},{"id":"91347803","username":"ankurbohra","name":"Ankur Bohra"},{"id":"162422316","username":"Jan_Hula","name":"Jan
      Hůla"},{"id":"15734187","username":"christopheviaud","location":"Le Mans, Pays
      de la Loire","name":"Christophe VIAUD"},{"id":"14338766","username":"phil_renaud","location":"Toronto","name":"Phil
      Renaud"},{"id":"15450122","username":"sushigrade","location":"Western NY, USA","name":"The
      Kandalorian"},{"id":"13447902","username":"copumpkin","location":"Tower of the
      Elephant''s Tusk","name":"Dan P"}]},"meta":{"result_count":9}}'
    headers:
      Api-Version:
      - "2.35"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 0cd56c25b1ea573549b6b2987816d00709adc3bafa149936962fe1bdb3b1e19e
      X-Rate-Limit-Limit:
      - "75"
      X-Rate-Limit-Remaining:
      - "74"
      X-Rate-Limit-Reset:
      - "1643171295"
      X-Response-Time:
      - "107"
    status: 200 OK
    code: 200
    duration: 130.699081ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/186667011/followed_lists
    method: GET
  response:
    body: '{"data":[{"id":"1277227777087795201","name":"ilof-guests"},{"id":"1085257129060118528","name":"Israeli
      Politics"},{"id":"1212931737459810309","name":"Iran/Iraq & USFP"},{"id":"213535616","name":"Editors
      & Contributors"}],"meta":{"result_count":4}}'
    headers:
      Api-Version:
      - "2.35"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 0cd56c25b1ea573549b6b2987816d00709adc3bafa149936962fe1bdb3b1e19e
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "14"
      X-Rate-Limit-Reset:
      - "1643171295"
      X-Response-Time:
      - "63"
    status: 200 OK
    code: 200
    duration: 86.997227ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1103846010294394881/members?max_results=5&user.fields=location
    method: GET
  response:
    body: '{"data":[{"username":"thepudds1","name":"thepudds","id":"1026228327886073856"},{"username":"golangweekly","name":"Golang
      Weekly","location":"Sign up for the newsletter ⤵️","id":"1112334438"},{"username":"rob_pike","name":"Rob
      Pike","location":"Sydney, New South Wales","id":"197263266"},{"username":"copyconstruct","name":"Cindy
      Sridharan","location":"San Francisco, CA","id":"161667651"},{"username":"francesc","name":"francesc","location":"Sant
      Francesc, CA","id":"122053508"}],"meta":{"result_count":5,"next_token":"4611686018549441412"}}'
    headers:
      Api-Version:
      - "2.35"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 0cd56c25b1ea573549b6b2987816d00709adc3bafa149936962fe1bdb3b1e19e
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "899"
      X-Rate-Limit-Reset:
      - "1643171296"
      X-Response-Time:
      - "70"
    status: 200 OK
    code: 200
    duration: 94.05436ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1103846010294394881/members?max_results=5&pagination_token=4611686018549441412&user.fields=location
    method: GET
  response:
    body: '{"data":[{"username":"davidcrawshaw","id":"73774650","location":"Berkeley,
      CA","name":"David Crawshaw"},{"username":"_rsc","id":"22455722","name":"Russ
      Cox"},{"username":"_zombiezen_","id":"17980870","location":"Santa Barbara, CA","name":"Ross
      Light"},{"username":"apenwarr","id":"17744848","location":"Canada. Sometimes.","name":"apenwarr"},{"username":"emshort","id":"17288264","location":"Oxford,
      UK","name":"Emily Short"}],"meta":{"result_count":5,"next_token":"4611686018444676168","previous_token":"-4611686018501162554"}}'
    headers:
      Api-Version:
      - "2.35"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 0cd56c25b1ea573549b6b2987816d00709adc3bafa149936962fe1bdb3b1e19e
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "898"
      X-Rate-Limit-Reset:
      - "1643171296"
      X-Response-Time:
      - "72"
    status: 200 OK
    code: 200
    duration: 95.412438ms
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/110594012/followers?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"1038199626522800128","name":"Deephaven Data Labs","username":"deephaven"},{"id":"340857592","name":"*
      * * * ** * * * * * * **** * * * * * * ** * * * *","username":"THEPHANTOM_____"},{"id":"14856395","name":"Robert
      Raesemann","username":"RobRaesemann"},{"id":"706763","name":"uɐɥʞʎl∀","username":"alykhan"},{"id":"93341008","name":"Hari","username":"sreeharips"}],"meta":{"result_count":5,"next_token":"1669124202417976865"}}'
    headers:
      Api-Version:
      - "2.35"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 0cd56c25b1ea573549b6b2987816d00709adc3bafa149936962fe1bdb3b1e19e
      X-Rate-Limit-Limit:
      - "180"
      X-Rate-Limit-Remaining:
      - "179"
      X-Rate-Limit-Reset:
      - "1643171296"
      X-Response-Time:
      - "63"
    status: 200 OK
    code: 200
    duration: 87.793487ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1318922483496591360/tweets?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"1486190336934305795","text":"RT @modemjunkie: \"And for
      f***s sake, put Pete Rose in the Hall of Fame.\"\n\nThread by @Klonick on Thread
      Reader App https://t.co/M8vUAlBVnl"},{"id":"1486190112698298368","text":"dog
      blog ht[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Acreachadair+has%3Amentions
    method: GET
  response:
    body: '{"data":[{"id":"1485865505109909504","text":"@bradfitz He may enjoy “unhand
      me, varlet!”"},{"id":"1485327581079478273","text":"@sara_thiebaud @aussiastronomer
      @MaureenBug Sister of the above: https://t.co/dsNAHPFIBO"},{"id":"1484144308668157957","text":"@Sajma
      Speculation: The phrase parser correctly got “half-and-half” but the query parser
      then took it apart because of the “and” and didn’t clean up the leading punctuation
      on the second half because it looks for internal and final (e.g. apostrophes,
      hyphens) only."}],"meta":{"newest_id":"1485865505109909504","oldest_id":"1484144308668157957","result_count":3}}'
    headers:
      Api-Version:
      - "2.35"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 0cd56c25b1ea573549b6b2987816d00709adc3bafa149936962fe1bdb3b1e19e
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "448"
      X-Rate-Limit-Reset:
      - "1643171129"
      X-Response-Time:
      - "75"
    status: 200 OK
    code: 200
    duration: 98.426384ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1486171978352451586","text":"The tumbler pigeon, nominated
      by @Glitterati3_A, is today''s #BeastOfTheDay. https://t.co/q6kzgrMueW"},{"id":"1486047367908380673","text":"So
      great to have @pescami back. https://t.c[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fpe478508mt25sirb3yypimsvrjtdp&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1485756428480569344","text":"@raleedy I actually think
      it was one of mine. Right @alisonbuckholtz?"},{"id":"1485756096094613509","text":"@JZED74
      @Klonick [...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fpe4784z17ze9944eefc34tggeurgd&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1485676591040679943","text":"@MegHolst @saveourseas Congratulations!
      That’s wonderful news. Very happy for you."},{"id":"1485672774010081281","text":"That
     [...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?max_results=10&query=wordle+has%3Aimages&tweet.fields=author_id%2Centities
    method: GET
  response:
    body: '{"data":[{"author_id":"830582444856373249","text":"RT @VanessaKohler19:
      I can make awesome #esports #logo, HMU\n\nLike/RT\nLink your Twitch\nFollow
      me\n\n#smallstreamer #gaming\n#SupportSmallStream…","entities":{"mentions":[{"start":3,"end":19,"username":"VanessaKohler19","id":"1448407475493945345"}],"hashtags":[{"start":40,"end":48,"tag":"esports"},{"start":49,"end":54,"tag":"logo"},{"start":97,"end":111,"tag":"smallstreamer"},{"start":112,"end":119,"tag":"gaming"}]},"id":"1486190376981610502"},{"entities":{"urls":[{"start":8,"end":31,"url":"https://t.co/hFnBx5Tv4d","expanded_url":"https://twitter.com/pack4life325/status/1486190294005534721/photo/1","display_url":"pic.twitter.com/hFnBx5Tv4d"}],"hashtags":[{"start":0,"end":7,"tag":"Wordle"}]},"author_id":"1460856490063892480","text":"#Wordle
      https://t.co/hFnBx5Tv4d","id":"1486190294005534721"},{"entities":{"urls":[{"start":47,"end":70,"url":"https://t.co/KgyOISFpAi","expanded_url":"https://trib.al/GWKfyIu","display_url":"trib.al/GWKfyIu","images":[{"url":"https://pbs.twimg.com/news_img/1485703513518886916/1Uc6pNKd?format=jpg&name=orig","width":1200,"height":600},{"url":"https://pbs.twimg.com/news_img/1485703513518886916/1Uc6pNKd?format=jpg&name=150x150","width":150,"height":150}],"status":200,"title":"Twitter
      suspends Wordle-ruining bot","description":"Letting people like things continues
      to be free.","unwound_url":"https://www.theverge.com/2022/1/24/22899339/wordle-twitter-spoilers-banned-word-puzzle-answers?utm_campaign=theverge&utm_content=chorus&utm_medium=social&utm_source=twitter"},{"start":71,"end":94,"url":"https://t.co/hk3tSJ2ojj","expanded_url":"https://twitter.com/verge/status/1485884658931965953/photo/1","display_url":"pic.twitter.com/hk3tSJ2ojj"}],"mentions":[{"start[...]
- request:
    body: '{"add":[{"value":"cat has:images lang:en","tag":"test english kittens whargarbl"}]}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules
    method: POST
  response:
    body: '{"data":[{"value":"cat has:images lang:en","tag":"test english kittens
      whargarbl","id":"1486190485823639557"}],"meta":{"sent":"2022-01-26T04:13:18.615Z","summary":{"created":1,"not_created":0,"valid":1,"invalid":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 0cd56c25b1ea573549b6b2987816d00709adc3bafa149936962fe1bdb3b1e19e
      X-Rate-Limit-Limit:
      - "50"
      X-Rate-Limit-Remaining:
      - "49"
      X-Rate-Limit-Reset:
      - "1643171298"
      X-Response-Time:
      - "93"
    status: 201 Created
    code: 201
    duration: 116.60396ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/stream/rules?ids=1486190485823639557
    method: GET
  response:
    body: '{"data":[{"id":"1486190485823639557","value":"cat has:images lang:en","tag":"test
      english kittens whargarbl"}],"meta":{"sent":"2022-01-26T04:13:18.822Z"}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 0cd56c25b1ea573549b6b2987816d00709adc3bafa149936962fe1bdb3b1e19e
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "449"
      X-Rate-Limit-Reset:
      - "1643171298"
      X-Response-Time:
      - "64"
    status: 200 OK
    code: 200
    duration: 88.004116ms
[...]
- request:
    body: '{"delete":{"ids":["1486190485823639557"]}}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules?dry_run=true
    method: POST
  response:
    body: '{"meta":{"sent":"2022-01-26T04:13:19.684Z","summary":{"deleted":1,"not_deleted":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 0cd56c25b1ea573549b6b2987816d00709adc3bafa149936962fe1bdb3b1e19e
      X-Rate-Limit-Limit:
      - "50"
      X-Rate-Limit-Remaining:
      - "48"
      X-Rate-Limit-Reset:
      - "1643171298"
      X-Response-Time:
      - "121"
    status: 200 OK
    code: 200
    duration: 146.129647ms
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/1.1/statuses/show.json?id=1297524288245895168&tweet_mode=extended
    method: GET
  response:
    body: '{"created_at":"Sun Aug 23 13:21:11 +0000 2020","id":1297524288245895168,"id_str":"1297524288245895168","full_text":"Today
      on @inlieuoffunshow, it''s Mystery Guest Sunday. I bring a mystery guest recommended
      by audience members yesterday. Who will it be?\n5:00 pm Eastern time.\nOn Crowdcast:
      https:\/\/t.co\/N3pCyxcpZW \nOn YouTube: https:\/\/t.co\/pUKPEg4UKz\nOn Facebook,
      or right here on Twitter.","truncated":false,"display_text_range":[0,272],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"inlieuoffunshow","name":"In
      Lieu of Fun Show","id":1242605009205956608,"id_str":"1242605009205956608","indices":[9,25]}],"urls":[{"url":"https:\/\/t.co\/N3pCyxcpZW","expanded_url":"https:\/\/www.crowdcast.io\/e\/in-lieu-of-fun-episode-44","display_url":"crowdcast.io\/e\/in-lieu-of-f\u2026","indices":[173,196]},{"url":"https:\/\/t.co\/pUKPEg4UKz","expanded_url":"https:\/\/youtu.be\/ua64SYY08rE","display_url":"youtu.be\/ua64SYY08rE","indices":[210,233]}]},"source":"\u003ca
      href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":186667011,"id_str":"186667011","name":"Benjamin
      Wittes","screen_name":"benjaminwittes","location":"Washington DC","description":"Senior
      Fellow at the @BrookingsInst. Editor in Chief of @lawfareblog. Cohost of @inlieuoffunshow.
[...]
