---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by/username/jack?expansions=pinned_tweet_id&user.fields=created_at%2Cdescription%2Cpublic_metrics%2Cverified
    method: GET
  response:
    body: '{"data":{"username":"jack","verified":true,"name":"jack⚡️","created_at":"2006-03-21T20:50:14.000Z","public_metrics":{"followers_count":6127558,"following_count":4512,"tweet_count":28198,"listed_count":31844},"id":"12","description":"#bitcoin","pinned_tweet_id":"1247616214769086465"},"includes":{"tweets":[{"id":"1247616214769086465","text":"I’m moving $1B of my Square equity (~28% of my wealth) to #startsmall LLC to fund global COVID-19 relief. After we disarm this pandemic, the focus will shift to girl’s health and education, and UBI. It will operate transparently, all flows tracked here: https://t.co/hVkUczDQmz"}]}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 08d54294c2b89cbd831a57c75a21108ccec7174da3b0fc52b4f7b3eba09b09d3
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "298"
      X-Rate-Limit-Reset:
      - "1641758164"
      X-Response-Time:
      - "43"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets?expansions=entities.mentions.username&ids=1297524288245895168&tweet.fields=author_id%2Ccreated_at%2Centities
    method: GET
  response:
    body: '{"data":[{"created_at":"2020-08-23T13:21:11.000Z","author_id":"186667011","text":"Today on @inlieuoffunshow, it''s Mystery Guest Sunday. I bring a mystery guest recommended by audience members yesterday. Who will it be?\n5:00 pm Eastern time.\nOn Crowdcast: https://t.co/N3pCyxcpZW \nOn YouTube: https://t.co/pUKPEg4UKz\nOn Facebook, or right here on Twitter.","entities":{"mentions":[{"start":9,"end":25,"username":"inlieuoffunshow","id":"1242605009205956608"}],"urls":[{"start":173,"end":196,"url":"https://t.co/N3pCyxcpZW","expanded_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44","display_url":"crowdcast.io/e/in-lieu-of-f…","status":200,"unwound_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44"},{"start":210,"end":233,"url":"https://t.co/pUKPEg4UKz","expanded_url":"https://youtu.be/ua64SYY08rE","display_url":"youtu.be/ua64SYY08rE","status":200,"unwound_url":"https://www.youtube.com/watch?v=ua64SYY08rE&feature=youtu.be"}],"annotations":[{"start":201,"end":207,"probability":0.4142,"type":"Organization","normalized_text":"YouTube"},{"start":237,"end":244,"probability":0.5224,"type":"Organization","normalized_text":"Facebook"},{"start":264,"end":270,"probability":0.5724,"type":"Product","normalized_text":"Twitter"}]},"id":"1297524288245895168"}],"includes":{"users":[{"id":"1242605009205956608","name":"In Lieu of Fun Show","username":"inlieuoffunshow"}]}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 08d54294c2b89cbd831a57c75a21108ccec7174da3b0fc52b4f7b3eba09b09d3
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "298"
      X-Rate-Limit-Reset:
      - "1641758164"
      X-Response-Time:
      - "67"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users?ids=12
    method: GET
  response:
    body: '{"data":[{"id":"12","name":"jack⚡️","username":"jack"}]}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 08d54294c2b89cbd831a57c75a21108ccec7174da3b0fc52b4f7b3eba09b09d3
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "298"
      X-Rate-Limit-Reset:
      - "1641758164"
      X-Response-Time:
      - "22"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by?user.fields=pinned_tweet_id%2Cprofile_image_url%2Cpublic_metrics&usernames=kanyewest%2Cjack%2CPopehat
    method: GET
  response:
    body: '{"data":[{"public_metrics":{"followers_count":30623465,"following_count":210,"tweet_count":1911,"listed_count":43406},"profile_image_url":"https://pbs.twimg.com/profile_images/1276461929934942210/cqNhNk6v_normal.jpg","username":"kanyewest","pinned_tweet_id":"1283507551586459648","name":"ye","id":"169686021"},{"public_metrics":{"followers_count":6127558,"following_count":4512,"tweet_count":28198,"listed_count":31844},"profile_image_url":"https://pbs.twimg.com/profile_images/1115644092329758721/AFjOr-K8_normal.jpg","username":"jack","pinned_tweet_id":"1247616214769086465","name":"jack⚡️","id":"12"},{"public_metrics":{"followers_count":283746,"following_count":1225,"tweet_count":220040,"listed_count":4055},"profile_image_url":"https://pbs.twimg.com/profile_images/884879301190967296/oTCsTck5_normal.jpg","username":"Popehat","pinned_tweet_id":"1317118094133751808","name":"SatanicBeanbagHat","id":"18839937"}]}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 08d54294c2b89cbd831a57c75a21108ccec7174da3b0fc52b4f7b3eba09b09d3
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "295"
      X-Rate-Limit-Reset:
      - "1641758720"
      X-Response-Time:
      - "32"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1318922483496591360?list.fields=created_at%2Cdescription%2Cfollower_count%2Cmember_count
    method: GET
  response:
    body: '{"data":{"follower_count":74,"id":"1318922483496591360","name":"In Lieu of Fun Guestlist","created_at":"2020-10-21T14:29:59.000Z","member_count":174,"description":"Official Twitter guest list of the In Lieu of Fun Show."}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 08d54294c2b89cbd831a57c75a21108ccec7174da3b0fc52b4f7b3eba09b09d3
      X-Rate-Limit-Limit:
      - "75"
      X-Rate-Limit-Remaining:
      - "73"
      X-Rate-Limit-Reset:
      - "1641758164"
      X-Response-Time:
      - "38"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/1242605009205956608/owned_lists?list.fields=created_at%2Cdescription%2Cfollower_count%2Cmember_count
    method: GET
  response:
    body: '{"data":[{"created_at":"2020-10-21T14:29:59.000Z","member_count":174,"id":"1318922483496591360","name":"In Lieu of Fun Guestlist","follower_count":74,"description":"Official Twitter guest list of the In Lieu of Fun Show."}],"meta":{"result_count":1}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 08d54294c2b89cbd831a57c75a21108ccec7174da3b0fc52b4f7b3eba09b09d3
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "13"
      X-Rate-Limit-Reset:
      - "1641758164"
      X-Response-Time:
      - "58"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/16431281/list_memberships?expansions=owner_id&list.fields=owner_id&user.fields=location
    method: GET
  response:
    body: '{"data":[{"id":"1345889115179536384","name":"Software","owner_id":"1056887880394641410"},{"id":"102663289","name":"software engineering","owner_id":"15123426"},{"id":"1103846010294394881","name":"Code","owner_id":"7303742"},{"id":"984169246044323840","name":"Machine Learning","owner_id":"91347803"},{"id":"1034516174535634955","name":"ml4pl","owner_id":"162422316"},{"id":"222201888","name":"Golang","owner_id":"15734187"},{"id":"110594012","name":"Machine Learning folks","owner_id":"14338766"},{"id":"197429","name":"Friends","owner_id":"15450122"},{"id":"2309040","name":"Dartmouth","owner_id":"13447902"}],"includes":{"users":[{"username":"OmarBessa","id":"1056887880394641410","location":"Patagonia, Argentina","name":"Pabli!"},{"username":"thierrymarianne","id":"15123426","name":"Thierry Marianne \uD83D\uDCD2"},{"username":"Damien_Neil","id":"7303742","name":"Damien Neil"},{"username":"ankurbohra","id":"91347803","name":"Ankur Bohra"},{"username":"Jan_Hula","id":"162422316","name":"Jan Hůla"},{"username":"christopheviaud","id":"15734187","location":"Le Mans, Pays de la Loire","name":"Christophe VIAUD"},{"username":"phil_renaud","id":"14338766","location":"Toronto","name":"Phil Renaud"},{"username":"sushigrade","id":"15450122","location":"Western NY, USA","name":"The Kandalorian"},{"username":"copumpkin","id":"13447902","location":"Tower of the Elephant''s Tusk","name":"Dan P"}]},"meta":{"result_count":9}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 08d54294c2b89cbd831a57c75a21108ccec7174da3b0fc52b4f7b3eba09b09d3
      X-Rate-Limit-Limit:
      - "75"
      X-Rate-Limit-Remaining:
      - "73"
      X-Rate-Limit-Reset:
      - "1641758164"
      X-Response-Time:
      - "136"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/186667011/followed_lists
    method: GET
  response:
    body: '{"data":[{"id":"1277227777087795201","name":"ilof-guests"},{"id":"1085257129060118528","name":"Israeli Politics"},{"id":"1212931737459810309","name":"Iran/Iraq & USFP"},{"id":"213535616","name":"Editors & Contributors"}],"meta":{"result_count":4}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 08d54294c2b89cbd831a57c75a21108ccec7174da3b0fc52b4f7b3eba09b09d3
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "10"
      X-Rate-Limit-Reset:
      - "1641758713"
      X-Response-Time:
      - "57"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/110594012/followers?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"1038199626522800128","name":"Deephaven Data Labs","username":"deephaven"},{"id":"340857592","name":"* * * * ** * * * * * * **** * * * * * * ** * * * *","username":"THEPHANTOM_____"},{"id":"14856395","name":"Robert Raesemann","username":"RobRaesemann"},{"id":"706763","name":"uɐɥʞʎl∀","username":"alykhan"},{"id":"93341008","name":"Hari","username":"sreeharips"}],"meta":{"result_count":5,"next_token":"1669124202417976865"}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 08d54294c2b89cbd831a57c75a21108ccec7174da3b0fc52b4f7b3eba09b09d3
      X-Rate-Limit-Limit:
      - "180"
      X-Rate-Limit-Remaining:
      - "174"
      X-Rate-Limit-Reset:
      - "1641758045"
      X-Response-Time:
      - "59"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1103846010294394881/members?max_results=5&user.fields=location
    method: GET
  response:
    body: '{"data":[{"id":"1026228327886073856","name":"thepudds","username":"thepudds1"},{"id":"1112334438","location":"Sign up for the newsletter ⤵️","name":"Golang Weekly","username":"golangweekly"},{"id":"197263266","location":"Sydney, New South Wales","name":"Rob Pike","username":"rob_pike"},{"id":"161667651","location":"San Francisco, CA","name":"Cindy Sridharan","username":"copyconstruct"},{"id":"122053508","location":"Sant Francesc, CA","name":"francesc","username":"francesc"}],"meta":{"result_count":5,"next_token":"4611686018549441412"}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 08d54294c2b89cbd831a57c75a21108ccec7174da3b0fc52b4f7b3eba09b09d3
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "858"
      X-Rate-Limit-Reset:
      - "1641758473"
      X-Response-Time:
      - "61"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1103846010294394881/members?max_results=5&pagination_token=4611686018549441412&user.fields=location
    method: GET
  response:
    body: '{"data":[{"name":"David Crawshaw","username":"davidcrawshaw","location":"Berkeley, CA","id":"73774650"},{"name":"Russ Cox","username":"_rsc","id":"22455722"},{"name":"Ross Light","username":"_zombiezen_","location":"Santa Barbara, CA","id":"17980870"},{"name":"apenwarr","username":"apenwarr","location":"Canada. Sometimes.","id":"17744848"},{"name":"Emily Short","username":"emshort","location":"Oxford, UK","id":"17288264"}],"meta":{"result_count":5,"next_token":"4611686018444676168","previous_token":"-4611686018501162554"}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 08d54294c2b89cbd831a57c75a21108ccec7174da3b0fc52b4f7b3eba09b09d3
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "857"
      X-Rate-Limit-Reset:
      - "1641758473"
      X-Response-Time:
      - "84"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Acreachadair+has%3Amentions
    method: GET
  response:
    body: '{"data":[{"id":"1480218818391601157","text":"@Klonick Not gonna lie, I love this."},{"id":"1479631037634265089","text":"@Klonick Three days later they broke down the doors. The crashing and screaming were found to be a recording; they had drunk all the champagne and absconded together leaving no forwarding address."},{"id":"1479347219564171264","text":"@galaxybloom_ We have met the enemy, and they are us."}],"meta":{"newest_id":"1480218818391601157","oldest_id":"1479347219564171264","result_count":3}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 08d54294c2b89cbd831a57c75a21108ccec7174da3b0fc52b4f7b3eba09b09d3
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "444"
      X-Rate-Limit-Reset:
      - "1641758165"
      X-Response-Time:
      - "59"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1480207376741502982","text":"Yes https://t.co/dkkxSM5NHS"},{"id":"1480201184665346053","text":"@scottjshapiro It’s not being inclusive"},{"id":"1480178575361941505","text":"It also makes you nauseous https://t.co/HfZ8jvuIul[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fpe45406rha3n2ff6079hd9y2s2pa5&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1480170584248041475","text":"https://t.co/QFNgIuTiJk"},{"id":"1480170580041158660","text":"A very special #BeastOfTheDay today to round out our Jan. 6 week of beasts [...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fpe194xk4uf02ucmycuw0ju4j3wuwt&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1479866570079883267","text":"It''s pretty amazing. THanks to all. https://t.co/GGUsWZLpnh"},{"id":"1479862248000602112","text":"#BeastOfTheDay followup https://t.co/i[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?max_results=10&query=from%3Abenjaminwittes+%22Today+on+%40inlieuoffunshow%22&tweet.fields=author_id%2Centities
    method: GET
  response:
    body: '{"data":[{"entities":{"annotations":[{"start":60,"end":73,"probability":0.9967,"type":"Person","normalized_text":"Michael Fanone"}],"mentions":[{"start":9,"end":25,"usern[...]
- request:
    body: '{"add":[{"value":"cat has:images lang:en","tag":"test english kittens whargarbl"}]}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules
    method: POST
  response:
    body: '{"data":[{"value":"cat has:images lang:en","tag":"test english kittens whargarbl","id":"1480266011018350593"}],"meta":{"sent":"2022-01-09T19:51:33.727Z","summary":{"created":1,"not_created":0,"valid":1,"invalid":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 08d54294c2b89cbd831a57c75a21108ccec7174da3b0fc52b4f7b3eba09b09d3
      X-Rate-Limit-Limit:
      - "50"
      X-Rate-Limit-Remaining:
      - "44"
      X-Rate-Limit-Reset:
      - "1641758165"
      X-Response-Time:
      - "82"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/stream/rules?ids=1480266011018350593
    method: GET
  response:
    body: '{"data":[{"id":"1480266011018350593","value":"cat has:images lang:en","tag":"test english kittens whargarbl"}],"meta":{"sent":"2022-01-09T19:51:33.803Z"}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 08d54294c2b89cbd831a57c75a21108ccec7174da3b0fc52b4f7b3eba09b09d3
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "446"
      X-Rate-Limit-Reset:
      - "1641758165"
      X-Response-Time:
      - "49"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"delete":{"ids":["1480266011018350593"]}}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules?dry_run=true
    method: POST
  response:
    body: '{"meta":{"sent":"2022-01-09T19:51:34.058Z","summary":{"deleted":1,"not_deleted":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 08d54294c2b89cbd831a57c75a21108ccec7174da3b0fc52b4f7b3eba09b09d3
      X-Rate-Limit-Limit:
      - "50"
      X-Rate-Limit-Remaining:
      - "43"
      X-Rate-Limit-Reset:
      - "1641758165"
      X-Response-Time:
      - "88"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/1.1/statuses/show.json?id=1297524288245895168&tweet_mode=extended
    method: GET
  response:
    body: '{"created_at":"Sun Aug 23 13:21:11 +0000 2020","id":1297524288245895168,"id_str":"1297524288245895168","full_text":"Today on @inlieuoffunshow, it''s Mystery Guest Sunday. I bring a mystery guest recommended by audience members yesterday. Who will it be?\n5:00 pm Eastern time.\nOn Crowdcast: https:\/\/t.co\/N3pCyxcpZW \nOn YouTube: https:\/\/t.co\/pUKPEg4UKz\nOn Facebook, or right here on Twitter.","truncated":false,"display_text_range":[0,272],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"inlieuoffunshow","name":"In Lieu of Fun Show","id":1242605009205956608,"id_str":"1242605009205956608","indices":[9,25]}],"urls":[{"url":"https:\/\/t.co\/N3pCyxcpZW","expanded_url":"https:\/\/www.crowdcast.io\/e\/in-lieu-of-fun-episode-44","display_url":"crowdcast.io\/e\/in-lieu-of-f\u2026","indices":[173,196]},{"url":"https:\/\/t.co\/pUKPEg4UKz","expanded_url":"https:\/\/youtu.be\/ua64SYY08rE","display_url":"youtu.be\/ua64SYY08rE","indices":[210,233]}]},"source":"\u003ca href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":186667011,"id_str":"186667011","name":"Benjamin Wittes","screen_name":"benjaminwittes","location":"Washington DC","description":"Senior Fellow at the @BrookingsInst. Editor in Chief of @lawfareblog. Cohost of @inlieuoffunshow. I will block you for any reason or none at all.","url":"https:\/\/t.co\/eNn7IXx0Av","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/eNn7IXx0Av","expanded_url":"http:\/\/www.lawfareblog.com","display_url":"lawfareblog.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":411460,"friends_count":2295,"listed_count":4967,"created_at":"Sat Sep 04 02:04:41 +0000 2010","favourites_count":6403,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":40907,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1478503080585043969\/tAKVz38__normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1478503080585043969\/tAKVz38__normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/186667011\/1630960375","profile_link_color":"981CEB","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":2,"favorite_count":11,"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 09 Jan 2022 19:51:34 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 08d54294c2b89cbd831a57c75a21108ccec7174da3b0fc52b4f7b3eba09b09d3
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "898"
      X-Rate-Limit-Reset:
      - "1641758166"
      X-Response-Time:
      - "25"
      X-Transaction:
      - 15fa1a523c408a8c
      X-Twitter-Response-Tags:
      - BouncerCompliant
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/sample/stream?tweet.fields=author_id%2Centities
    method: GET
  response:
    body: "{\"data\":{\"author_id\":\"136078093\",\"entities\":{\"annotations\":[{\"start\":0,\"end\":11,\"probability\":0.7067,\"type\":\"Place\",\"normalized_text\":\"Jacksonville\"}]},\"id\":\"1480265989887508483\",\"text\":\"Jacksonville doing their job but we ain't\"}}\r\n{\"data\":{\"author_id\":\"1236765391101276166\",\"entities\":{\"mentions\":[{\"start\":3,\"end\":17,\"username\":\"ArianisIbanez\",\"id\":\"1219268060231630849\"}]},\"id\":\"1480265989900099587\",\"text\":\"RT @ArianisIbanez: tu sufres por amor y yo porque no tengo dinero .. claramente no somos iguales\"}}\r\n{\"data\":{\"author_id\":\"1425188582306709506\",\"entities\":{\"urls\":[{\"start\":15,\"end\":38,\"url\":\"https://t.co/xwyg5n6UIo\",\"expanded_url\":\"https://twitter.com/memesholic147/status/1480265989908434945/photo/1\",\"display_url\":\"pic.twitter.com/xwyg5n6UIo\"}]},\"id\":\"1480265989908434945\",\"text\":\"Me to myself:- https://t.co/xwyg5n6UIo\"}}\r\n{\"data\":{\"author_id\":\"903972142550790145\",\"entities\":{\"urls\":[{\"start\":88,\"end\":111,\"url\":\"https://t.co/Zu4Ij8JH8n\",\"expanded_url\":\"https://choratouaxoritou.gr/?p=173031\",\"display_url\":\"choratouaxoritou.gr/?p=173031\",\"images\":[{\"url\":\"https://pbs.twimg.com/news_img/1480266001098985485/SHDBG_FX?format=png&name=orig\",\"width\":500,\"height\":300},{\"url\":\"https://pbs.twimg.com/news_img/1480266001098985485/SHDBG_FX?format=png&name=150x150\",\"width\":150,\"height\":150}],\"status\":200,\"title\":\"Συνάντηση επιστημόνων και ενεργών πολιτών με κεντρικό θέμα την ενότητα και την αφύπνιση\",\"description\":\"ΛΑΡΙΣΑ 6/1/2022 Συνάντηση επιστημόνων και ενεργών πολιτών με κεντρικό θέμα «Το Πρώτο Βήμα - Πορεία...\",\"unwound_url\":\"https://choratouaxoritou.gr/?p=173031\"}]},\"id\":\"1480265989912764420\",\"text\":\"Συνάντηση επιστημόνων και ενεργών πολιτών με κεντρικό θέμα την ενότητα και την αφύπνιση https://t.co/Zu4Ij8JH8n\"}}\r\n{\"data\":{\"author_id\":\"1179788702215618566\",\"entities\":{\[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/stream?tweet.fields=author_id
    method: GET
  response:
    body: "{\"data\":{\"author_id\":\"50981328\",\"id\":\"1480266015242137603\",\"text\":\"@RavenXV @krisacronin @conkyan HUMANS. Honestly the whole horse dewormer narrative is just a load of \U0001F4A9. Works well against covid too obviously. https://t.co/2VbcIoDWYr\"},\"matching_rules\":[{\"id\":\"1480266034061852672\",\"tag\":\"\"}]}\r\n{\"data\":{\"author_id\":\"1895779532\",\"id\":\"1480266017276264448\",\"text\":\"i drew my cat https://t.co/FtHKfUkE1I\"},\"matching_rules\":[{\"id\":\"1480266034061852672\",\"tag\":\"\"}]}\r\n{\"data\":{\"author_id\":\"1422304861736026116\",\"id\":\"1480266017507057667\",\"text\":\"RT @lostcityofmizu: cat dads!\\n\\n            — #smiletwtselfieday\\n            — rts4patches &lt;3 https://t.co/TlyciTsXiV\"},\"matching_rules\":[{\"id\":\"1480[...]
[...]
