---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by/username/jack?expansions=pinned_tweet_id&user.fields=created_at%2Cdescription%2Cpublic_metrics%2Cverified
    method: GET
  response:
    body: '{"data":{"id":"12","description":"#bitcoin","username":"jack","name":"jack⚡️","public_metrics":{"followers_count":6126730,"following_count":4512,"tweet_count":28198,"listed_count":31836},"pinned_tweet_id":"1247616214769086465","verified":true,"created_at":"2006-03-21T20:50:14.000Z"},"includes":{"tweets":[{"id":"1247616214769086465","text":"I’m moving $1B of my Square equity (~28% of my wealth) to #startsmall LLC to fund global COVID-19 relief. After we disarm this pandemic, the focus will shift to girl’s health and education, and UBI. It will operate transparently, all flows tracked here: https://t.co/hVkUczDQmz"}]}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - ae8b8a863512a8e1bb793cdb46ee2026
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1641714197"
      X-Response-Time:
      - "107"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets?expansions=entities.mentions.username&ids=1297524288245895168&tweet.fields=author_id%2Ccreated_at%2Centities
    method: GET
  response:
    body: '{"data":[{"entities":{"annotations":[{"start":201,"end":207,"probability":0.4142,"type":"Organization","normalized_text":"YouTube"},{"start":237,"end":244,"probability":0.5224,"type":"Organization","normalized_text":"Facebook"},{"start":264,"end":270,"probability":0.5724,"type":"Product","normalized_text":"Twitter"}],"urls":[{"start":173,"end":196,"url":"https://t.co/N3pCyxcpZW","expanded_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44","display_url":"crowdcast.io/e/in-lieu-of-f…","status":200,"unwound_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44"},{"start":210,"end":233,"url":"https://t.co/pUKPEg4UKz","expanded_url":"https://youtu.be/ua64SYY08rE","display_url":"youtu.be/ua64SYY08rE","status":200,"unwound_url":"https://www.youtube.com/watch?v=ua64SYY08rE&feature=youtu.be"}],"mentions":[{"start":9,"end":25,"username":"inlieuoffunshow","id":"1242605009205956608"}]},"author_id":"186667011","created_at":"2020-08-23T13:21:11.000Z","text":"Today on @inlieuoffunshow, it''s Mystery Guest Sunday. I bring a mystery guest recommended by audience members yesterday. Who will it be?\n5:00 pm Eastern time.\nOn Crowdcast: https://t.co/N3pCyxcpZW \nOn YouTube: https://t.co/pUKPEg4UKz\nOn Facebook, or right here on Twitter.","id":"1297524288245895168"}],"includes":{"users":[{"id":"1242605009205956608","name":"In Lieu of Fun Show","username":"inlieuoffunshow"}]}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - ae8b8a863512a8e1bb793cdb46ee2026
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1641714197"
      X-Response-Time:
      - "156"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users?ids=12
    method: GET
  response:
    body: '{"data":[{"id":"12","name":"jack⚡️","username":"jack"}]}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - ae8b8a863512a8e1bb793cdb46ee2026
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1641714197"
      X-Response-Time:
      - "80"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by?user.fields=pinned_tweet_id%2Cprofile_image_url%2Cpublic_metrics&usernames=kanyewest%2Cjack%2CPopehat
    method: GET
  response:
    body: '{"data":[{"public_metrics":{"followers_count":30624751,"following_count":210,"tweet_count":1911,"listed_count":43409},"id":"169686021","profile_image_url":"https://pbs.twimg.com/profile_images/1276461929934942210/cqNhNk6v_normal.jpg","username":"kanyewest","name":"ye","pinned_tweet_id":"1283507551586459648"},{"public_metrics":{"followers_count":6126730,"following_count":4512,"tweet_count":28198,"listed_count":31836},"id":"12","profile_image_url":"https://pbs.twimg.com/profile_images/1115644092329758721/AFjOr-K8_normal.jpg","username":"jack","name":"jack⚡️","pinned_tweet_id":"1247616214769086465"},{"public_metrics":{"followers_count":283688,"following_count":1225,"tweet_count":220031,"listed_count":4055},"id":"18839937","profile_image_url":"https://pbs.twimg.com/profile_images/884879301190967296/oTCsTck5_normal.jpg","username":"Popehat","name":"SatanicBeanbagHat","pinned_tweet_id":"1317118094133751808"}]}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - ae8b8a863512a8e1bb793cdb46ee2026
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1641714197"
      X-Response-Time:
      - "101"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1318922483496591360?list.fields=created_at%2Cdescription%2Cfollower_count%2Cmember_count
    method: GET
  response:
    body: '{"data":{"id":"1318922483496591360","member_count":174,"created_at":"2020-10-21T14:29:59.000Z","description":"Official Twitter guest list of the In Lieu of Fun Show.","follower_count":74,"name":"In Lieu of Fun Guestlist"}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - ae8b8a863512a8e1bb793cdb46ee2026
      X-Rate-Limit-Limit:
      - "75"
      X-Rate-Limit-Remaining:
      - "74"
      X-Rate-Limit-Reset:
      - "1641714197"
      X-Response-Time:
      - "103"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/1242605009205956608/owned_lists?list.fields=created_at%2Cdescription%2Cfollower_count%2Cmember_count
    method: GET
  response:
    body: '{"data":[{"follower_count":74,"created_at":"2020-10-21T14:29:59.000Z","id":"1318922483496591360","name":"In Lieu of Fun Guestlist","description":"Official Twitter guest list of the In Lieu of Fun Show.","member_count":174}],"meta":{"result_count":1}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - ae8b8a863512a8e1bb793cdb46ee2026
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "14"
      X-Rate-Limit-Reset:
      - "1641714197"
      X-Response-Time:
      - "73"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/16431281/list_memberships?expansions=owner_id&list.fields=owner_id&user.fields=location
    method: GET
  response:
    body: '{"data":[{"id":"1345889115179536384","name":"Software","owner_id":"1056887880394641410"},{"id":"102663289","name":"software engineering","owner_id":"15123426"},{"id":"1103846010294394881","name":"Code","owner_id":"7303742"},{"id":"984169246044323840","name":"Machine Learning","owner_id":"91347803"},{"id":"1034516174535634955","name":"ml4pl","owner_id":"162422316"},{"id":"222201888","name":"Golang","owner_id":"15734187"},{"id":"110594012","name":"Machine Learning folks","owner_id":"14338766"},{"id":"197429","name":"Friends","owner_id":"15450122"},{"id":"2309040","name":"Dartmouth","owner_id":"13447902"}],"includes":{"users":[{"location":"Patagonia, Argentina","id":"1056887880394641410","name":"Pabli!","username":"OmarBessa"},{"id":"15123426","name":"Thierry Marianne \uD83D\uDCD2","username":"thierrymarianne"},{"id":"7303742","name":"Damien Neil","username":"Damien_Neil"},{"id":"91347803","name":"Ankur Bohra","username":"ankurbohra"},{"id":"162422316","name":"Jan Hůla","username":"Jan_Hula"},{"location":"Le Mans, Pays de la Loire","id":"15734187","name":"Christophe VIAUD","username":"christopheviaud"},{"location":"Toronto","id":"14338766","name":"Phil Renaud","username":"phil_renaud"},{"location":"Western NY, USA","id":"15450122","name":"The Kandalorian","username":"sushigrade"},{"location":"Tower of the Elephant''s Tusk","id":"13447902","name":"Dan P","username":"copumpkin"}]},"meta":{"result_count":9}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - ae8b8a863512a8e1bb793cdb46ee2026
      X-Rate-Limit-Limit:
      - "75"
      X-Rate-Limit-Remaining:
      - "74"
      X-Rate-Limit-Reset:
      - "1641714198"
      X-Response-Time:
      - "99"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1103846010294394881/members?user.fields=location
    method: GET
  response:
    body: '{"data":[{"name":"thepudds","username":"thepudds1","id":"1026228327886073856"},{"name":"Golang Weekly","username":"golangweekly","location":"Sign up for the newsletter ⤵️","id":"1112334438"},{"name":"Rob Pike","username":"rob_pike","location":"Syd[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Acreachadair+has%3Amentions
    method: GET
  response:
    body: '{"data":[{"id":"1479631037634265089","text":"@Klonick Three days later they broke down the doors. The crashing and screaming were found to be a recording; they had drunk all the champagne and absconded together leaving no forwarding address."},{"id":"1479347219564171264","text":"@galaxybloom_ We have met the enemy, and they are us."}],"meta":{"newest_id":"1479631037634265089","oldest_id":"1479347219564171264","result_count":2}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - ae8b8a863512a8e1bb793cdb46ee2026
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "449"
      X-Rate-Limit-Reset:
      - "1641714198"
      X-Response-Time:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1479964871047495683","text":"@paulinebrock Wow. Should flag this for @jsbalek!\nCheck it out: it’s a much munch munch fail!"},{"id":"1479888365310906374","text":"@petersagal Good point. But Edmund Pettus was a genuinely odious human being. He''s not a Jefferson or a Woodrow Wilson who made immense contributions among his contributions to white supremacy."},{"id":"1479880487313289225","text":"John Lewis Bridge?"},{"id":"1479880273957429253","text":"@jsbalek That is one of the reasons I love it."},{"id":"1479879889968943104","text":"Speaking of things, folks, that really ought to be renamed: https://t.co/a5ugfwGThE https://t.co/gMccDPf0La"},{"id":"1479873368967024641","text":"@Arizona_RN @inlieuoffunshow @Klonick So do I, though most dog shirts don''t have lapels."},{"id":"1479873180911214593","text":"that''s a A+ typo. https://t.co/hSenUp1hwo"},{"id":"1479866570079883267","text":"It''s pretty amazing. THanks to all. https://t.co/GGUsWZLpnh"},{"id":"1479862248000602112","text":"#BeastOfTheDay followup https://t.co/iHYxwEq4cW"},{"id":"1479862148247531521","text":"Word https://t.co/FYBFTlvxc1"}],"meta":{"newest_id":"1479964871047495683","oldest_id":"1479862148247531521","result_count":10,"next_token":"b26v89c19zqg8o3fpe194xju0h01x2i2j9jas5vwyberh"}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - ae8b8a863512a8e1bb793cdb46ee2026
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "448"
      X-Rate-Limit-Reset:
      - "1641714198"
      X-Response-Time:
      - "106"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fpe194xju0h01x2i2j9jas5vwyberh&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1479861750031921153","text":"To make @inlieuoffunshow a sustainable operation post-COVID, we are doing three things: \n(1) recruiting new cohosts.\n(2) building out t[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fpe194t9scjnj0f2qln4jwcz44gsjh&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1479640985952993289","text":"Grant, at a guess? https://t.co/9AQxZZUV3j"},{"id":"1479635977723424771","text":"RT @Abn_RN: This will be my most sincere tweet ever.\n\n[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?max_results=10&query=from%3Abenjaminwittes+%22Today+on+%40inlieuoffunshow%22&tweet.fields=author_id%2Centities
    method: GET
  response:
    body: '{"data":[{"entities":{"urls":[{"start":102,"end":125,"url":"https://t.co/IBez2zx3xy","expanded_url":"https://twitter.com/inlieuoffunshow/status/1479530087842291712","disp[...]
- request:
    body: '{"add":[{"value":"cat has:images lang:en","tag":"test english kittens whargarbl"}]}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules
    method: POST
  response:
    body: '{"data":[{"value":"cat has:images lang:en","tag":"test english kittens whargarbl","id":"1480078967558320130"}],"meta":{"sent":"2022-01-09T07:28:20.465Z","summary":{"created":1,"not_created":0,"valid":1,"invalid":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - ae8b8a863512a8e1bb793cdb46ee2026
      X-Rate-Limit-Limit:
      - "50"
      X-Rate-Limit-Remaining:
      - "49"
      X-Rate-Limit-Reset:
      - "1641714199"
      X-Response-Time:
      - "1494"
      X-Tsa-Request-Body-Time:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/stream/rules?ids=1480078967558320130
    method: GET
  response:
    body: '{"data":[{"id":"1480078967558320130","value":"cat has:images lang:en","tag":"test english kittens whargarbl"}],"meta":{"sent":"2022-01-09T07:28:20.596Z"}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - ae8b8a863512a8e1bb793cdb46ee2026
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "449"
      X-Rate-Limit-Reset:
      - "1641714200"
      X-Response-Time:
      - "107"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"delete":{"ids":["1480078967558320130"]}}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules?dry_run=true
    method: POST
  response:
    body: '{"meta":{"sent":"2022-01-09T07:28:22.416Z","summary":{"deleted":1,"not_deleted":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - ae8b8a863512a8e1bb793cdb46ee2026
      X-Rate-Limit-Limit:
      - "50"
      X-Rate-Limit-Remaining:
      - "48"
      X-Rate-Limit-Reset:
      - "1641714199"
      X-Response-Time:
      - "1266"
      X-Tsa-Request-Body-Time:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/1.1/statuses/show.json?id=1297524288245895168&tweet_mode=extended
    method: GET
  response:
    body: '{"created_at":"Sun Aug 23 13:21:11 +0000 2020","id":1297524288245895168,"id_str":"1297524288245895168","full_text":"Today on @inlieuoffunshow, it''s Mystery Guest Sunday. I bring a mystery guest recommended by audience members yesterday. Who will it be?\n5:00 pm Eastern time.\nOn Crowdcast: https:\/\/t.co\/N3pCyxcpZW \nOn YouTube: https:\/\/t.co\/pUKPEg4UKz\nOn Facebook, or right here on Twitter.","truncated":false,"display_text_range":[0,272],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"inlieuoffunshow","name":"In Lieu of Fun Show","id":1242605009205956608,"id_str":"1242605009205956608","indices":[9,25]}],"urls":[{"url":"https:\/\/t.co\/N3pCyxcpZW","expanded_url":"https:\/\/www.crowdcast.io\/e\/in-lieu-of-fun-episode-44","display_url":"crowdcast.io\/e\/in-lieu-of-f\u2026","indices":[173,196]},{"url":"https:\/\/t.co\/pUKPEg4UKz","expanded_url":"https:\/\/youtu.be\/ua64SYY08rE","display_url":"youtu.be\/ua64SYY08rE","indices":[210,233]}]},"source":"\u003ca href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":186667011,"id_str":"186667011","name":"Benjamin Wittes","screen_name":"benjaminwittes","location":"Washington DC","description":"Senior Fellow at the @BrookingsInst. Editor in Chief of @lawfareblog. Cohost of @inlieuoffunshow. I will block you for any reason or none at all.","url":"https:\/\/t.co\/eNn7IXx0Av","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/eNn7IXx0Av","expanded_url":"http:\/\/www.lawfareblog.com","display_url":"lawfareblog.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":411499,"friends_count":2295,"listed_count":4970,"created_at":"Sat Sep 04 02:04:41 +0000 2010","favourites_count":6399,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":40893,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1478503080585043969\/tAKVz38__normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1478503080585043969\/tAKVz38__normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/186667011\/1630960375","profile_link_color":"981CEB","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":2,"favorite_count":11,"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 09 Jan 2022 07:28:22 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - ae8b8a863512a8e1bb793cdb46ee2026
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "899"
      X-Rate-Limit-Reset:
      - "1641714202"
      X-Response-Time:
      - "82"
      X-Transaction:
      - 007d5a6900c5db76
      X-Twitter-Response-Tags:
      - BouncerCompliant
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/sample/stream?tweet.fields=author_id%2Centities
    method: GET
  response:
    body: "{\"data\":{\"author_id\":\"1094323801456668672\",\"entities\":{\"mentions\":[{\"start\":3,\"end\":10,\"username\":\"sekkai\",\"id\":\"66294475\"}],\"urls\":[{\"start\":63,\"end\":86,\"url\":\"https://t.co/ot9v4ASH31\",\"expanded_url\":\"https://tw[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/stream?tweet.fields=author_id
    method: GET
  response:
    body: "{\"data\":{\"author_id\":\"1453831224087166977\",\"id\":\"1480078966677516289\",\"text\":\"@Quin4Trump @NoMoreBlue1 @Unfortunatia @PatriotsVsLies @S__Monkie42 @poopantsbiden @shwizzzzle @echarlotte5525 @fireandgreen @Cat_red_dwarf @SinnerLarryE @pan_dejo_ @AmarisPixie @Bustedrims1 @RedStateJimy @_TrollKiller @izzyLOOOL @dogsdontliket @ThePoorMan95 @MaskMeNot1 @Michelleisback1 @AgainTt45 @Stonedghostboi @JETLAG611 @BigRakaDoc @StormyRose01 @magnolia4101 @NancyMAGAmonkey @CFielew @sophietucker4 @ezrocks0011 @Earthboundqu @DenTroupe @sherrylynnww1 @Qutie97439149 @cSEXI4 @NateStp1775 @ViktoriousBstrd @10000accounts @Mrs_Kuz @BuckeyeBitch @Jtb11431002 @BearClaws5 @john07014099 @Rockford522_Jim @yesisworld @greglilley5 @baseballguy777 @BridgetKennyFl1 @schwizzzzle That’s their play. Meanwhile they’re the real racists and homophobes/transphobic. She has a few sick accounts. \U0001F974 https://t.co/ArkQVhfd7b\"},\"matching_rules\":[{\"id\":\"1480079000256978945\",\"tag\":\"\"}]}\r\n{\"data\":{\"author_id\":\"1189160726591463424\",\"id\":\"1480078973212061700\",\"text\":\"RT @officialcyj: cat yeonjun close to the camera https://t.co/E650ztLO4P\"},\"matching_rules\":[{\"id\":\"1480079000256978945\",\"tag\":\"\"}]}\r\n{\"data\":{\"author_id\":\"739704973\",\"id\":\"1480078975820972033\",\"text\":\"RT @memesiwish: POV ur sitting at the table and ur cat dad is making you breakfast before school https://t.co/30sfDP7TBj\"},\"mat[...]
[...]
