---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by/username/jack?expansions=pinned_tweet_id&user.fields=created_at%2Cdescription%2Cpublic_metrics%2Cverified
    method: GET
  response:
    body: '{"data":{"name":"jack","public_metrics":{"followers_count":4773803,"following_count":4514,"tweet_count":27156,"listed_count":27761},"username":"jack","description":"#bitcoin","created_at":"2006-03-21T20:50:14.000Z","verified":true,"id":"12","pinned_tweet_id":"1247616214769086465"},"includes":{"tweets":[{"id":"1247616214769086465","text":"I’m moving $1B of my Square equity (~28% of my wealth) to #startsmall LLC to fund global COVID-19 relief. After we disarm this pandemic, the focus will shift to girl’s health and education, and UBI. It will operate transparently, all flows tracked here: https://t.co/hVkUczDQmz"}]}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 9833c2605a8332ce7811cea8e6bac22b
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1598640291"
      X-Response-Time:
      - "309"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets?expansions=entities.mentions.username&ids=1297524288245895168&tweet.fields=created_at%2Centities%2Cauthor_id
    method: GET
  response:
    body: '{"data":[{"author_id":"186667011","text":"Today on @inlieuoffunshow, it''s Mystery Guest Sunday. I bring a mystery guest recommended by audience members yesterday. Who will it be?\n5:00 pm Eastern time.\nOn Crowdcast: https://t.co/N3pCyxcpZW \nOn YouTube: https://t.co/pUKPEg4UKz\nOn Facebook, or right here on Twitter.","entities":{"annotations":[{"start":201,"end":207,"probability":0.4142,"type":"Organization","normalized_text":"YouTube"},{"start":237,"end":244,"probability":0.5224,"type":"Organization","normalized_text":"Facebook"},{"start":264,"end":270,"probability":0.5724,"type":"Product","normalized_text":"Twitter"}],"urls":[{"start":173,"end":196,"url":"https://t.co/N3pCyxcpZW","expanded_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44","display_url":"crowdcast.io/e/in-lieu-of-f…","images":[{"url":"https://pbs.twimg.com/news_img/1297524293283315739/yneRzw3p?format=png&name=orig","width":800,"height":550},{"url":"https://pbs.twimg.com/news_img/1297524293283315739/yneRzw3p?format=png&name=150x150","width":150,"height":150}],"status":200,"title":"In Lieu of Fun, Episode 150: Mystery Guest Sunday - Crowdcast","description":"Register now for Lawfare''s event on Crowdcast, scheduled to go live on Sunday August 23, 2020 at 5:00 pm EDT.","unwound_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44"},{"start":210,"end":233,"url":"https://t.co/pUKPEg4UKz","expanded_url":"https://youtu.be/ua64SYY08rE","display_url":"youtu.be/ua64SYY08rE","images":[{"url":"https://pbs.twimg.com/news_img/1297524290192121860/x42CG24Z?format=jpg&name=orig","width":1280,"height":720},{"url":"https://pbs.twimg.com/news_img/1297524290192121860/x42CG24Z?format=jpg&name=150x150","width":150,"height":150}],"status":200,"title":"In Lieu of Fun, Episode 150: Mystery Guest Sunday","description":"Wherein, it being Sunday, Ben brings a mystery guest...","unwound_url":"https://www.youtube.com/watch?v=ua64SYY08rE&feature=youtu.be"}],"mentions":[{"start":9,"end":25,"username":"inlieuoffunshow"}]},"created_at":"2020-08-23T13:21:11.000Z","id":"1297524288245895168"}],"includes":{"users":[{"id":"1242605009205956608","name":"In Lieu of Fun","username":"inlieuoffunshow"}]}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 9833c2605a8332ce7811cea8e6bac22b
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1598640292"
      X-Response-Time:
      - "103"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users?ids=12
    method: GET
  response:
    body: '{"data":[{"id":"12","name":"jack","username":"jack"}]}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 9833c2605a8332ce7811cea8e6bac22b
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1598640292"
      X-Response-Time:
      - "262"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by?user.fields=pinned_tweet_id%2Cprofile_image_url%2Cpublic_metrics&usernames=creachadair%2Cjack%2Cinlieuoffunshow
    method: GET
  response:
    body: '{"data":[{"id":"16431281","name":"M. J. Fromberger","profile_image_url":"https://pbs.twimg.com/profile_images/693243834063417344/luSHcxJu_normal.jpg","username":"creachadair","public_metrics":{"followers_count":550,"following_count":79,"tweet_count":432,"listed_count":8}},{"id":"12","name":"jack","profile_image_url":"https://pbs.twimg.com/profile_images/1115644092329758721/AFjOr-K8_normal.jpg","pinned_tweet_id":"1247616214769086465","username":"jack","public_metrics":{"followers_count":4773803,"following_count":4514,"tweet_count":27156,"listed_count":27761}},{"id":"1242605009205956608","name":"In Lieu of Fun","profile_image_url":"https://pbs.twimg.com/profile_images/1252728536462393346/leVFokPg_normal.jpg","username":"inlieuoffunshow","public_metrics":{"followers_count":2544,"following_count":25,"tweet_count":180,"listed_count":19}}]}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 9833c2605a8332ce7811cea8e6bac22b
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1598640292"
      X-Response-Time:
      - "264"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Acreachadair+has%3Amentions
    method: GET
  response:
    body: '{"data":[{"id":"1299381133252026368","text":"@Popehat It''s the old preferred first stone-caster problem."},{"id":"1298721687895019522","text":"@eisokant Remote work is rather like IFR in that regard. You can’t just look out the window, but you also can’t just assume your instruments are flawless. You need multiple sources of information that you can corroborate and make decisions from."},{"id":"1298443458030399489","text":"@Klonick @LeahLitman @marty_lederman @inlieuoffunshow https://t.co/ntiREmu2fV"},{"id":"1298099485747249152","text":"@Sajma @QuinnyPig He said \"wrong\"."}],"meta":{"newest_id":"1299381133252026368","oldest_id":"1298099485747249152","result_count":4}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 9833c2605a8332ce7811cea8e6bac22b
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "449"
      X-Rate-Limit-Reset:
      - "1598640292"
      X-Response-Time:
      - "303"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1299401580601540609","text":"@Susan_Hennessey @SamSmithTweets @qjurecic @jacob_r_schulz It was so obviously an autocorrect error in context that it wasn’t worth even ribbing you about."},{"id":"1299379113854201856","text":"[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fo7mg0njosh6mb5e9p3ebyf5pz8lml&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1299055928889741315","text":"Word https://t.co/bDkTi2sMrs"},{"id":"1299046028243599360","text":"RT @petestrzok: https://t.co/1pEqSP130L\n\n.@richardgrenell and @elise[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fo7mflww10xkniv6v09b0h7ju5md19&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1298773075497025541","text":"@NanflemE @muffin_train @robinwolaner @tolokno The tweet is surrounded by tweets about the piece she wrote. I wasn’t trying to hide the b[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?max_results=10&query=from%3Abenjaminwittes+%22Today+on+%40inlieuoffunshow%22&tweet.fields=author_id%2Centities
    method: GET
  response:
    body: '{"data":[{"id":"1299379113854201856","text":"Today on @inlieuoffunshow, Guests Gone Wild! 3 past guests—@timodc, @daniellecitron &amp; @RachelBitecofer—return and take ov[...]
- request:
    body: '{"add":[{"value":"cat has:images lang:en","tag":"test english kittens whargarbl"}]}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules
    method: POST
  response:
    body: '{"data":[{"value":"cat has:images lang:en","tag":"test english kittens whargarbl","id":"1299413920076234753"}],"meta":{"sent":"2020-08-28T18:29:55.915Z","summary":{"created":1,"not_created":0,"valid":1,"invalid":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 9833c2605a8332ce7811cea8e6bac22b
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "437"
      X-Rate-Limit-Reset:
      - "1598639401"
      X-Response-Time:
      - "1037"
      X-Tsa-Request-Body-Time:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/stream/rules?ids=1299413920076234753
    method: GET
  response:
    body: '{"data":[{"id":"1299413920076234753","value":"cat has:images lang:en","tag":"test english kittens whargarbl"}],"meta":{"sent":"2020-08-28T18:29:56.261Z"}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 9833c2605a8332ce7811cea8e6bac22b
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "449"
      X-Rate-Limit-Reset:
      - "1598640296"
      X-Response-Time:
      - "256"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"delete":{"ids":["1299413920076234753"]}}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules?dry_run=true
    method: POST
  response:
    body: '{"meta":{"sent":"2020-08-28T18:29:57.856Z","summary":{"deleted":1,"not_deleted":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 9833c2605a8332ce7811cea8e6bac22b
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "436"
      X-Rate-Limit-Reset:
      - "1598639401"
      X-Response-Time:
      - "872"
      X-Tsa-Request-Body-Time:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/1.1/statuses/show.json?id=1297524288245895168&tweet_mode=extended
    method: GET
  response:
    body: '{"created_at":"Sun Aug 23 13:21:11 +0000 2020","id":1297524288245895168,"id_str":"1297524288245895168","full_text":"Today on @inlieuoffunshow, it''s Mystery Guest Sunday. I bring a mystery guest recommended by audience members yesterday. Who will it be?\n5:00 pm Eastern time.\nOn Crowdcast: https:\/\/t.co\/N3pCyxcpZW \nOn YouTube: https:\/\/t.co\/pUKPEg4UKz\nOn Facebook, or right here on Twitter.","truncated":false,"display_text_range":[0,272],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"inlieuoffunshow","name":"In Lieu of Fun","id":1242605009205956608,"id_str":"1242605009205956608","indices":[9,25]}],"urls":[{"url":"https:\/\/t.co\/N3pCyxcpZW","expanded_url":"https:\/\/www.crowdcast.io\/e\/in-lieu-of-fun-episode-44","display_url":"crowdcast.io\/e\/in-lieu-of-f\u2026","indices":[173,196]},{"url":"https:\/\/t.co\/pUKPEg4UKz","expanded_url":"https:\/\/youtu.be\/ua64SYY08rE","display_url":"youtu.be\/ua64SYY08rE","indices":[210,233]}]},"source":"\u003ca href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":186667011,"id_str":"186667011","name":"Benjamin \u201c18 U.S.C. \u00a7\u202f114\u201d Wittes","screen_name":"benjaminwittes","location":"Washington DC","description":"Senior Fellow at @BrookingsInst. Editor in Chief of @lawfareblog. Law Analyst for @nbcnews and @msnbc. It was snowing. And it was going to snow.","url":"https:\/\/t.co\/iuLkxNu7c8","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/iuLkxNu7c8","expanded_url":"http:\/\/www.benjaminwittes.com","display_url":"benjaminwittes.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":405055,"friends_count":2003,"listed_count":4629,"created_at":"Sat Sep 04 02:04:41 +0000 2010","favourites_count":4856,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":32632,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1248960544092061697\/SzbGgHI__normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1248960544092061697\/SzbGgHI__normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/186667011\/1592433398","profile_link_color":"981CEB","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":4,"favorite_count":12,"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 28 Aug 2020 18:29:59 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 9833c2605a8332ce7811cea8e6bac22b
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "899"
      X-Rate-Limit-Reset:
      - "1598640299"
      X-Response-Time:
      - "83"
      X-Transaction:
      - 005f55630025598f
      X-Twitter-Response-Tags:
      - BouncerCompliant
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/sample/stream?tweet.fields=author_id%2Centities
    method: GET
  response:
    body: "{\"data\":{\"id\":\"1299413897070469122\",\"text\":\"자동트윗... 멘션주면 최대한 답 하려고 노력할게.  #컁\",\"author_id\":\"3847135098\",\"entities\":{\"hashtags\":[{\"start\":30,\"end\":32,\"tag\":\"컁\"}]}}}\r\n{\"data\":{\"id\":\"1299413897091448833\",\"text\":\"RT[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/stream?tweet.fields=author_id
    method: GET
  response:
    body: "{\"data\":{\"author_id\":\"3016643593\",\"id\":\"1299413904150364160\",\"text\":\"RT @Reductress: 4 Pectoral Exercises That Still Won’t Prepare You For A Cat Walking Across Your Titties: https://t.co/Nu0BtWtc2i https://t.…\"},\"matching_rules\":[{\"id\":1299413941207150593,\"tag\":null},{\"id\":1299197432593408001,\"tag\":null}]}\r\n{\"data\":{\"author_id\":\"4716720576\",\"id\":\"1299413905693966336\",\"text\":\"RT @ungodlygirl: my mom got a sweatshirt for my cat and we put it on her and she.....EYE https://t.co/PUEg9tHlbZ\"},\"matching_rules\":[{\"id\":1299413941207150593,\"tag\":null},{\"id\":1299197432593408001,\"tag\":null}]}\r\n{\"data\":{\"author_id\":\"1285710397232893952\",\"id\":\"1299413906293653505\",\"text\":\"RT @alfa_qui[...]
[...]
