---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by/username/jack?expansions=pinned_tweet_id&user.fields=created_at%2Cdescription%2Cpublic_metrics%2Cverified
    method: GET
  response:
    body: '{"data":{"description":"#bitcoin","verified":true,"id":"12","pinned_tweet_id":"1247616214769086465","username":"jack","public_metrics":{"followers_count":6150172,"following_count":4522,"tweet_count":28227,"listed_count":31951},"created_at":"2006-03-21T20:50:14.000Z","name":"jack⚡️"},"includes":{"tweets":[{"id":"1247616214769086465","text":"I’m moving $1B of my Square equity (~28% of my wealth) to #startsmall LLC to fund global COVID-19 relief. After we disarm this pandemic, the focus will shift to girl’s health and education, and UBI. It will operate transparently, all flows tracked here: https://t.co/hVkUczDQmz"}]}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1e99fd929f0ea1c14847e0ecc5c30394f708b7fa8d60605f44ec3e574f89e726
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1642387637"
      X-Response-Time:
      - "48"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets?expansions=entities.mentions.username&ids=1297524288245895168&tweet.fields=author_id%2Ccreated_at%2Centities
    method: GET
  response:
    body: '{"data":[{"text":"Today on @inlieuoffunshow, it''s Mystery Guest Sunday. I bring a mystery guest recommended by audience members yesterday. Who will it be?\n5:00 pm Eastern time.\nOn Crowdcast: https://t.co/N3pCyxcpZW \nOn YouTube: https://t.co/pUKPEg4UKz\nOn Facebook, or right here on Twitter.","entities":{"mentions":[{"start":9,"end":25,"username":"inlieuoffunshow","id":"1242605009205956608"}],"annotations":[{"start":201,"end":207,"probability":0.4142,"type":"Organization","normalized_text":"YouTube"},{"start":237,"end":244,"probability":0.5224,"type":"Organization","normalized_text":"Facebook"},{"start":264,"end":270,"probability":0.5724,"type":"Product","normalized_text":"Twitter"}],"urls":[{"start":173,"end":196,"url":"https://t.co/N3pCyxcpZW","expanded_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44","display_url":"crowdcast.io/e/in-lieu-of-f…","status":200,"unwound_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44"},{"start":210,"end":233,"url":"https://t.co/pUKPEg4UKz","expanded_url":"https://youtu.be/ua64SYY08rE","display_url":"youtu.be/ua64SYY08rE","status":200,"unwound_url":"https://www.youtube.com/watch?v=ua64SYY08rE&feature=youtu.be"}]},"author_id":"186667011","id":"1297524288245895168","created_at":"2020-08-23T13:21:11.000Z"}],"includes":{"users":[{"id":"1242605009205956608","name":"In Lieu of Fun Show","username":"inlieuoffunshow"}]}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1e99fd929f0ea1c14847e0ecc5c30394f708b7fa8d60605f44ec3e574f89e726
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1642387637"
      X-Response-Time:
      - "69"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/12/liked_tweets?expansions=author_id&max_results=10&tweet.fields=author_id
    method: GET
  response:
    body: '{"data":[{"author_id":"379400685","id":"1482898758614454272","text":"rust is the debit card of programming languages.\n\nwhen you borrow with credit card langauges you build technical debt."},{"author_id":"17337341","id":[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/1039602865831010305/liking_users
    method: GET
  response:
    body: '{"data":[{"id":"14059525","name":"Oleg","username":"snowshade"},{"id":"1290812003683098624","name":"Mbele Davey","username":"mbeledavey"},{"id":"17575058","name":"Gonçalo","username":"goncalossilva"},{"id":"13655672","name":"Paulo Köch","username":"pkoch"},{"id"[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users?ids=12
    method: GET
  response:
    body: '{"data":[{"id":"12","name":"jack⚡️","username":"jack"}]}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1e99fd929f0ea1c14847e0ecc5c30394f708b7fa8d60605f44ec3e574f89e726
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1642387637"
      X-Response-Time:
      - "23"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by?user.fields=pinned_tweet_id%2Cprofile_image_url%2Cpublic_metrics&usernames=kanyewest%2Cjack%2CPopehat
    method: GET
  response:
    body: '{"data":[{"profile_image_url":"https://pbs.twimg.com/profile_images/1276461929934942210/cqNhNk6v_normal.jpg","id":"169686021","pinned_tweet_id":"1283507551586459648","username":"kanyewest","public_metrics":{"followers_count":30604661,"following_count":209,"tweet_count":1911,"listed_count":43413},"name":"ye"},{"profile_image_url":"https://pbs.twimg.com/profile_images/1115644092329758721/AFjOr-K8_normal.jpg","id":"12","pinned_tweet_id":"1247616214769086465","username":"jack","public_metrics":{"followers_count":6150172,"following_count":4522,"tweet_count":28227,"listed_count":31951},"name":"jack⚡️"},{"profile_image_url":"https://pbs.twimg.com/profile_images/884879301190967296/oTCsTck5_normal.jpg","id":"18839937","pinned_tweet_id":"1317118094133751808","username":"Popehat","public_metrics":{"followers_count":284231,"following_count":1224,"tweet_count":220283,"listed_count":4063},"name":"PoundPoundPoundHat"}]}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1e99fd929f0ea1c14847e0ecc5c30394f708b7fa8d60605f44ec3e574f89e726
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "297"
      X-Rate-Limit-Reset:
      - "1642387134"
      X-Response-Time:
      - "34"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/12/followers?max_results=5&user.fields=verified
    method: GET
  response:
    body: '{"data":[{"verified":false,"username":"SilviaBuonocore","name":"Silvia Buonocore","id":"1240100032432549888"},{"verified":false,"username":"immirac1e","name":"mirac1e","id":"1461709292612972545"},{"verified":false,"username":"dannyka46327867","name":"danny kang","id":"1450556872881319943"},{"verified":false,"username":"maxminted","name":"J R","id":"1446466893922160642"},{"verified":false,"username":"JanieLa88207934","name":"Janie Lawson \uD83D\uDE0D\uD83D\uDE0D\uD83D\uDE0D","id":"1482902014904446976"}],"meta":{"result_count":5,"next_token":"6RDBFTN5BNJ1EZZZ"}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1e99fd929f0ea1c14847e0ecc5c30394f708b7fa8d60605f44ec3e574f89e726
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "14"
      X-Rate-Limit-Reset:
      - "1642387637"
      X-Response-Time:
      - "57"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/16431281/following?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"203722847","name":"William Banfield","username":"BillyBamf"},{"id":"760579","name":"tychoish (sam)","username":"tychoish"},{"id":"829712328375414785","name":"Shahms King","username":"shahmsking"},{"id":"1351114532408668163","name":"Shit User Story","username":"ShitUserStory"},{"id":"1232783237623119872","name":"NASA''s Perseverance Mars Rover","username":"NASAPersevere"}],"meta":{"result_count":5,"next_token":"588UVIGUF5THEZZZ"}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1e99fd929f0ea1c14847e0ecc5c30394f708b7fa8d60605f44ec3e574f89e726
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "14"
      X-Rate-Limit-Reset:
      - "1642387637"
      X-Response-Time:
      - "46"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1318922483496591360?list.fields=created_at%2Cdescription%2Cfollower_count%2Cmember_count
    method: GET
  response:
    body: '{"data":{"name":"In Lieu of Fun Guestlist","follower_count":74,"created_at":"2020-10-21T14:29:59.000Z","description":"Official Twitter guest list of the In Lieu of Fun Show.","member_count":174,"id":"1318922483496591360"}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1e99fd929f0ea1c14847e0ecc5c30394f708b7fa8d60605f44ec3e574f89e726
      X-Rate-Limit-Limit:
      - "75"
      X-Rate-Limit-Remaining:
      - "74"
      X-Rate-Limit-Reset:
      - "1642387637"
      X-Response-Time:
      - "36"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/1242605009205956608/owned_lists?list.fields=created_at%2Cdescription%2Cfollower_count%2Cmember_count
    method: GET
  response:
    body: '{"data":[{"id":"1318922483496591360","follower_count":74,"created_at":"2020-10-21T14:29:59.000Z","member_count":174,"description":"Official Twitter guest list of the In Lieu of Fun Show.","name":"In Lieu of Fun Guestlist"}],"meta":{"result_count":1}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1e99fd929f0ea1c14847e0ecc5c30394f708b7fa8d60605f44ec3e574f89e726
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "14"
      X-Rate-Limit-Reset:
      - "1642387638"
      X-Response-Time:
      - "59"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/16431281/list_memberships?expansions=owner_id&list.fields=owner_id&user.fields=location
    method: GET
  response:
    body: '{"data":[{"id":"1345889115179536384","name":"Software","owner_id":"1056887880394641410"},{"id":"102663289","name":"software engineering","owner_id":"15123426"},{"id":"1103846010294394881","name":"Code","owner_id":"7303742"},{"id":"984169246044323840","name":"Machine Learning","owner_id":"91347803"},{"id":"1034516174535634955","name":"ml4pl","owner_id":"162422316"},{"id":"222201888","name":"Golang","owner_id":"15734187"},{"id":"110594012","name":"Machine Learning folks","owner_id":"14338766"},{"id":"197429","name":"Friends","owner_id":"15450122"},{"id":"2309040","name":"Dartmouth","owner_id":"13447902"}],"includes":{"users":[{"username":"OmarBessa","location":"Patagonia, Argentina","id":"1056887880394641410","name":"Pabli!"},{"username":"thierrymarianne","id":"15123426","name":"Thierry Marianne \uD83D\uDCD2"},{"username":"Damien_Neil","id":"7303742","name":"Damien Neil"},{"username":"ankurbohra","id":"91347803","name":"Ankur Bohra"},{"username":"Jan_Hula","id":"162422316","name":"Jan Hůla"},{"username":"christopheviaud","location":"Le Mans, Pays de la Loire","id":"15734187","name":"Christophe VIAUD"},{"username":"phil_renaud","location":"Toronto","id":"14338766","name":"Phil Renaud"},{"username":"sushigrade","location":"Western NY, USA","id":"15450122","name":"The Kandalorian"},{"username":"copumpkin","location":"Tower of the Elephant''s Tusk","id":"13447902","name":"Dan P"}]},"meta":{"result_count":9}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1e99fd929f0ea1c14847e0ecc5c30394f708b7fa8d60605f44ec3e574f89e726
      X-Rate-Limit-Limit:
      - "75"
      X-Rate-Limit-Remaining:
      - "74"
      X-Rate-Limit-Reset:
      - "1642387638"
      X-Response-Time:
      - "119"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/186667011/followed_lists
    method: GET
  response:
    body: '{"data":[{"id":"1277227777087795201","name":"ilof-guests"},{"id":"1085257129060118528","name":"Israeli Politics"},{"id":"1212931737459810309","name":"Iran/Iraq & USFP"},{"id":"213535616","name":"Editors & Contributors"}],"meta":{"result_count":4}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1e99fd929f0ea1c14847e0ecc5c30394f708b7fa8d60605f44ec3e574f89e726
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "14"
      X-Rate-Limit-Reset:
      - "1642387638"
      X-Response-Time:
      - "57"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1103846010294394881/members?max_results=5&user.fields=location
    method: GET
  response:
    body: '{"data":[{"id":"1026228327886073856","username":"thepudds1","name":"thepudds"},{"id":"1112334438","username":"golangweekly","name":"Golang Weekly","location":"Sign up for the newsletter ⤵️"},{"id":"197263266","username":"rob_pike","name":"Rob Pike","location":"Sydney, New South Wales"},{"id":"161667651","username":"copyconstruct","name":"Cindy Sridharan","location":"San Francisco, CA"},{"id":"122053508","username":"francesc","name":"francesc","location":"Sant Francesc, CA"}],"meta":{"result_count":5,"next_token":"4611686018549441412"}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1e99fd929f0ea1c14847e0ecc5c30394f708b7fa8d60605f44ec3e574f89e726
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "899"
      X-Rate-Limit-Reset:
      - "1642387638"
      X-Response-Time:
      - "63"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1103846010294394881/members?max_results=5&pagination_token=4611686018549441412&user.fields=location
    method: GET
  response:
    body: '{"data":[{"location":"Berkeley, CA","username":"davidcrawshaw","id":"73774650","name":"David Crawshaw"},{"username":"_rsc","id":"22455722","name":"Russ Cox"},{"location":"Santa Barbara, CA","username":"_zombiezen_","id":"17980870","name":"Ross Light"},{"location":"Canada. Sometimes.","username":"apenwarr","id":"17744848","name":"apenwarr"},{"location":"Oxford, UK","username":"emshort","id":"17288264","name":"Emily Short"}],"meta":{"result_count":5,"next_token":"4611686018444676168","previous_token":"-4611686018501162554"}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1e99fd929f0ea1c14847e0ecc5c30394f708b7fa8d60605f44ec3e574f89e726
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "898"
      X-Rate-Limit-Reset:
      - "1642387638"
      X-Response-Time:
      - "61"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/110594012/followers?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"1038199626522800128","name":"Deephaven Data Labs","username":"deephaven"},{"id":"340857592","name":"* * * * ** * * * * * * **** * * * * * * ** * * * *","username":"THEPHANTOM_____"},{"id":"14856395","name":"Robert Raesemann","username":"RobRaesemann"},{"id":"706763","name":"uɐɥʞʎl∀","username":"alykhan"},{"id":"93341008","name":"Hari","username":"sreeharips"}],"meta":{"result_count":5,"next_token":"1669124202417976865"}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1e99fd929f0ea1c14847e0ecc5c30394f708b7fa8d60605f44ec3e574f89e726
      X-Rate-Limit-Limit:
      - "180"
      X-Rate-Limit-Remaining:
      - "179"
      X-Rate-Limit-Reset:
      - "1642387638"
      X-Response-Time:
      - "66"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1318922483496591360/tweets?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"1482903109810667521","text":"Having complained about the impenetrability of FISA, I just read the FISA sections in @charlie_savage''s \"Power Wars.\" He does such a great job clearly explaining how our convoluted system of electronic surve[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Acreachadair+has%3Amentions
    method: GET
  response:
    body: '{"data":[{"id":"1482387103765831685","text":"@Klonick Moron lobby"},{"id":"1481092609049169924","text":"@Klonick @GenevieveDFR @benjaminwittes @scottjshapiro If you have to ask whether it’s a trolley problem, chances are you’re on the wrong track."}],"meta":{"newest_id":"1482387103765831685","oldest_id":"1481092609049169924","result_count":2}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1e99fd929f0ea1c14847e0ecc5c30394f708b7fa8d60605f44ec3e574f89e726
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "448"
      X-Rate-Limit-Reset:
      - "1642387117"
      X-Response-Time:
      - "56"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1482818674620776448","text":"@debbiedoescakes Now I feel bad!\nIt was joke!"},{"id":"1482811496258322433","text":"Why do so many people think I’m interested in their performance on Wordle?"},{"id":"1482747867295010824","tex[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fpe45yfo3m1suyvaa03dqolypvwry5&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1482361977490001920","text":"Don''t forget.... https://t.co/O7tbZtuF5i"},{"id":"1482359972730134533","text":"@CenterForBioDiv #BeastlyQueue"},{"id":"14823591676251422[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fpe45y9aiqx3lynusffys6gfpqyyrh&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1482057346125807620","text":"Yup.\nPoint is, it sounds ridiculous for Putin to send saboteurs to Ukraine to create a pretext for him to launch a major military operat[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?max_results=10&query=wordle+has%3Aimages&tweet.fields=author_id%2Centities
    method: GET
  response:
    body: '{"data":[{"entities":{"hashtags":[{"start":29,"end":36,"tag":"Wordle"}],"urls":[{"start":37,"end":60,"url":"https://t.co/MQLTU4HgTR","expanded_url":"https://twitter.com/manic_manduhh/status/1482903483971870720/photo/1","display_url":"pic.twitter.com/MQLTU4HgTR"}]},"id":"1482903483971870720","text":"I’m doomed to remain uncool. #Wordle https://t.co/MQLTU4HgTR","author_id":"363981725"},{"entities":{"mentions":[{"start":71,"end":84,"username":"CitizenBoyer","id":"1176625568"}],"urls":[{"start":86,"end":109,"url":"https://t.co/CBYdl9CtBI","expanded_url":"http[...]
- request:
    body: '{"add":[{"value":"cat has:images lang:en","tag":"test english kittens whargarbl"}]}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules
    method: POST
  response:
    body: '{"data":[{"value":"cat has:images lang:en","tag":"test english kittens whargarbl","id":"1482903581476802560"}],"meta":{"sent":"2022-01-17T02:32:19.551Z","summary":{"created":1,"not_created":0,"valid":1,"invalid":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1e99fd929f0ea1c14847e0ecc5c30394f708b7fa8d60605f44ec3e574f89e726
      X-Rate-Limit-Limit:
      - "50"
      X-Rate-Limit-Remaining:
      - "49"
      X-Rate-Limit-Reset:
      - "1642387639"
      X-Response-Time:
      - "116"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/stream/rules?ids=1482903581476802560
    method: GET
  response:
    body: '{"data":[{"id":"1482903581476802560","value":"cat has:images lang:en","tag":"test english kittens whargarbl"}],"meta":{"sent":"2022-01-17T02:32:19.637Z"}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1e99fd929f0ea1c14847e0ecc5c30394f708b7fa8d60605f44ec3e574f89e726
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "449"
      X-Rate-Limit-Reset:
      - "1642387639"
      X-Response-Time:
      - "64"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"delete":{"ids":["1482903581476802560"]}}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules?dry_run=true
    method: POST
  response:
    body: '{"meta":{"sent":"2022-01-17T02:32:19.938Z","summary":{"deleted":1,"not_deleted":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1e99fd929f0ea1c14847e0ecc5c30394f708b7fa8d60605f44ec3e574f89e726
      X-Rate-Limit-Limit:
      - "50"
      X-Rate-Limit-Remaining:
      - "48"
      X-Rate-Limit-Reset:
      - "1642387639"
      X-Response-Time:
      - "127"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/1.1/statuses/show.json?id=1297524288245895168&tweet_mode=extended
    method: GET
  response:
    body: '{"created_at":"Sun Aug 23 13:21:11 +0000 2020","id":1297524288245895168,"id_str":"1297524288245895168","full_text":"Today on @inlieuoffunshow, it''s Mystery Guest Sunday. I bring a mystery guest recommended by audience members yesterday. Who will it be?\n5:00 pm Eastern time.\nOn Crowdcast: https:\/\/t.co\/N3pCyxcpZW \nOn YouTube: https:\/\/t.co\/pUKPEg4UKz\nOn Facebook, or right here on Twitter.","truncated":false,"display_text_range":[0,272],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"inlieuoffunshow","name":"In Lieu of Fun Show","id":1242605009205956608,"id_str":"1242605009205956608","indices":[9,25]}],"urls":[{"url":"https:\/\/t.co\/N3pCyxcpZW","expanded_url":"https:\/\/www.crowdcast.io\/e\/in-lieu-of-fun-episode-44","display_url":"crowdcast.io\/e\/in-lieu-of-f\u2026","indices":[173,196]},{"url":"https:\/\/t.co\/pUKPEg4UKz","expanded_url":"https:\/\/youtu.be\/ua64SYY08rE","display_url":"youtu.be\/ua64SYY08rE","indices":[210,233]}]},"source":"\u003ca href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":186667011,"id_str":"186667011","name":"Benjamin Wittes","screen_name":"benjaminwittes","location":"Washington DC","description":"Senior Fellow at the @BrookingsInst. Editor in Chief of @lawfareblog. Cohost of @inlieuoffunshow. \"Not even a lawyer.\" I will block you for any reason or none.","url":"https:\/\/t.co\/eNn7IXx0Av","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/eNn7IXx0Av","expanded_url":"http:\/\/www.lawfareblog.com","display_url":"lawfareblog.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":411589,"friends_count":2301,"listed_count":4974,"created_at":"Sat Sep 04 02:04:41 +0000 2010","favourites_count":6426,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":41085,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1480721638211661831\/peSq2zMb_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1480721638211661831\/peSq2zMb_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/186667011\/1630960375","profile_link_color":"981CEB","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":2,"favorite_count":11,"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 17 Jan 2022 02:32:20 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1e99fd929f0ea1c14847e0ecc5c30394f708b7fa8d60605f44ec3e574f89e726
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "899"
      X-Rate-Limit-Reset:
      - "1642387640"
[...]
