---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by/username/jack?expansions=pinned_tweet_id&user.fields=created_at%2Cdescription%2Cpublic_metrics%2Cverified
    method: GET
  response:
    body: '{"data":{"username":"jack","id":"12","description":"romantic moron, 1/8th
      hippie #bitcoin","public_metrics":{"followers_count":6254027,"following_count":4568,"tweet_count":28383,"listed_count":32519},"name":"jack⚡️","created_at":"2006-03-21T20:50:14.000Z","verified":true,"pinned_tweet_id":"1247616214769086465"},"includes":{"tweets":[{"id":"1247616214769086465","text":"I’m
      moving $1B of my Square equity (~28% of my wealth) to #startsmall LLC to fund
      global COVID-19 relief. After we disarm this pandemic, the focus will shift
      to girl’s health and education, and UBI. It will operate transparently, all
      flows tracked here: https://t.co/hVkUczDQmz"}]}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b1bcd86d68dbdebb23ccdfe58a945e58774707070c1136535d7387567e9f2669
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "298"
      X-Rate-Limit-Reset:
      - "1650089421"
      X-Response-Time:
      - "49"
    status: 200 OK
    code: 200
    duration: 404.15575ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets?expansions=entities.mentions.username&ids=1297524288245895168&tweet.fields=author_id%2Ccreated_at%2Centities
    method: GET
  response:
    body: '{"data":[{"id":"1297524288245895168","author_id":"186667011","text":"Today
      on @inlieuoffunshow, it''s Mystery Guest Sunday. I bring a mystery guest recommended
      by audience members yesterday. Who will it be?\n5:00 pm Eastern time.\nOn Crowdcast:
      https://t.co/N3pCyxcpZW \nOn YouTube: https://t.co/pUKPEg4UKz\nOn Facebook,
      or right here on Twitter.","created_at":"2020-08-23T13:21:11.000Z","entities":{"annotations":[{"start":201,"end":207,"probability":0.4142,"type":"Organization","normalized_text":"YouTube"},{"start":237,"end":244,"probability":0.5224,"type":"Organization","normalized_text":"Facebook"},{"start":264,"end":270,"probability":0.5724,"type":"Product","normalized_text":"Twitter"}],"mentions":[{"start":9,"end":25,"username":"inlieuoffunshow","id":"1242605009205956608"}],"urls":[{"start":173,"end":196,"url":"https://t.co/N3pCyxcpZW","expanded_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44","display_url":"crowdcast.io/e/in-lieu-of-f…","status":200,"unwound_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44"},{"start":210,"end":233,"url":"https://t.co/pUKPEg4UKz","expanded_url":"https://youtu.be/ua64SYY08rE","display_url":"youtu.be/ua64SYY08rE","status":200,"unwound_url":"https://www.youtube.com/watch?v=ua64SYY08rE&feature=youtu.be"}]}}],"includes":{"users":[{"id":"1242605009205956608","name":"In
      Lieu of Fun Show","username":"inlieuoffunshow"}]}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b1bcd86d68dbdebb23ccdfe58a945e58774707070c1136535d7387567e9f2669
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "298"
      X-Rate-Limit-Reset:
      - "1650089421"
      X-Response-Time:
      - "53"
    status: 200 OK
    code: 200
    duration: 134.845334ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/1515177881831321600/quote_tweets?max_results=15&tweet.fields=author_id%2Ccreated_at
    method: GET
  response:
    body: '{"data":[{"text":"RT @pmarca: https://t.co/6VNapZVA7Q https://t.co/zfu4vVUsaa","author_id":"854464650964062213","created_at":"2022-04-16T05:36:15.000Z","id":"1515202389200015362"},{"text":"RT
      @pmarca: http[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/916533386352537601/tweets?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"1514359279590932480","text":"It’s #WormWednesday! Check
      out this unusual flatworm I found last weekend. https://t.co/owaKzrwhQh"},{"id":"1513680241637552129","text":"@prometheusgreen
      Hale’iwa trench is the best I’ve found for unusual slugs—if you go straight
      out from the beach at Hale’iwa Ali’i park, there’s a long shallow area with
      tons of cool cryptic stuff, and then a steep wall with many good things when
      you get further out!"},{"id":"1513666346369781761","text":"@prometheusgreen
      Most were from one dive last night (at the sluggiest site of all; I love it)
      but a few are from earlier in the week!"},{"id":"1513610524314923010","text":"@Carolina_Pines1
      @echinoblog Yes, a little chromodorid nudibranch!"},{"id":"1513610341699125249","text":"And
      finally, in a non-nudibranch twist, an unusually cooperative day octo. https://t.co/G5jTwZ4ZN6"}],"meta":{"result_count":5,"newest_id":"1514359279590932480","oldest_id":"1513610341699125249","next_token":"7140dibdnow9c7btw420yvhyn8gmv0mn4uj1vnlyn5gzd"}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b1bcd86d68dbdebb23ccdfe58a945e58774707070c1136535d7387567e9f2669
      X-Rate-Limit-Limit:
      - "1500"
      X-Rate-Limit-Remaining:
      - "1497"
      X-Rate-Limit-Reset:
      - "1650089389"
      X-Response-Time:
      - "83"
    status: 200 OK
    code: 200
    duration: 162.041833ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/2805856351/mentions?max_results=5&tweet.fields=author_id
    method: GET
  response:
    body: '{"data":[{"author_id":"1047151264432295936","id":"1515176088682606593","text":"@mmasnick
      @RubenZorian @IronyDead @Klonick Who is the left’s Babylon Bee?\n\nThis list
      is massively tilted toward the right where mere speech is the[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/12/liked_tweets?expansions=author_id&max_results=10&tweet.fields=author_id
    method: GET
  response:
    body: '{"data":[{"author_id":"1081022379910881280","id":"1436039744752963592","text":"\uD83D\uDE02
      No comment. https://t.co/Q2thUGQ4Ke"},{"author_id":"6069072","id":"1435981254503981058","text":"two
      years at the bird[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/1039602865831010305/liking_users
    method: GET
  response:
    body: '{"data":[{"id":"14059525","name":"Oleg","username":"snowshade"},{"id":"1290812003683098624","name":"Mbele
      Davey","username":"mbeledavey"},{"id":"17575058","name":"Gonçalo","username":"goncalossilva"},{"id":"13655672","name":"Paulo
      Köch","username":"p[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users?ids=12
    method: GET
  response:
    body: '{"data":[{"id":"12","name":"jack⚡️","username":"jack"}]}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b1bcd86d68dbdebb23ccdfe58a945e58774707070c1136535d7387567e9f2669
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "297"
      X-Rate-Limit-Reset:
      - "1650089053"
      X-Response-Time:
      - "26"
    status: 200 OK
    code: 200
    duration: 103.577083ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by?user.fields=pinned_tweet_id%2Cprofile_image_url%2Cpublic_metrics&usernames=kanyewest%2Cjack%2CPopehat
    method: GET
  response:
    body: '{"data":[{"public_metrics":{"followers_count":30795966,"following_count":209,"tweet_count":1910,"listed_count":43443},"username":"kanyewest","profile_image_url":"https://pbs.twimg.com/profile_images/1276461929934942210/cqNhNk6v_normal.jpg","pinned_tweet_id":"1283507551586459648","name":"ye","id":"169686021"},{"public_metrics":{"followers_count":6254027,"following_count":4568,"tweet_count":28383,"listed_count":32519},"username":"jack","profile_image_url":"https://pbs.twimg.com/profile_images/1115644092329758721/AFjOr-K8_normal.jpg","pinned_tweet_id":"1247616214769086465","name":"jack⚡️","id":"12"},{"public_metrics":{"followers_count":295276,"following_count":1241,"tweet_count":226751,"listed_count":4189},"username":"Popehat","profile_image_url":"https://pbs.twimg.com/profile_images/884879301190967296/oTCsTck5_normal.jpg","pinned_tweet_id":"1508499393812393984","name":"USankMyBattleshipHat","id":"18839937"}]}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b1bcd86d68dbdebb23ccdfe58a945e58774707070c1136535d7387567e9f2669
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "295"
      X-Rate-Limit-Reset:
      - "1650089056"
      X-Response-Time:
      - "33"
    status: 200 OK
    code: 200
    duration: 112.062125ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/12/followers?max_results=5&user.fields=verified
    method: GET
  response:
    body: '{"data":[{"id":"21300504","verified":false,"name":"Rich","username":"t_witterrich"},{"id":"766020174319329281","verified":false,"name":"Coop
      Fotho","username":"CoopFotho"},{"id":"1004211288","verified":false,"name":"Uroš
      Bratušek","username":"bratuek"},{"id":"911963719898419200","verified":false,"name":"Alvaro
      Espejo","username":"AlvaroEspej0"},{"id":"1445139944104607763","verified":false,"name":".","username":"lvel_s"}],"meta":{"result_count":5,"next_token":"P6TTFNOK1S1HGZZZ"}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b1bcd86d68dbdebb23ccdfe58a945e58774707070c1136535d7387567e9f2669
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "13"
      X-Rate-Limit-Reset:
      - "1650089424"
      X-Response-Time:
      - "60"
    status: 200 OK
    code: 200
    duration: 137.882167ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/16431281/following?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"203722847","name":"William Banfield","username":"BillyBamf"},{"id":"760579","name":"tychoish
      (sam)","username":"tychoish"},{"id":"829712328375414785","name":"Shahms King","username":"shahmsking"},{"id":"1351114532408668163","name":"Shit
      User Story","username":"ShitUserStory"},{"id":"1232783237623119872","name":"NASA''s
      Perseverance Mars Rover","username":"NASAPersevere"}],"meta":{"result_count":5,"next_token":"588UVIGUF5THEZZZ"}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b1bcd86d68dbdebb23ccdfe58a945e58774707070c1136535d7387567e9f2669
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "13"
      X-Rate-Limit-Reset:
      - "1650089424"
      X-Response-Time:
      - "51"
    status: 200 OK
    code: 200
    duration: 126.479458ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1318922483496591360?list.fields=created_at%2Cdescription%2Cfollower_count%2Cmember_count
    method: GET
  response:
    body: '{"data":{"name":"In Lieu of Fun Guestlist","member_count":174,"id":"1318922483496591360","created_at":"2020-10-21T14:29:59.000Z","follower_count":75,"description":"Official
      Twitter guest list of the In Lieu of Fun Show."}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b1bcd86d68dbdebb23ccdfe58a945e58774707070c1136535d7387567e9f2669
      X-Rate-Limit-Limit:
      - "75"
      X-Rate-Limit-Remaining:
      - "73"
      X-Rate-Limit-Reset:
      - "1650089425"
      X-Response-Time:
      - "36"
    status: 200 OK
    code: 200
    duration: 112.173583ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/1242605009205956608/owned_lists?list.fields=created_at%2Cdescription%2Cfollower_count%2Cmember_count
    method: GET
  response:
    body: '{"data":[{"description":"Official Twitter guest list of the In Lieu of
      Fun Show.","id":"1318922483496591360","name":"In Lieu of Fun Guestlist","created_at":"2020-10-21T14:29:59.000Z","member_count":174,"follower_count":75}],"meta":{"result_count":1}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b1bcd86d68dbdebb23ccdfe58a945e58774707070c1136535d7387567e9f2669
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "13"
      X-Rate-Limit-Reset:
      - "1650089425"
      X-Response-Time:
      - "65"
    status: 200 OK
    code: 200
    duration: 142.5525ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/16431281/list_memberships?expansions=owner_id&list.fields=owner_id&user.fields=location
    method: GET
  response:
    body: '{"data":[{"id":"1345889115179536384","name":"Software","owner_id":"1056887880394641410"},{"id":"102663289","name":"software
      engineering","owner_id":"15123426"},{"id":"1103846010294394881","name":"Code","owner_id":"7303742"},{"id":"984169246044323840","name":"Machine
      Learning","owner_id":"91347803"},{"id":"1034516174535634955","name":"ml4pl","owner_id":"162422316"},{"id":"222201888","name":"Golang","owner_id":"15734187"},{"id":"110594012","name":"Machine
      Learning folks","owner_id":"14338766"},{"id":"197429","name":"Friends","owner_id":"15450122"},{"id":"2309040","name":"Dartmouth","owner_id":"13447902"}],"includes":{"users":[{"location":"Patagonia,
      Argentina","username":"OmarBessa","id":"1056887880394641410","name":"Pabli!
      \uD83C\uDDFA\uD83C\uDDE6"},{"username":"thierrymarianne","id":"15123426","name":"Thierry
      Marianne \uD83D\uDCD2"},{"username":"Damien_Neil","id":"7303742","name":"Damien
      Neil"},{"username":"ankurbohra","id":"91347803","name":"Ankur Bohra"},{"username":"Jan_Hula","id":"162422316","name":"Jan
      Hůla"},{"location":"Le Mans, Pays de la Loire","username":"christopheviaud","id":"15734187","name":"Christophe
      VIAUD"},{"location":"Toronto","username":"phil_renaud","id":"14338766","name":"Phil
      Renaud"},{"location":"Western NY, USA","username":"sushigrade","id":"15450122","name":"The
      Kandalorian"},{"location":"Tower of the Elephant''s Tusk","username":"copumpkin","id":"13447902","name":"Dan
      P"}]},"meta":{"result_count":9}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b1bcd86d68dbdebb23ccdfe58a945e58774707070c1136535d7387567e9f2669
      X-Rate-Limit-Limit:
      - "75"
      X-Rate-Limit-Remaining:
      - "73"
      X-Rate-Limit-Reset:
      - "1650089425"
      X-Response-Time:
      - "101"
    status: 200 OK
    code: 200
    duration: 180.832125ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/186667011/followed_lists
    method: GET
  response:
    body: '{"data":[{"id":"1498457571216134144","name":"Ukraine: latest news"},{"id":"1277227777087795201","name":"ilof-guests"},{"id":"213535616","name":"Editors
      & Contributors"}],"meta":{"result_count":3}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b1bcd86d68dbdebb23ccdfe58a945e58774707070c1136535d7387567e9f2669
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "13"
      X-Rate-Limit-Reset:
      - "1650089425"
      X-Response-Time:
      - "60"
    status: 200 OK
    code: 200
    duration: 136.924458ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1103846010294394881/members?max_results=5&user.fields=location
    method: GET
  response:
    body: '{"data":[{"id":"1026228327886073856","name":"thepudds","username":"thepudds1"},{"location":"Sign
      up for the newsletter ⤵️","id":"1112334438","name":"Golang Weekly","username":"golangweekly"},{"location":"Sydney,
      New South Wales","id":"197263266","name":"Rob Pike","username":"rob_pike"},{"location":"San
      Francisco, CA","id":"161667651","name":"Cindy Sridharan","username":"copyconstruct"},{"location":"Sant
      Francesc, CA","id":"122053508","name":"francesc","username":"francesc"}],"meta":{"result_count":5,"next_token":"4611686018549441412"}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b1bcd86d68dbdebb23ccdfe58a945e58774707070c1136535d7387567e9f2669
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "896"
      X-Rate-Limit-Reset:
      - "1650089426"
      X-Response-Time:
      - "56"
    status: 200 OK
    code: 200
    duration: 134.572583ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1103846010294394881/members?max_results=5&pagination_token=4611686018549441412&user.fields=location
    method: GET
  response:
    body: '{"data":[{"name":"David Crawshaw","id":"73774650","location":"Berkeley,
      CA","username":"davidcrawshaw"},{"name":"Russ Cox","id":"22455722","username":"_rsc"},{"name":"Ross
      Light","id":"17980870","location":"Santa Barbara, CA","username":"_zombiezen_"},{"name":"apenwarr","id":"17744848","location":"Canada.
      Sometimes.","username":"apenwarr"},{"name":"Emily Short","id":"17288264","location":"Oxford,
      UK","username":"emshort"}],"meta":{"result_count":5,"next_token":"4611686018444676168","previous_token":"-4611686018501162554"}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b1bcd86d68dbdebb23ccdfe58a945e58774707070c1136535d7387567e9f2669
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "895"
      X-Rate-Limit-Reset:
      - "1650089426"
      X-Response-Time:
      - "56"
    status: 200 OK
    code: 200
    duration: 133.026583ms
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/110594012/followers?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"1038199626522800128","name":"Deephaven Data Labs","username":"deephaven"},{"id":"340857592","name":"*
      * * * ** **************************** ** * * * *","username":"THEPHANTOM_____"},{"id":"13584132","name":"Ravi
      Visvesvaraya Sharada Prasad, Telecom InfoTech","username":"rvp"},{"id":"14856395","name":"Robert
      Raesemann","username":"RobRaesemann"},{"id":"706763","name":"uɐɥʞʎl∀","username":"alykhan"}],"meta":{"result_count":5,"next_token":"1673934451707431864"}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b1bcd86d68dbdebb23ccdfe58a945e58774707070c1136535d7387567e9f2669
      X-Rate-Limit-Limit:
      - "180"
      X-Rate-Limit-Remaining:
      - "178"
      X-Rate-Limit-Reset:
      - "1650089427"
      X-Response-Time:
      - "59"
    status: 200 OK
    code: 200
    duration: 140.948625ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1318922483496591360/tweets?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"1515207549779255297","text":"19. Addendum: if you''re having
      trouble getting access to Hanjo Hamann''s paper that I discuss in this thread,
      try this link: https://t.co/iEohuKyxbj"},{"id":"1515204410053386241","text":"RT
      @[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Acreachadair+has%3Amentions
    method: GET
  response:
    body: '{"data":[{"id":"1514997878682316800","text":"@tychoish Have you done your
      dynamic program yet?"}],"meta":{"newest_id":"1514997878682316800","oldest_id":"1514997878682316800","result_count":1}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b1bcd86d68dbdebb23ccdfe58a945e58774707070c1136535d7387567e9f2669
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "444"
      X-Rate-Limit-Reset:
      - "1650089427"
      X-Response-Time:
      - "54"
    status: 200 OK
    code: 200
    duration: 132.22925ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1515157906961977347","text":"I don’t deeply care who owns
      Twitter."},{"id":"1515151741708288001","text":"Live near a Russian diplomatic
      facility?\nYou know what to do, people. https://t.co/jTJ3iB90s6"},{"id":"15[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fpytn4aczulfdks55e0z98jadj0s59&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1515053932543885319","text":"This is excellent \nI confess
      though, the music I think of whenever I see this video is Henry Mancini’s The
      Pink Panther! htt[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fpytn4abhrxjaxz1kie2upjpzh5c3h&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1514975937619759115","text":"Word https://t.co/uKyjjOQriy"},{"id":"1514958217356394496","text":"Hint:
      It was a lousy model for Finland, and it''s not a good mod[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?max_results=10&query=wordle+has%3Aimages&tweet.fields=author_id%2Centities
    method: GET
  response:
    body: '{"data":[{"entities":{"hashtags":[{"start":23,"end":30,"tag":"Wordle"},{"start":50,"end":59,"tag":"Fortnite"},{"start":105,"end":116,"tag":"GamingNews"}],"urls":[{"start":61,"end":84,"url":"https://t.co/9yepxM3Gn9","expanded_url":"https://gamegeeksnews.com/new-wordle-clone-is-all-about-fortnite/","display_url":"gamegeeksnews.com/new-wordle-clo…","images":[{"url":"https://pbs.twimg.com/news_img/1515207722957946884/Y3tKm88o?format=jpg&name=orig","width":2046,"height":1082},{"url":"https://pbs.twimg.com/news_img/1515207722957946884/Y3tKm88o?format=jpg&name=150x150","width":150,"height":150}],"status":200,"title":"New
      Wordle Clone is All About Fortnite | Gamegeeksnews","description":"Game Geeks
      News provides all of the latest gaming news including game releases, game reviews
      and favorite Games from the gaming community","unwound_url":"https://gamegeeksnews.com/new-wordle-clone-is-all-about-fortnite/"}],"mentions":[{"start":3,"end":17,"username":"GameGeeksNews","id":"1202931350686380033"},{"start":89,"end":103,"username":"GameGeeksNews","id":"1202931350686380033"},{"start":117,"end":127,[...]
- request:
    body: '{"add":[{"value":"cat has:images lang:en","tag":"test english kittens whargarbl"}]}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules
    method: POST
  response:
    body: '{"data":[{"value":"cat has:images lang:en","tag":"test english kittens
      whargarbl","id":"1515207856001150981"}],"meta":{"sent":"2022-04-16T05:57:58.760Z","summary":{"created":1,"not_created":0,"valid":1,"invalid":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b1bcd86d68dbdebb23ccdfe58a945e58774707070c1136535d7387567e9f2669
      X-Rate-Limit-Limit:
      - "50"
      X-Rate-Limit-Remaining:
      - "44"
      X-Rate-Limit-Reset:
      - "1650089429"
      X-Response-Time:
      - "77"
    status: 201 Created
    code: 201
    duration: 155.359667ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/stream/rules?ids=1515207856001150981
    method: GET
  response:
    body: '{"data":[{"id":"1515207856001150981","value":"cat has:images lang:en","tag":"test
      english kittens whargarbl"}],"meta":{"sent":"2022-04-16T05:57:59.040Z"}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b1bcd86d68dbdebb23ccdfe58a945e58774707070c1136535d7387567e9f2669
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "446"
      X-Rate-Limit-Reset:
      - "1650089429"
      X-Response-Time:
      - "72"
    status: 200 OK
    code: 200
    duration: 149.274709ms
[...]
- request:
    body: '{"delete":{"ids":["1515207856001150981"]}}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules?dry_run=true
    method: POST
  response:
    body: '{"meta":{"sent":"2022-04-16T05:58:00.536Z","summary":{"deleted":1,"not_deleted":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b1bcd86d68dbdebb23ccdfe58a945e58774707070c1136535d7387567e9f2669
      X-Rate-Limit-Limit:
      - "50"
      X-Rate-Limit-Remaining:
      - "43"
      X-Rate-Limit-Reset:
      - "1650089429"
      X-Response-Time:
      - "508"
    status: 200 OK
    code: 200
    duration: 652.810167ms
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/1.1/statuses/show.json?id=1297524288245895168&tweet_mode=extended
    method: GET
  response:
[...]
