---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by/username/jack?expansions=pinned_tweet_id&user.fields=created_at%2Cdescription%2Cpublic_metrics%2Cverified
    method: GET
  response:
    body: '{"data":{"verified":true,"created_at":"2006-03-21T20:50:14.000Z","username":"jack","description":"#bitcoin","pinned_tweet_id":"1247616214769086465","name":"jack⚡️","public_metrics":{"followers_count":6149157,"following_count":4521,"tweet_count":28226,"listed_count":31944},"id":"12"},"includes":{"tweets":[{"id":"1247616214769086465","text":"I’m moving $1B of my Square equity (~28% of my wealth) to #startsmall LLC to fund global COVID-19 relief. After we disarm this pandemic, the focus will shift to girl’s health and education, and UBI. It will operate transparently, all flows tracked here: https://t.co/hVkUczDQmz"}]}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2119524276c504242e8ff633e451f005b74a4e283764650a2f2d457b7bd82fba
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "296"
      X-Rate-Limit-Reset:
      - "1642352433"
      X-Response-Time:
      - "42"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets?expansions=entities.mentions.username&ids=1297524288245895168&tweet.fields=author_id%2Ccreated_at%2Centities
    method: GET
  response:
    body: '{"data":[{"entities":{"annotations":[{"start":201,"end":207,"probability":0.4142,"type":"Organization","normalized_text":"YouTube"},{"start":237,"end":244,"probability":0.5224,"type":"Organization","normalized_text":"Facebook"},{"start":264,"end":270,"probability":0.5724,"type":"Product","normalized_text":"Twitter"}],"mentions":[{"start":9,"end":25,"username":"inlieuoffunshow","id":"1242605009205956608"}],"urls":[{"start":173,"end":196,"url":"https://t.co/N3pCyxcpZW","expanded_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44","display_url":"crowdcast.io/e/in-lieu-of-f…","status":200,"unwound_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44"},{"start":210,"end":233,"url":"https://t.co/pUKPEg4UKz","expanded_url":"https://youtu.be/ua64SYY08rE","display_url":"youtu.be/ua64SYY08rE","status":200,"unwound_url":"https://www.youtube.com/watch?v=ua64SYY08rE&feature=youtu.be"}]},"id":"1297524288245895168","text":"Today on @inlieuoffunshow, it''s Mystery Guest Sunday. I bring a mystery guest recommended by audience members yesterday. Who will it be?\n5:00 pm Eastern time.\nOn Crowdcast: https://t.co/N3pCyxcpZW \nOn YouTube: https://t.co/pUKPEg4UKz\nOn Facebook, or right here on Twitter.","created_at":"2020-08-23T13:21:11.000Z","author_id":"186667011"}],"includes":{"users":[{"id":"1242605009205956608","name":"In Lieu of Fun Show","username":"inlieuoffunshow"}]}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2119524276c504242e8ff633e451f005b74a4e283764650a2f2d457b7bd82fba
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "296"
      X-Rate-Limit-Reset:
      - "1642352433"
      X-Response-Time:
      - "57"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/12/liked_tweets?expansions=author_id&max_results=10&tweet.fields=author_id
    method: GET
  response:
    body: '{"data":[{"author_id":"17560096","id":"1482755899957530625","text":"Agreed . More so, I know what could have been,  so it haunts me … streets is watching was the first song made ! https://t.co/Nh7rwZ8gZ4"},{"author_id":"4[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users?ids=12
    method: GET
  response:
    body: '{"data":[{"id":"12","name":"jack⚡️","username":"jack"}]}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2119524276c504242e8ff633e451f005b74a4e283764650a2f2d457b7bd82fba
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "297"
      X-Rate-Limit-Reset:
      - "1642352902"
      X-Response-Time:
      - "24"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by?user.fields=pinned_tweet_id%2Cprofile_image_url%2Cpublic_metrics&usernames=kanyewest%2Cjack%2CPopehat
    method: GET
  response:
    body: '{"data":[{"username":"kanyewest","pinned_tweet_id":"1283507551586459648","profile_image_url":"https://pbs.twimg.com/profile_images/1276461929934942210/cqNhNk6v_normal.jpg","public_metrics":{"followers_count":30603223,"following_count":210,"tweet_count":1911,"listed_count":43409},"id":"169686021","name":"ye"},{"username":"jack","pinned_tweet_id":"1247616214769086465","profile_image_url":"https://pbs.twimg.com/profile_images/1115644092329758721/AFjOr-K8_normal.jpg","public_metrics":{"followers_count":6149157,"following_count":4521,"tweet_count":28226,"listed_count":31944},"id":"12","name":"jack⚡️"},{"username":"Popehat","pinned_tweet_id":"1317118094133751808","profile_image_url":"https://pbs.twimg.com/profile_images/884879301190967296/oTCsTck5_normal.jpg","public_metrics":{"followers_count":284185,"following_count":1224,"tweet_count":220241,"listed_count":4063},"id":"18839937","name":"PoundPoundPoundHat"}]}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2119524276c504242e8ff633e451f005b74a4e283764650a2f2d457b7bd82fba
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "296"
      X-Rate-Limit-Reset:
      - "1642352778"
      X-Response-Time:
      - "33"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/12/followers?max_results=5&user.fields=verified
    method: GET
  response:
    body: '{"data":[{"username":"sionverse","name":"Shrijan","id":"2876828174","verified":false},{"username":"Morteza23374186","name":"Morteza","id":"1417770656570150912","verified":false},{"username":"pawanbi92760740","name":"pawan bishnoi","id":"1407723854160482304","verified":false},{"username":"mjbrese","name":"M. Calabrese","id":"1973560694","verified":false},{"username":"faz06387452","name":"faz","id":"1385459931944415236","verified":false}],"meta":{"result_count":5,"next_token":"V970LCOJ7NJ1EZZZ"}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2119524276c504242e8ff633e451f005b74a4e283764650a2f2d457b7bd82fba
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "11"
      X-Rate-Limit-Reset:
      - "1642352433"
      X-Response-Time:
      - "54"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/16431281/following?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"203722847","name":"William Banfield","username":"BillyBamf"},{"id":"760579","name":"tychoish (sam)","username":"tychoish"},{"id":"829712328375414785","name":"Shahms King","username":"shahmsking"},{"id":"1351114532408668163","name":"Shit User Story","username":"ShitUserStory"},{"id":"1232783237623119872","name":"NASA''s Perseverance Mars Rover","username":"NASAPersevere"}],"meta":{"result_count":5,"next_token":"588UVIGUF5THEZZZ"}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2119524276c504242e8ff633e451f005b74a4e283764650a2f2d457b7bd82fba
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "11"
      X-Rate-Limit-Reset:
      - "1642352433"
      X-Response-Time:
      - "54"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1318922483496591360?list.fields=created_at%2Cdescription%2Cfollower_count%2Cmember_count
    method: GET
  response:
    body: '{"data":{"follower_count":74,"created_at":"2020-10-21T14:29:59.000Z","id":"1318922483496591360","description":"Official Twitter guest list of the In Lieu of Fun Show.","name":"In Lieu of Fun Guestlist","member_count":174}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2119524276c504242e8ff633e451f005b74a4e283764650a2f2d457b7bd82fba
      X-Rate-Limit-Limit:
      - "75"
      X-Rate-Limit-Remaining:
      - "71"
      X-Rate-Limit-Reset:
      - "1642352433"
      X-Response-Time:
      - "35"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/1242605009205956608/owned_lists?list.fields=created_at%2Cdescription%2Cfollower_count%2Cmember_count
    method: GET
  response:
    body: '{"data":[{"description":"Official Twitter guest list of the In Lieu of Fun Show.","id":"1318922483496591360","member_count":174,"created_at":"2020-10-21T14:29:59.000Z","name":"In Lieu of Fun Guestlist","follower_count":74}],"meta":{"result_count":1}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2119524276c504242e8ff633e451f005b74a4e283764650a2f2d457b7bd82fba
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "11"
      X-Rate-Limit-Reset:
      - "1642352434"
      X-Response-Time:
      - "69"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/16431281/list_memberships?expansions=owner_id&list.fields=owner_id&user.fields=location
    method: GET
  response:
    body: '{"data":[{"id":"1345889115179536384","name":"Software","owner_id":"1056887880394641410"},{"id":"102663289","name":"software engineering","owner_id":"15123426"},{"id":"1103846010294394881","name":"Code","owner_id":"7303742"},{"id":"984169246044323840","name":"Machine Learning","owner_id":"91347803"},{"id":"1034516174535634955","name":"ml4pl","owner_id":"162422316"},{"id":"222201888","name":"Golang","owner_id":"15734187"},{"id":"110594012","name":"Machine Learning folks","owner_id":"14338766"},{"id":"197429","name":"Friends","owner_id":"15450122"},{"id":"2309040","name":"Dartmouth","owner_id":"13447902"}],"includes":{"users":[{"name":"Pabli!","username":"OmarBessa","id":"1056887880394641410","location":"Patagonia, Argentina"},{"name":"Thierry Marianne \uD83D\uDCD2","username":"thierrymarianne","id":"15123426"},{"name":"Damien Neil","username":"Damien_Neil","id":"7303742"},{"name":"Ankur Bohra","username":"ankurbohra","id":"91347803"},{"name":"Jan Hůla","username":"Jan_Hula","id":"162422316"},{"name":"Christophe VIAUD","username":"christopheviaud","id":"15734187","location":"Le Mans, Pays de la Loire"},{"name":"Phil Renaud","username":"phil_renaud","id":"14338766","location":"Toronto"},{"name":"The Kandalorian","username":"sushigrade","id":"15450122","location":"Western NY, USA"},{"name":"Dan P","username":"copumpkin","id":"13447902","location":"Tower of the Elephant''s Tusk"}]},"meta":{"result_count":9}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2119524276c504242e8ff633e451f005b74a4e283764650a2f2d457b7bd82fba
      X-Rate-Limit-Limit:
      - "75"
      X-Rate-Limit-Remaining:
      - "71"
      X-Rate-Limit-Reset:
      - "1642352434"
      X-Response-Time:
      - "113"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/186667011/followed_lists
    method: GET
  response:
    body: '{"data":[{"id":"1277227777087795201","name":"ilof-guests"},{"id":"1085257129060118528","name":"Israeli Politics"},{"id":"1212931737459810309","name":"Iran/Iraq & USFP"},{"id":"213535616","name":"Editors & Contributors"}],"meta":{"result_count":4}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2119524276c504242e8ff633e451f005b74a4e283764650a2f2d457b7bd82fba
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "11"
      X-Rate-Limit-Reset:
      - "1642352434"
      X-Response-Time:
      - "61"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1103846010294394881/members?max_results=5&user.fields=location
    method: GET
  response:
    body: '{"data":[{"id":"1026228327886073856","name":"thepudds","username":"thepudds1"},{"id":"1112334438","name":"Golang Weekly","location":"Sign up for the newsletter ⤵️","username":"golangweekly"},{"id":"197263266","name":"Rob Pike","location":"Sydney, New South Wales","username":"rob_pike"},{"id":"161667651","name":"Cindy Sridharan","location":"San Francisco, CA","username":"copyconstruct"},{"id":"122053508","name":"francesc","location":"Sant Francesc, CA","username":"francesc"}],"meta":{"result_count":5,"next_token":"4611686018549441412"}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2119524276c504242e8ff633e451f005b74a4e283764650a2f2d457b7bd82fba
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "890"
      X-Rate-Limit-Reset:
      - "1642352434"
      X-Response-Time:
      - "76"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1103846010294394881/members?max_results=5&pagination_token=4611686018549441412&user.fields=location
    method: GET
  response:
    body: '{"data":[{"id":"73774650","name":"David Crawshaw","location":"Berkeley, CA","username":"davidcrawshaw"},{"id":"22455722","name":"Russ Cox","username":"_rsc"},{"id":"17980870","name":"Ross Light","location":"Santa Barbara, CA","username":"_zombiezen_"},{"id":"17744848","name":"apenwarr","location":"Canada. Sometimes.","username":"apenwarr"},{"id":"17288264","name":"Emily Short","location":"Oxford, UK","username":"emshort"}],"meta":{"result_count":5,"next_token":"4611686018444676168","previous_token":"-4611686018501162554"}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2119524276c504242e8ff633e451f005b74a4e283764650a2f2d457b7bd82fba
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "889"
      X-Rate-Limit-Reset:
      - "1642352434"
      X-Response-Time:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/110594012/followers?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"1038199626522800128","name":"Deephaven Data Labs","username":"deephaven"},{"id":"340857592","name":"* * * * ** * * * * * * **** * * * * * * ** * * * *","username":"THEPHANTOM_____"},{"id":"14856395","name":"Robert Raesemann","username":"RobRaesemann"},{"id":"706763","name":"uɐɥʞʎl∀","username":"alykhan"},{"id":"93341008","name":"Hari","username":"sreeharips"}],"meta":{"result_count":5,"next_token":"1669124202417976865"}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2119524276c504242e8ff633e451f005b74a4e283764650a2f2d457b7bd82fba
      X-Rate-Limit-Limit:
      - "180"
      X-Rate-Limit-Remaining:
      - "176"
      X-Rate-Limit-Reset:
      - "1642352434"
      X-Response-Time:
      - "56"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1318922483496591360/tweets?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"1482758836285059075","text":"RT @donmoyn: As @SykesCharlie points out here, if you register or vote when you are not supposed to, you could end up in jail. But you’ll p…"},{"id":"1482758736615657473","text":"This is important: The effort t[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Acreachadair+has%3Amentions
    method: GET
  response:
    body: '{"data":[{"id":"1482387103765831685","text":"@Klonick Moron lobby"},{"id":"1481092609049169924","text":"@Klonick @GenevieveDFR @benjaminwittes @scottjshapiro If you have to ask whether it’s a trolley problem, chances are you’re on the wrong track."}],"meta":{"newest_id":"1482387103765831685","oldest_id":"1481092609049169924","result_count":2}}'
    headers:
      Api-Version:
      - "2.34"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2119524276c504242e8ff633e451f005b74a4e283764650a2f2d457b7bd82fba
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "417"
      X-Rate-Limit-Reset:
      - "1642352434"
      X-Response-Time:
      - "58"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1482747867295010824","text":"Huh? https://t.co/QAyPmluvUU"},{"id":"1482745980105764873","text":"Don''t politicize the BOTD.\nSome things are above politics.\n@MZHemingway and @RichardGrenell should be able to enjoy the #Bea[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fpe45yfnievq71nfllkqj4eel5zfr1&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1482359167625142272","text":"RT @BillKristol: \uD83D\uDEA8\uD83D\uDEA8\uD83D\uDEA8\n\nCan’t say we weren’t warned."},{"id":"1482358685426933762","text":"The DC snowy [...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fpe45y99buah76dh38k1wbvi7mpa4d&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1482055349133881351","text":"Word. \nAlso, folks, remember that when Hitler attacked Poland in 1939, he had the SS stage a series of attack on German positions by way[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?max_results=10&query=wordle+has%3Aimages&tweet.fields=author_id%2Centities
    method: GET
  response:
    body: '{"data":[{"id":"1482758813807783936","author_id":"70979847","entities":{"mentions":[{"start":3,"end":6,"username":"dz","id":"7073182"}]},"text":"RT @dz: wordle was essentially released as a freeware online game, and it''s hilarious and disappointing that by doing so it''s apparently br…"},{"entities":{"hashtags":[{"start":36,"end":43,"tag":"Wordle"}],"urls":[{"start":44,"end":67,"url":"https://t.co/TnE0zmFtfO","expanded_url":"https://twitter.com/ciombei/status/1482758793075347460/photo/1","display_url":"pic.twitter.com/TnE0zmFtfO"}]},"id":"1482758793075347460","author_id":"1149009370879012869","text":"First time. Not bad for an italian \n#Wordle https://t.co/TnE0zmFtfO"},{"id":"1482758767875956738","author_id":"800708641015767041","entities":{"mentions":[{"start":3,"end":6,"username":"dz","id":"7073182"}]},"text":"RT @dz: wordle w[...]
- request:
    body: '{"add":[{"value":"cat has:images lang:en","tag":"test english kittens whargarbl"}]}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules
    method: POST
  response:
    body: '{"data":[{"value":"cat has:images lang:en","tag":"test english kittens whargarbl","id":"1482758924507832321"}],"meta":{"sent":"2022-01-16T16:57:30.645Z","summary":{"created":1,"not_created":0,"valid":1,"invalid":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2119524276c504242e8ff633e451f005b74a4e283764650a2f2d457b7bd82fba
      X-Rate-Limit-Limit:
      - "50"
      X-Rate-Limit-Remaining:
      - "34"
      X-Rate-Limit-Reset:
      - "1642352435"
      X-Response-Time:
      - "114"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/stream/rules?ids=1482758924507832321
    method: GET
  response:
    body: '{"data":[{"id":"1482758924507832321","value":"cat has:images lang:en","tag":"test english kittens whargarbl"}],"meta":{"sent":"2022-01-16T16:57:30.758Z"}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2119524276c504242e8ff633e451f005b74a4e283764650a2f2d457b7bd82fba
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "439"
      X-Rate-Limit-Reset:
      - "1642352435"
      X-Response-Time:
      - "314"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"delete":{"ids":["1482758924507832321"]}}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules?dry_run=true
    method: POST
  response:
    body: '{"meta":{"sent":"2022-01-16T16:57:31.753Z","summary":{"deleted":1,"not_deleted":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2119524276c504242e8ff633e451f005b74a4e283764650a2f2d457b7bd82fba
      X-Rate-Limit-Limit:
      - "50"
      X-Rate-Limit-Remaining:
      - "33"
      X-Rate-Limit-Reset:
      - "1642352435"
      X-Response-Time:
      - "95"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/1.1/statuses/show.json?id=1297524288245895168&tweet_mode=extended
    method: GET
  response:
    body: '{"created_at":"Sun Aug 23 13:21:11 +0000 2020","id":1297524288245895168,"id_str":"1297524288245895168","full_text":"Today on @inlieuoffunshow, it''s Mystery Guest Sunday. I bring a mystery guest recommended by audience members yesterday. Who will it be?\n5:00 pm Eastern time.\nOn Crowdcast: https:\/\/t.co\/N3pCyxcpZW \nOn YouTube: https:\/\/t.co\/pUKPEg4UKz\nOn Facebook, or right here on Twitter.","truncated":false,"display_text_range":[0,272],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"inlieuoffunshow","name":"In Lieu of Fun Show","id":1242605009205956608,"id_str":"1242605009205956608","indices":[9,25]}],"urls":[{"url":"https:\/\/t.co\/N3pCyxcpZW","expanded_url":"https:\/\/www.crowdcast.io\/e\/in-lieu-of-fun-episode-44","display_url":"crowdcast.io\/e\/in-lieu-of-f\u2026","indices":[173,196]},{"url":"https:\/\/t.co\/pUKPEg4UKz","expanded_url":"https:\/\/youtu.be\/ua64SYY08rE","display_url":"youtu.be\/ua64SYY08rE","indices":[210,233]}]},"source":"\u003ca href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":186667011,"id_str":"186667011","name":"Benjamin Wittes","screen_name":"benjaminwittes","location":"Washington DC","description":"Senior Fellow at the @BrookingsInst. Editor in Chief of @lawfareblog. Cohost of @inlieuoffunshow. \"Not even a lawyer.\" I will block you for any reason or none.","url":"https:\/\/t.co\/eNn7IXx0Av","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/eNn7IXx0Av","expanded_url":"http:\/\/www.lawfareblog.com","display_url":"lawfareblog.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":411569,"friends_count":2301,"listed_count":4973,"created_at":"Sat Sep 04 02:04:41 +0000 2010","favourites_count":6426,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":41083,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1480721638211661831\/peSq2zMb_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1480721638211661831\/peSq2zMb_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/186667011\/1630960375","profile_link_color":"981CEB","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":2,"favorite_count":11,"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 16 Jan 2022 16:57:31 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2119524276c504242e8ff633e451f005b74a4e283764650a2f2d457b7bd82fba
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "896"
      X-Rate-Limit-Reset:
      - "1642352436"
      X-Response-Time:
      - "22"
      X-Transaction:
      - 005dd46f84da6a09
      X-Twitter-Response-Tags:
      - BouncerCompliant
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
[...]
