---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by/username/jack?expansions=pinned_tweet_id&user.fields=created_at%2Cdescription%2Cpublic_metrics%2Cverified
    method: GET
  response:
    body: '{"data":{"id":"12","public_metrics":{"followers_count":6254096,"following_count":4568,"tweet_count":28383,"listed_count":32522},"created_at":"2006-03-21T20:50:14.000Z","pinned_tweet_id":"1247616214769086465","verified":true,"username":"jack","name":"jack⚡️","description":"romantic
      moron, 1/8th hippie #bitcoin"},"includes":{"tweets":[{"id":"1247616214769086465","text":"I’m
      moving $1B of my Square equity (~28% of my wealth) to #startsmall LLC to fund
      global COVID-19 relief. After we disarm this pandemic, the focus will shift
      to girl’s health and education, and UBI. It will operate transparently, all
      flows tracked here: https://t.co/hVkUczDQmz"}]}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1784a6e95bcc7fd6123cae3e2f9ed5d604407cdd9721178841cc87cb03ce6ec7
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1650090777"
      X-Response-Time:
      - "54"
    status: 200 OK
    code: 200
    duration: 307.277708ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets?expansions=entities.mentions.username&ids=1297524288245895168&tweet.fields=author_id%2Ccreated_at%2Centities
    method: GET
  response:
    body: '{"data":[{"entities":{"annotations":[{"start":201,"end":207,"probability":0.4142,"type":"Organization","normalized_text":"YouTube"},{"start":237,"end":244,"probability":0.5224,"type":"Organization","normalized_text":"Facebook"},{"start":264,"end":270,"probability":0.5724,"type":"Product","normalized_text":"Twitter"}],"mentions":[{"start":9,"end":25,"username":"inlieuoffunshow","id":"1242605009205956608"}],"urls":[{"start":173,"end":196,"url":"https://t.co/N3pCyxcpZW","expanded_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44","display_url":"crowdcast.io/e/in-lieu-of-f…","status":200,"unwound_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44"},{"start":210,"end":233,"url":"https://t.co/pUKPEg4UKz","expanded_url":"https://youtu.be/ua64SYY08rE","display_url":"youtu.be/ua64SYY08rE","status":200,"unwound_url":"https://www.youtube.com/watch?v=ua64SYY08rE&feature=youtu.be"}]},"text":"Today
      on @inlieuoffunshow, it''s Mystery Guest Sunday. I bring a mystery guest recommended
      by audience members yesterday. Who will it be?\n5:00 pm Eastern time.\nOn Crowdcast:
      https://t.co/N3pCyxcpZW \nOn YouTube: https://t.co/pUKPEg4UKz\nOn Facebook,
      or right here on Twitter.","created_at":"2020-08-23T13:21:11.000Z","id":"1297524288245895168","author_id":"186667011"}],"includes":{"users":[{"id":"1242605009205956608","name":"In
      Lieu of Fun Show","username":"inlieuoffunshow"}]}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1784a6e95bcc7fd6123cae3e2f9ed5d604407cdd9721178841cc87cb03ce6ec7
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1650090777"
      X-Response-Time:
      - "49"
    status: 200 OK
    code: 200
    duration: 122.69725ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/1515177881831321600/quote_tweets?max_results=15&tweet.fields=author_id%2Ccreated_at
    method: GET
  response:
    body: '{"data":[{"id":"1515202389200015362","author_id":"854464650964062213","text":"RT
      @pmarca: https://t.co/6VNapZVA7Q https://t.co/zfu4vVUsaa","created_at":"2022-04-16T05:36:15.000Z"},{"id":"151520027652494540[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/916533386352537601/tweets?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"1514359279590932480","text":"It’s #WormWednesday! Check
      out this unusual flatworm I found last weekend. https://t.co/owaKzrwhQh"},{"id":"1513680241637552129","text":"@prometheusgreen
      Hale’iwa trench is the best I’ve found for unusual slugs—if you go straight
      out from the beach at Hale’iwa Ali’i park, there’s a long shallow area with
      tons of cool cryptic stuff, and then a steep wall with many good things when
      you get further out!"},{"id":"1513666346369781761","text":"@prometheusgreen
      Most were from one dive last night (at the sluggiest site of all; I love it)
      but a few are from earlier in the week!"},{"id":"1513610524314923010","text":"@Carolina_Pines1
      @echinoblog Yes, a little chromodorid nudibranch!"},{"id":"1513610341699125249","text":"And
      finally, in a non-nudibranch twist, an unusually cooperative day octo. https://t.co/G5jTwZ4ZN6"}],"meta":{"next_token":"7140dibdnow9c7btw420yvhyn8gmv0mn4uj1vnlyn5gzd","result_count":5,"newest_id":"1514359279590932480","oldest_id":"1513610341699125249"}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1784a6e95bcc7fd6123cae3e2f9ed5d604407cdd9721178841cc87cb03ce6ec7
      X-Rate-Limit-Limit:
      - "1500"
      X-Rate-Limit-Remaining:
      - "1499"
      X-Rate-Limit-Reset:
      - "1650090778"
      X-Response-Time:
      - "89"
    status: 200 OK
    code: 200
    duration: 161.945583ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/2805856351/mentions?max_results=5&tweet.fields=author_id
    method: GET
  response:
    body: '{"data":[{"author_id":"1047151264432295936","id":"1515176088682606593","text":"@mmasnick
      @RubenZorian @IronyDead @Klonick Who is the left’s Babylon Bee?\n\nThis list
      is massively tilted toward the right where mere speech is the[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/12/liked_tweets?expansions=author_id&max_results=10&tweet.fields=author_id
    method: GET
  response:
    body: '{"data":[{"author_id":"1081022379910881280","id":"1436039744752963592","text":"\uD83D\uDE02
      No comment. https://t.co/Q2thUGQ4Ke"},{"author_id":"6069072","id":"1435981254503981058","text":"two
      years at the bird[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/1039602865831010305/liking_users
    method: GET
  response:
    body: '{"data":[{"id":"14059525","name":"Oleg","username":"snowshade"},{"id":"1290812003683098624","name":"Mbele
      Davey","username":"mbeledavey"},{"id":"17575058","name":"Gonçalo","username":"goncalossilva"},{"id":"13655672","name":"Paulo
      Köch","username":"p[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users?ids=12
    method: GET
  response:
    body: '{"data":[{"id":"12","name":"jack⚡️","username":"jack"}]}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1784a6e95bcc7fd6123cae3e2f9ed5d604407cdd9721178841cc87cb03ce6ec7
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1650090780"
      X-Response-Time:
      - "25"
    status: 200 OK
    code: 200
    duration: 100.859959ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by?user.fields=pinned_tweet_id%2Cprofile_image_url%2Cpublic_metrics&usernames=kanyewest%2Cjack%2CPopehat
    method: GET
  response:
    body: '{"data":[{"public_metrics":{"followers_count":30795968,"following_count":209,"tweet_count":1910,"listed_count":43443},"pinned_tweet_id":"1283507551586459648","username":"kanyewest","id":"169686021","profile_image_url":"https://pbs.twimg.com/profile_images/1276461929934942210/cqNhNk6v_normal.jpg","name":"ye"},{"public_metrics":{"followers_count":6254096,"following_count":4568,"tweet_count":28383,"listed_count":32522},"pinned_tweet_id":"1247616214769086465","username":"jack","id":"12","profile_image_url":"https://pbs.twimg.com/profile_images/1115644092329758721/AFjOr-K8_normal.jpg","name":"jack⚡️"},{"public_metrics":{"followers_count":295273,"following_count":1241,"tweet_count":226751,"listed_count":4189},"pinned_tweet_id":"1508499393812393984","username":"Popehat","id":"18839937","profile_image_url":"https://pbs.twimg.com/profile_images/884879301190967296/oTCsTck5_normal.jpg","name":"USankMyBattleshipHat"}]}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1784a6e95bcc7fd6123cae3e2f9ed5d604407cdd9721178841cc87cb03ce6ec7
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1650090780"
      X-Response-Time:
      - "39"
    status: 200 OK
    code: 200
    duration: 115.317708ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/12/followers?max_results=5&user.fields=verified
    method: GET
  response:
    body: '{"data":[{"verified":false,"name":"Christina Atlantis Corbett","id":"1515212374546194434","username":"ChristinaAtla18"},{"verified":false,"name":"DINVEST","id":"1174729233933000710","username":"dinvestUST"},{"verified":false,"name":"Jyothish
      Chathankattil","id":"1511772840932126723","username":"chathankattil"},{"verified":false,"name":"C&Co","id":"1514983052946153475","username":"galicia_co"},{"verified":false,"name":"Gavin","id":"544579200","username":"GavinPret23"}],"meta":{"result_count":5,"next_token":"JKR71PQ2201HGZZZ"}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1784a6e95bcc7fd6123cae3e2f9ed5d604407cdd9721178841cc87cb03ce6ec7
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "14"
      X-Rate-Limit-Reset:
      - "1650090780"
      X-Response-Time:
      - "60"
    status: 200 OK
    code: 200
    duration: 141.336042ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/16431281/following?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"203722847","name":"William Banfield","username":"BillyBamf"},{"id":"760579","name":"tychoish
      (sam)","username":"tychoish"},{"id":"829712328375414785","name":"Shahms King","username":"shahmsking"},{"id":"1351114532408668163","name":"Shit
      User Story","username":"ShitUserStory"},{"id":"1232783237623119872","name":"NASA''s
      Perseverance Mars Rover","username":"NASAPersevere"}],"meta":{"result_count":5,"next_token":"588UVIGUF5THEZZZ"}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1784a6e95bcc7fd6123cae3e2f9ed5d604407cdd9721178841cc87cb03ce6ec7
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "14"
      X-Rate-Limit-Reset:
      - "1650090781"
      X-Response-Time:
      - "49"
    status: 200 OK
    code: 200
    duration: 124.5635ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/1480745523309019136/retweeted_by?max_results=10
    method: GET
  response:
    body: '{"data":[{"id":"3004199202","name":"Miss Riss","username":"Its_Miss_Riss"},{"id":"213228857","name":"Zina,
      Jewish Space Laser","username":"czarinaflo"},{"id":"2852678198","name":"Tracy
      in the PNW","username":"raging__redhead"},{"id":"1[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1318922483496591360?list.fields=created_at%2Cdescription%2Cfollower_count%2Cmember_count
    method: GET
  response:
    body: '{"data":{"id":"1318922483496591360","member_count":174,"description":"Official
      Twitter guest list of the In Lieu of Fun Show.","created_at":"2020-10-21T14:29:59.000Z","name":"In
      Lieu of Fun Guestlist","follower_count":75}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1784a6e95bcc7fd6123cae3e2f9ed5d604407cdd9721178841cc87cb03ce6ec7
      X-Rate-Limit-Limit:
      - "75"
      X-Rate-Limit-Remaining:
      - "74"
      X-Rate-Limit-Reset:
      - "1650090781"
      X-Response-Time:
      - "39"
    status: 200 OK
    code: 200
    duration: 113.8695ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/1242605009205956608/owned_lists?list.fields=created_at%2Cdescription%2Cfollower_count%2Cmember_count
    method: GET
  response:
    body: '{"data":[{"name":"In Lieu of Fun Guestlist","member_count":174,"created_at":"2020-10-21T14:29:59.000Z","id":"1318922483496591360","description":"Official
      Twitter guest list of the In Lieu of Fun Show.","follower_count":75}],"meta":{"result_count":1}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1784a6e95bcc7fd6123cae3e2f9ed5d604407cdd9721178841cc87cb03ce6ec7
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "14"
      X-Rate-Limit-Reset:
      - "1650090781"
      X-Response-Time:
      - "60"
    status: 200 OK
    code: 200
    duration: 134.031625ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/16431281/list_memberships?expansions=owner_id&list.fields=owner_id&user.fields=location
    method: GET
  response:
    body: '{"data":[{"id":"1345889115179536384","name":"Software","owner_id":"1056887880394641410"},{"id":"102663289","name":"software
      engineering","owner_id":"15123426"},{"id":"1103846010294394881","name":"Code","owner_id":"7303742"},{"id":"984169246044323840","name":"Machine
      Learning","owner_id":"91347803"},{"id":"1034516174535634955","name":"ml4pl","owner_id":"162422316"},{"id":"222201888","name":"Golang","owner_id":"15734187"},{"id":"110594012","name":"Machine
      Learning folks","owner_id":"14338766"},{"id":"197429","name":"Friends","owner_id":"15450122"},{"id":"2309040","name":"Dartmouth","owner_id":"13447902"}],"includes":{"users":[{"name":"Pabli!
      \uD83C\uDDFA\uD83C\uDDE6","id":"1056887880394641410","location":"Patagonia,
      Argentina","username":"OmarBessa"},{"name":"Thierry Marianne \uD83D\uDCD2","id":"15123426","username":"thierrymarianne"},{"name":"Damien
      Neil","id":"7303742","username":"Damien_Neil"},{"name":"Ankur Bohra","id":"91347803","username":"ankurbohra"},{"name":"Jan
      Hůla","id":"162422316","username":"Jan_Hula"},{"name":"Christophe VIAUD","id":"15734187","location":"Le
      Mans, Pays de la Loire","username":"christopheviaud"},{"name":"Phil Renaud","id":"14338766","location":"Toronto","username":"phil_renaud"},{"name":"The
      Kandalorian","id":"15450122","location":"Western NY, USA","username":"sushigrade"},{"name":"Dan
      P","id":"13447902","location":"Tower of the Elephant''s Tusk","username":"copumpkin"}]},"meta":{"result_count":9}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1784a6e95bcc7fd6123cae3e2f9ed5d604407cdd9721178841cc87cb03ce6ec7
      X-Rate-Limit-Limit:
      - "75"
      X-Rate-Limit-Remaining:
      - "74"
      X-Rate-Limit-Reset:
      - "1650090782"
      X-Response-Time:
      - "155"
    status: 200 OK
    code: 200
    duration: 229.445625ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/186667011/followed_lists
    method: GET
  response:
    body: '{"data":[{"id":"1498457571216134144","name":"Ukraine: latest news"},{"id":"1277227777087795201","name":"ilof-guests"},{"id":"213535616","name":"Editors
      & Contributors"}],"meta":{"result_count":3}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1784a6e95bcc7fd6123cae3e2f9ed5d604407cdd9721178841cc87cb03ce6ec7
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "14"
      X-Rate-Limit-Reset:
      - "1650090782"
      X-Response-Time:
      - "59"
    status: 200 OK
    code: 200
    duration: 132.827125ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1103846010294394881/members?max_results=5&user.fields=location
    method: GET
  response:
    body: '{"data":[{"id":"1026228327886073856","username":"thepudds1","name":"thepudds"},{"id":"1112334438","location":"Sign
      up for the newsletter ⤵️","username":"golangweekly","name":"Golang Weekly"},{"id":"197263266","location":"Sydney,
      New South Wales","username":"rob_pike","name":"Rob Pike"},{"id":"161667651","location":"San
      Francisco, CA","username":"copyconstruct","name":"Cindy Sridharan"},{"id":"122053508","location":"Sant
      Francesc, CA","username":"francesc","name":"francesc"}],"meta":{"result_count":5,"next_token":"4611686018549441412"}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1784a6e95bcc7fd6123cae3e2f9ed5d604407cdd9721178841cc87cb03ce6ec7
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "899"
      X-Rate-Limit-Reset:
      - "1650090782"
      X-Response-Time:
      - "73"
    status: 200 OK
    code: 200
    duration: 144.849667ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1103846010294394881/members?max_results=5&pagination_token=4611686018549441412&user.fields=location
    method: GET
  response:
    body: '{"data":[{"id":"73774650","name":"David Crawshaw","location":"Berkeley,
      CA","username":"davidcrawshaw"},{"id":"22455722","name":"Russ Cox","username":"_rsc"},{"id":"17980870","name":"Ross
      Light","location":"Santa Barbara, CA","username":"_zombiezen_"},{"id":"17744848","name":"apenwarr","location":"Canada.
      Sometimes.","username":"apenwarr"},{"id":"17288264","name":"Emily Short","location":"Oxford,
      UK","username":"emshort"}],"meta":{"result_count":5,"next_token":"4611686018444676168","previous_token":"-4611686018501162554"}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1784a6e95bcc7fd6123cae3e2f9ed5d604407cdd9721178841cc87cb03ce6ec7
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "898"
      X-Rate-Limit-Reset:
      - "1650090782"
      X-Response-Time:
      - "66"
    status: 200 OK
    code: 200
    duration: 139.26725ms
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/110594012/followers?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"1038199626522800128","name":"Deephaven Data Labs","username":"deephaven"},{"id":"340857592","name":"*
      * * * ** **************************** ** * * * *","username":"THEPHANTOM_____"},{"id":"13584132","name":"Ravi
      Visvesvaraya Sharada Prasad, Telecom InfoTech","username":"rvp"},{"id":"14856395","name":"Robert
      Raesemann","username":"RobRaesemann"},{"id":"706763","name":"uɐɥʞʎl∀","username":"alykhan"}],"meta":{"result_count":5,"next_token":"1673934451707431864"}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1784a6e95bcc7fd6123cae3e2f9ed5d604407cdd9721178841cc87cb03ce6ec7
      X-Rate-Limit-Limit:
      - "180"
      X-Rate-Limit-Remaining:
      - "179"
      X-Rate-Limit-Reset:
      - "1650090783"
      X-Response-Time:
      - "62"
    status: 200 OK
    code: 200
    duration: 134.89475ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1318922483496591360/tweets?max_results=5
    method: GET
  response:
    body: '{"data":[{"id":"1515210358100746240","text":"RT @RepSwalwell: Trump was
      also rooting for Russia. Was that the meet cute?"},{"id":"1515210253448749058","text":"RT
      @ulrichspeck: \"Slovakia provided Ukraine with S-300 anti-aircraft missiles.
    [...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Acreachadair+has%3Amentions
    method: GET
  response:
    body: '{"data":[{"id":"1514997878682316800","text":"@tychoish Have you done your
      dynamic program yet?"}],"meta":{"newest_id":"1514997878682316800","oldest_id":"1514997878682316800","result_count":1}}'
    headers:
      Api-Version:
      - "2.39"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1784a6e95bcc7fd6123cae3e2f9ed5d604407cdd9721178841cc87cb03ce6ec7
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "449"
      X-Rate-Limit-Reset:
      - "1650090784"
      X-Response-Time:
      - "55"
    status: 200 OK
    code: 200
    duration: 126.392125ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1515157906961977347","text":"I don’t deeply care who owns
      Twitter."},{"id":"1515151741708288001","text":"Live near a Russian diplomatic
      facility?\nYou know what to do, people. https://t.co/jTJ3iB90s6"},{"id":"15[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fpytn4aczulfdks55e0z98jadj0s59&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1515053932543885319","text":"This is excellent \nI confess
      though, the music I think of whenever I see this video is Henry Mancini’s The
      Pink Panther! htt[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fpytn4abhrxjaxz1kie2upjpzh5c3h&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1514975937619759115","text":"Word https://t.co/uKyjjOQriy"},{"id":"1514958217356394496","text":"Hint:
      It was a lousy model for Finland, and it''s not a good mod[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?max_results=10&query=wordle+has%3Aimages&tweet.fields=author_id%2Centities
    method: GET
  response:
    body: '{"data":[{"entities":{"urls":[{"start":63,"end":86,"url":"https://t.co/Ge90q8Zapk","expanded_url":"https://twitter.com/adam_yeoman/status/1515212872045010944/photo/1","display_url":"pic.twitter.com/Ge90q8Zapk"}],"hashtags":[{"start":0,"end":10,"tag":"wordle100"},{"start":55,"end":62,"tag":"wordle"}]},"id":"1515212872045010944","text":"#wordle100
      Played 100, won 100, current streak of 100.\n#wordle https://t.co/Ge90q8Zapk","author_id":"405613139"},{"entities":{"urls":[{"start":103,"end":126,"url":"https://t.co/7U2DoNkU9c","expanded_url":"https://twitter.com/ByTimBooth/status/1515166753952710657/photo/1","display_url":"pic.twitter.com/7U2DoNkU9c"}],"annotations":[{"start":80,"end":92,"probability":0.4726,"type":"Place","normalized_text"[...]
- request:
    body: '{"add":[{"value":"cat has:images lang:en","tag":"test english kittens whargarbl"}]}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules
    method: POST
  response:
    body: '{"data":[{"value":"cat has:images lang:en","tag":"test english kittens
      whargarbl","id":"1515212920539410432"}],"meta":{"sent":"2022-04-16T06:18:06.262Z","summary":{"created":1,"not_created":0,"valid":1,"invalid":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1784a6e95bcc7fd6123cae3e2f9ed5d604407cdd9721178841cc87cb03ce6ec7
      X-Rate-Limit-Limit:
      - "50"
      X-Rate-Limit-Remaining:
      - "49"
      X-Rate-Limit-Reset:
      - "1650090786"
      X-Response-Time:
      - "114"
    status: 201 Created
    code: 201
    duration: 194.858125ms
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/stream/rules?ids=1515212920539410432
    method: GET
  response:
    body: '{"data":[{"id":"1515212920539410432","value":"cat has:images lang:en","tag":"test
      english kittens whargarbl"}],"meta":{"sent":"2022-04-16T06:18:06.598Z"}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1784a6e95bcc7fd6123cae3e2f9ed5d604407cdd9721178841cc87cb03ce6ec7
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "449"
      X-Rate-Limit-Reset:
      - "1650090786"
      X-Response-Time:
      - "171"
    status: 200 OK
    code: 200
    duration: 248.362084ms
[...]
- request:
    body: '{"delete":{"ids":["1515212920539410432"]}}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules?dry_run=true
    method: POST
  response:
    body: '{"meta":{"sent":"2022-04-16T06:18:07.723Z","summary":{"deleted":1,"not_deleted":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1784a6e95bcc7fd6123cae3e2f9ed5d604407cdd9721178841cc87cb03ce6ec7
      X-Rate-Limit-Limit:
      - "50"
      X-Rate-Limit-Remaining:
      - "48"
      X-Rate-Limit-Reset:
      - "1650090786"
      X-Response-Time:
      - "188"
    status: 200 OK
    code: 200
    duration: 264.572833ms
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
[...]
