---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by/username/jack?expansions=pinned_tweet_id&user.fields=created_at%2Cdescription%2Cpublic_metrics%2Cverified
    method: GET
  response:
    body: '{"data":{"pinned_tweet_id":"1247616214769086465","username":"jack","created_at":"2006-03-21T20:50:14.000Z","public_metrics":{"followers_count":6125655,"following_count":4512,"tweet_count":28198,"listed_count":31836},"id":"12","description":"#bitcoin","name":"jack⚡️","verified":true},"includes":{"tweets":[{"id":"1247616214769086465","text":"I’m moving $1B of my Square equity (~28% of my wealth) to #startsmall LLC to fund global COVID-19 relief. After we disarm this pandemic, the focus will shift to girl’s health and education, and UBI. It will operate transparently, all flows tracked here: https://t.co/hVkUczDQmz"}]}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 8d30ca5d15dda3b08641ca18b0e1a82c793cee58ab8380d7d9c1845646816c0b
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1641670189"
      X-Response-Time:
      - "59"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets?expansions=entities.mentions.username&ids=1297524288245895168&tweet.fields=author_id%2Ccreated_at%2Centities
    method: GET
  response:
    body: '{"data":[{"entities":{"annotations":[{"start":201,"end":207,"probability":0.4142,"type":"Organization","normalized_text":"YouTube"},{"start":237,"end":244,"probability":0.5224,"type":"Organization","normalized_text":"Facebook"},{"start":264,"end":270,"probability":0.5724,"type":"Product","normalized_text":"Twitter"}],"mentions":[{"start":9,"end":25,"username":"inlieuoffunshow","id":"1242605009205956608"}],"urls":[{"start":173,"end":196,"url":"https://t.co/N3pCyxcpZW","expanded_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44","display_url":"crowdcast.io/e/in-lieu-of-f…","status":200,"unwound_url":"https://www.crowdcast.io/e/in-lieu-of-fun-episode-44"},{"start":210,"end":233,"url":"https://t.co/pUKPEg4UKz","expanded_url":"https://youtu.be/ua64SYY08rE","display_url":"youtu.be/ua64SYY08rE","status":200,"unwound_url":"https://www.youtube.com/watch?v=ua64SYY08rE&feature=youtu.be"}]},"author_id":"186667011","id":"1297524288245895168","created_at":"2020-08-23T13:21:11.000Z","text":"Today on @inlieuoffunshow, it''s Mystery Guest Sunday. I bring a mystery guest recommended by audience members yesterday. Who will it be?\n5:00 pm Eastern time.\nOn Crowdcast: https://t.co/N3pCyxcpZW \nOn YouTube: https://t.co/pUKPEg4UKz\nOn Facebook, or right here on Twitter."}],"includes":{"users":[{"id":"1242605009205956608","name":"In Lieu of Fun Show","username":"inlieuoffunshow"}]}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 8d30ca5d15dda3b08641ca18b0e1a82c793cee58ab8380d7d9c1845646816c0b
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1641670189"
      X-Response-Time:
      - "46"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users?ids=12
    method: GET
  response:
    body: '{"data":[{"id":"12","name":"jack⚡️","username":"jack"}]}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 8d30ca5d15dda3b08641ca18b0e1a82c793cee58ab8380d7d9c1845646816c0b
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "299"
      X-Rate-Limit-Reset:
      - "1641670189"
      X-Response-Time:
      - "23"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/by?user.fields=pinned_tweet_id%2Cprofile_image_url%2Cpublic_metrics&usernames=kanyewest%2Cjack%2CPopehat
    method: GET
  response:
    body: '{"data":[{"username":"kanyewest","id":"169686021","name":"ye","pinned_tweet_id":"1283507551586459648","public_metrics":{"followers_count":30623890,"following_count":210,"tweet_count":1911,"listed_count":43406},"profile_image_url":"https://pbs.twimg.com/profile_images/1276461929934942210/cqNhNk6v_normal.jpg"},{"username":"jack","id":"12","name":"jack⚡️","pinned_tweet_id":"1247616214769086465","public_metrics":{"followers_count":6125655,"following_count":4512,"tweet_count":28198,"listed_count":31836},"profile_image_url":"https://pbs.twimg.com/profile_images/1115644092329758721/AFjOr-K8_normal.jpg"},{"username":"Popehat","id":"18839937","name":"SatanicBeanbagHat","pinned_tweet_id":"1317118094133751808","public_metrics":{"followers_count":283643,"following_count":1225,"tweet_count":220018,"listed_count":4053},"profile_image_url":"https://pbs.twimg.com/profile_images/884879301190967296/oTCsTck5_normal.jpg"}]}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 8d30ca5d15dda3b08641ca18b0e1a82c793cee58ab8380d7d9c1845646816c0b
      X-Rate-Limit-Limit:
      - "300"
      X-Rate-Limit-Remaining:
      - "297"
      X-Rate-Limit-Reset:
      - "1641670092"
      X-Response-Time:
      - "53"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/lists/1318922483496591360?list.fields=created_at%2Cdescription%2Cfollower_count%2Cmember_count
    method: GET
  response:
    body: '{"data":{"created_at":"2020-10-21T14:29:59.000Z","name":"In Lieu of Fun Guestlist","member_count":174,"description":"Official Twitter guest list of the In Lieu of Fun Show.","id":"1318922483496591360","follower_count":74}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 8d30ca5d15dda3b08641ca18b0e1a82c793cee58ab8380d7d9c1845646816c0b
      X-Rate-Limit-Limit:
      - "75"
      X-Rate-Limit-Remaining:
      - "71"
      X-Rate-Limit-Reset:
      - "1641669701"
      X-Response-Time:
      - "33"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/users/1242605009205956608/owned_lists?list.fields=created_at%2Cdescription%2Cfollower_count%2Cmember_count
    method: GET
  response:
    body: '{"data":[{"created_at":"2020-10-21T14:29:59.000Z","name":"In Lieu of Fun Guestlist","description":"Official Twitter guest list of the In Lieu of Fun Show.","follower_count":74,"id":"1318922483496591360","member_count":174}],"meta":{"result_count":1}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 8d30ca5d15dda3b08641ca18b0e1a82c793cee58ab8380d7d9c1845646816c0b
      X-Rate-Limit-Limit:
      - "15"
      X-Rate-Limit-Remaining:
      - "13"
      X-Rate-Limit-Reset:
      - "1641670143"
      X-Response-Time:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Acreachadair+has%3Amentions
    method: GET
  response:
    body: '{"data":[{"id":"1479631037634265089","text":"@Klonick Three days later they broke down the doors. The crashing and screaming were found to be a recording; they had drunk all the champagne and absconded together leaving no forwarding address."},{"id":"1479347219564171264","text":"@galaxybloom_ We have met the enemy, and they are us."}],"meta":{"newest_id":"1479631037634265089","oldest_id":"1479347219564171264","result_count":2}}'
    headers:
      Api-Version:
      - "2.32"
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 8d30ca5d15dda3b08641ca18b0e1a82c793cee58ab8380d7d9c1845646816c0b
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "449"
      X-Rate-Limit-Reset:
      - "1641670189"
      X-Response-Time:
      - "56"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1479888365310906374","text":"@petersagal Good point. But Edmund Pettus was a genuinely odious human being. He''s not a Jefferson or a Woodrow Wilson who made immense contributions among his contributions to white supremacy.[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fpe194xjtyznrafverrviqny9g23r1&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1479822069013651464","text":"Two important things about this thread:\n(1) What a great class this must have been. Kudos to @YaleLawSch—an institution I don’t praise o[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?next_token=b26v89c19zqg8o3fpe194t9s1ysmf7498a0cpktk5ycn1&query=from%3Abenjaminwittes+-has%3Aimages
    method: GET
  response:
    body: '{"data":[{"id":"1479635977723424771","text":"RT @Abn_RN: This will be my most sincere tweet ever.\n\nI am pleading with anyone who will listen. I’m begging you, as a nurse, from the [...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/recent?max_results=10&query=from%3Abenjaminwittes+%22Today+on+%40inlieuoffunshow%22&tweet.fields=author_id%2Centities
    method: GET
  response:
    body: '{"data":[{"author_id":"186667011","text":"Today on @inlieuoffunshow... it''s @mollyesque talking about Michael Fanone and his life since Jan. 6. https://t.co/IBez2zx3xy",[...]
- request:
    body: '{"add":[{"value":"cat has:images lang:en","tag":"test english kittens whargarbl"}]}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules
    method: POST
  response:
    body: '{"data":[{"value":"cat has:images lang:en","tag":"test english kittens whargarbl","id":"1479894382203392001"}],"meta":{"sent":"2022-01-08T19:14:50.524Z","summary":{"created":1,"not_created":0,"valid":1,"invalid":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 8d30ca5d15dda3b08641ca18b0e1a82c793cee58ab8380d7d9c1845646816c0b
      X-Rate-Limit-Limit:
      - "50"
      X-Rate-Limit-Remaining:
      - "49"
      X-Rate-Limit-Reset:
      - "1641670190"
      X-Response-Time:
      - "130"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/stream/rules?ids=1479894382203392001
    method: GET
  response:
    body: '{"data":[{"id":"1479894382203392001","value":"cat has:images lang:en","tag":"test english kittens whargarbl"}],"meta":{"sent":"2022-01-08T19:14:50.653Z"}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 8d30ca5d15dda3b08641ca18b0e1a82c793cee58ab8380d7d9c1845646816c0b
      X-Rate-Limit-Limit:
      - "450"
      X-Rate-Limit-Remaining:
      - "449"
      X-Rate-Limit-Reset:
      - "1641670190"
      X-Response-Time:
      - "49"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"delete":{"ids":["1479894382203392001"]}}'
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
      Content-Type:
      - application/json
    url: https://api.twitter.com/2/tweets/search/stream/rules?dry_run=true
    method: POST
  response:
    body: '{"meta":{"sent":"2022-01-08T19:14:50.960Z","summary":{"deleted":1,"not_deleted":0}}}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 8d30ca5d15dda3b08641ca18b0e1a82c793cee58ab8380d7d9c1845646816c0b
      X-Rate-Limit-Limit:
      - "50"
      X-Rate-Limit-Remaining:
      - "48"
      X-Rate-Limit-Reset:
      - "1641670190"
      X-Response-Time:
      - "158"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/1.1/statuses/show.json?id=1297524288245895168&tweet_mode=extended
    method: GET
  response:
    body: '{"created_at":"Sun Aug 23 13:21:11 +0000 2020","id":1297524288245895168,"id_str":"1297524288245895168","full_text":"Today on @inlieuoffunshow, it''s Mystery Guest Sunday. I bring a mystery guest recommended by audience members yesterday. Who will it be?\n5:00 pm Eastern time.\nOn Crowdcast: https:\/\/t.co\/N3pCyxcpZW \nOn YouTube: https:\/\/t.co\/pUKPEg4UKz\nOn Facebook, or right here on Twitter.","truncated":false,"display_text_range":[0,272],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"inlieuoffunshow","name":"In Lieu of Fun Show","id":1242605009205956608,"id_str":"1242605009205956608","indices":[9,25]}],"urls":[{"url":"https:\/\/t.co\/N3pCyxcpZW","expanded_url":"https:\/\/www.crowdcast.io\/e\/in-lieu-of-fun-episode-44","display_url":"crowdcast.io\/e\/in-lieu-of-f\u2026","indices":[173,196]},{"url":"https:\/\/t.co\/pUKPEg4UKz","expanded_url":"https:\/\/youtu.be\/ua64SYY08rE","display_url":"youtu.be\/ua64SYY08rE","indices":[210,233]}]},"source":"\u003ca href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":186667011,"id_str":"186667011","name":"Benjamin Wittes","screen_name":"benjaminwittes","location":"Washington DC","description":"Senior Fellow at the @BrookingsInst. Editor in Chief of @lawfareblog. Cohost of @inlieuoffunshow. I will block you for any reason or none at all.","url":"https:\/\/t.co\/eNn7IXx0Av","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/eNn7IXx0Av","expanded_url":"http:\/\/www.lawfareblog.com","display_url":"lawfareblog.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":411455,"friends_count":2295,"listed_count":4967,"created_at":"Sat Sep 04 02:04:41 +0000 2010","favourites_count":6397,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":40891,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1478503080585043969\/tAKVz38__normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1478503080585043969\/tAKVz38__normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/186667011\/1630960375","profile_link_color":"981CEB","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":2,"favorite_count":11,"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"}'
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 08 Jan 2022 19:14:51 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 8d30ca5d15dda3b08641ca18b0e1a82c793cee58ab8380d7d9c1845646816c0b
      X-Rate-Limit-Limit:
      - "900"
      X-Rate-Limit-Remaining:
      - "899"
      X-Rate-Limit-Reset:
      - "1641670191"
      X-Response-Time:
      - "24"
      X-Transaction:
      - 5564ac11d77eb415
      X-Twitter-Response-Tags:
      - BouncerCompliant
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/sample/stream?tweet.fields=author_id%2Centities
    method: GET
  response:
    body: "{\"data\":{\"author_id\":\"1450261104391770112\",\"entities\":{\"mentions\":[{\"start\":0,\"end\":6,\"username\":\"cd4k4\",\"id\":\"855900824\"}]},\"id\":\"1479894357796917256\",\"text\":\"@cd4k4 \U0001F44C\"}}\r\n{\"data\":{\"author_id\":\"145119[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer this-is-a-fake-auth-token-for-testing
    url: https://api.twitter.com/2/tweets/search/stream?tweet.fields=author_id
    method: GET
  response:
    body: "{\"data\":{\"author_id\":\"940705970451288067\",\"id\":\"1479894374368649217\",\"text\":\"RT @memesiwish: My cat organiser is failing plz help https://t.co/KaX8rKvyCg\"},\"matching_rules\":[{\"id\":\"1479894405800620033\",\"tag\":\"\"}]}\r\n{\"data\":{\"author_id\":\"1448680034592567310\",\"id\":\"1479894373995274254\",\"text\":\"@mrgrabitis here's an old ape! Lots of EYES on this, pun intended! \U0001F440\\nDon’t be late to the club, GRAMPS!\\n\\n@GrandpaApeCC\\n\\n#GrandpaApeCC \\n#GACC \\n#GrandpaApeCountryClub\\n#BAYC #BoredApeYachtClub \\n#MutantApeYachtClub \\n#ETH #NFT #NFTs https://t.co/olKwf93S9y\"},\"matching_rules\":[{\"id\":\"1479894405800620033\",\"tag\":\"\"}]}\r\n{\[...]
[...]
